<a id='top'></a>
# How to slice and dice the data
Below are a series of examples on how to slice and dice the data that is stored in the *.sqlite* file generated by the [MorningStar.com](https://www.morningstar.com) scraper. 

##### NOTE: 
- The data used to generate the codes below comes from the *.sqlite* that is generated by the scraper once it has been installed and ran locally on your machine. See the [README]() for instructions on how to run install and run the scraper.
- Navigation links as the ones in the list of content below as well as other links throught this document will only work if you are using [Jupyter](https://jupyter.org/) to view this document.


**Content** 

1. [Required modules and matplotlib backend](#modules)
1. [Creating a master (bridge table) DataFrame instance using the DataFrames class](#master)
1. [Creating DataFrame instances with the dataframes methods](#methods)
1. [Statistical values on the MorningStar data downloaded](#stats)
1. [Applying various criteria to filter common stocks](#value) *(in progress)*
1. [Additional sample / test code](#additional) *(in progress)*

<a id="modules"></a>
## Required modules and matplotlib backend

In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import matplotlib

In [3]:
from importlib import reload
import pandas as pd
import numpy as np

# Import dataframes module from project folder.
# This module contains a class that reads the database tables and assigns the data to pandas.DataFrame objects
import dataframes
reload(dataframes) #reload if changes have been made to module file

[return to the top](#top)
<a id="master"></a>
## Creating a master DataFrame instance using the dataframes class
The DataFrames class is part of the [dataframes module](dataframes.py)

In [4]:
db_file_name = 'mstables2' # Change the file name here as needed
df = dataframes.DataFrames('db/{}.sqlite'.format(db_file_name))

Creating intial DataFrames from file db/mstables2.sqlite...
Creating DataFrame 'colheaders' ...
Creating DataFrame 'timerefs' ...
Creating DataFrame 'urls' ...
Creating DataFrame 'securitytypes' ...
Creating DataFrame 'tickers' ...
Creating DataFrame 'sectors' ...
Creating DataFrame 'industries' ...
Creating DataFrame 'stockstyles' ...
Creating DataFrame 'exchanges' ...
Creating DataFrame 'countries' ...
Creating DataFrame 'companies' ...
Creating DataFrame 'currencies' ...
Creating DataFrame 'stocktypes' ...
Creating DataFrame 'master' ...
Initial DataFrames created.

### Creating Master DataFrame instance from reference tables
By merging `df.master` (*Master* bridge table) with other reference tables (e.g. `df.tickers`, `df.exchanges`, etc.)
##### DataFrame Instance

In [5]:
# Merge Tables
df_master0 = (df.master
# Ticker Symbols
 .merge(df.tickers, left_on='ticker_id', right_on='id').drop(['id'], axis=1)
# Company / Security Name
 .merge(df.companies, left_on='company_id', right_on='id').drop(['id', 'company_id'], axis=1)
# Exchanges
 .merge(df.exchanges, left_on='exchange_id', right_on='id').drop(['id'], axis=1)
# Industries
 .merge(df.industries, left_on='industry_id', right_on='id').drop(['id', 'industry_id'], axis=1)
# Sectors
 .merge(df.sectors, left_on='sector_id', right_on='id').drop(['id', 'sector_id'], axis=1)
# Countries
 .merge(df.countries, left_on='country_id', right_on='id').drop(['id', 'country_id'], axis=1)
# Security Types
 .merge(df.securitytypes, left_on='security_type_id', right_on='id').drop(['id', 'security_type_id'], axis=1)
# Stock Types
 .merge(df.stocktypes, left_on='stock_type_id', right_on='id').drop(['id', 'stock_type_id'], axis=1)
# Stock Style Types
 .merge(df.styles, left_on='style_id', right_on='id').drop(['id', 'style_id'], axis=1)
# Quote Header Info
 .merge(df.quoteheader(), on=['ticker_id', 'exchange_id']).rename(columns={'fpe':'Forward_PE'})
# Currency
 .merge(df.currencies, left_on='currency_id', right_on='id').drop(['id', 'currency_id'], axis=1)
# Fiscal Year End
 .merge(df.timerefs, left_on='fyend_id', right_on='id').drop(['fyend_id'], axis=1)
             .rename(columns={'dates':'fy_end'})
# Updated Date
 .merge(df.timerefs, left_on='update_date_id', right_on='id').drop(['update_date_id'], axis=1)
             .rename(columns={'dates':'updated_date'})
)

# Change date columns to TimeFrames
df_master0['fy_end'] = pd.to_datetime(df_master0['fy_end'])
df_master0['updated_date'] = pd.to_datetime(df_master0['updated_date'])

# Create df_master and apply filters
df_master = df_master0.copy()

df_master[['lastprice', 'day_hi', 'day_lo', '_52wk_hi', '_52wk_lo', 'yield', 'aprvol', 'avevol']] = (
    df_master[['lastprice', 'day_hi', 'day_lo', '_52wk_hi', '_52wk_lo', 'yield', 'aprvol', 'avevol']]
    .fillna(value=0.0))

df_master = (df_master.where((df_master['openprice'] > 0.0) & (df_master['lastprice'] > 0.0))
             .dropna(axis=0, how='all'))

In [6]:
df_master.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,aprvol,avevol,Forward_PE,pb,ps,pc,currency,currency_code,fy_end,updated_date
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,11.0,3498.0,NaN,2.4,6.4,16.7,United States Dollar,USD,2019-12-31,2019-04-08
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,1300.0,3014.0,NaN,2.4,6.4,16.8,United States Dollar,USD,2019-12-31,2019-04-08
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,4243.0,17288.0,NaN,2.4,6.4,16.8,United States Dollar,USD,2019-12-31,2019-04-08
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,483944.0,90418.0,NaN,5.1,9.9,14.9,United States Dollar,USD,2019-12-31,2019-04-08
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,15000000.0,17000000.0,NaN,1.9,12.7,17.5,United States Dollar,USD,2019-12-31,2019-04-08

##### DataFrame Length

In [7]:
print('Master DataFrame contains {:,.0f} records.'.format(len(df_master)))

Master DataFrame contains 103,499 records.

##### DataFrame Columns

In [8]:
df_master.columns

Index(['ticker_id', 'exchange_id', 'ticker', 'company', 'exchange',
       'exchange_sym', 'industry', 'sector', 'country', 'country_c2',
       'country_c3', 'security_type_code', 'security_type', 'stock_type',
       'style', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'aprvol', 'avevol', 'Forward_PE', 'pb', 'ps', 'pc',
       'currency', 'currency_code', 'fy_end', 'updated_date'],
      dtype='object')

<br></br>
[return to the top](#top)
<a id='methods'></a>
## Creating DataFrame instances with dataframes methods
Class DataFrames from [dataframe.py](dataframe.py) contains the following methods that return a pd.DataFrame object for the specified database table:

- `quoteheader` - [MorningStar (MS) Quote Header](#quote)
- `valuation` - [MS Valuation table with Price Ratios (P/E, P/S, P/B, P/C) for the past 10 yrs](#val)
- `keyratios` - [MS Ratio - Key Financial Ratios & Values](#keyratios)
- `finhealth` - [MS Ratio - Financial Health](#finhealth)
- `profitability` - [MS Ratio - Profitability](#prof)
- `growth` - [MS Ratio - Growth](#growth)
- `cfhealth` - [MS Ratio - Cash Flow Health](#cfh)
- `efficiency` - [MS Ratio - Efficiency](#eff)
- `annualIS` - [MS Annual Income Statements](#isa)
- `quarterlyIS` - [MS Quarterly Income Statements](#isq)
- `annualBS` - [MS Annual Balance Sheets](#bsa)
- `quarterlyBS` - [MS Quarterly Balance Sheets](#bsq)
- `annualCF` - [MS Annual Cash Flow Statements](#cfa)
- `quarterlyCF` - [MS Quarterly Cash Flow Statements](#cfq)
- `pricehistory` - MSpricehistory

[return to the top](#top)
<a id='quote'></a>
### Quote Header 
##### DataFrame Instance

In [9]:
df_quote = df.quoteheader()

In [10]:
df_quote.head()

,ticker_id,exchange_id,openprice,lastprice,day_hi,day_lo,_52wk_hi,_52wk_lo,yield,aprvol,avevol,fpe,pb,ps,pc,currency_id
0,1,374,15.73,15.72,15.73,15.72,17.72,12.16,2.67,11.0,3498.0,NaN,2.4,6.4,16.7,104.0
1,2,374,15.75,15.77,15.78,15.73,17.68,13.68,2.66,1300.0,3014.0,NaN,2.4,6.4,16.8,104.0
2,3,374,15.76,15.71,15.76,15.63,17.79,11.99,2.67,4243.0,17288.0,NaN,2.4,6.4,16.8,104.0
3,4,482,96.19,95.9,96.48,95.35,115.11,87.87,1.25,192854.0,804691.0,19.8,3.3,3.9,20.1,104.0
4,5,1,0.00,0,0,0,0,0,NaN,184.0,184.0,NaN,NaN,NaN,NaN,104.0

##### DataFrame Length

In [11]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quote)))

DataFrame contains 117,675 records.

<a id='val'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Price Ratios (P/E, P/S, P/B, P/C)
##### DataFrame Instance

In [12]:
df_vals = df.valuation().reset_index()

In [13]:
df_vals

,exchange_id,ticker_id,PE_2009,PE_2010,PE_2011,PE_2012,PE_2013,PE_2014,PE_2015,PE_2016,...,PC_2010,PC_2011,PC_2012,PC_2013,PC_2014,PC_2015,PC_2016,PC_2017,PC_2018,PC_TTM
0,374,1,NaN,NaN,NaN,NaN,NaN,18.6,69.0,57.8,...,NaN,NaN,NaN,48.3,-153.8,24.3,25.8,26.3,21.5,16.7
1,374,2,NaN,NaN,NaN,NaN,NaN,18.2,69.0,58.8,...,NaN,NaN,NaN,50.5,-151.5,24.3,26.2,26.4,20.3,16.8
2,374,3,NaN,NaN,NaN,NaN,NaN,18.3,69.4,58.8,...,NaN,NaN,NaN,48.3,-153.8,24.4,26.2,26.7,20.6,16.8
3,482,4,NaN,22.2,17.4,16.6,27.0,29.7,26.6,31.7,...,16.2,11.1,12.9,19.6,23.1,19.9,26.8,52.9,21.8,20.1
4,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.8,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,10,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,...,-0.8,-0.1,0.0,11.2,-0.4,0.0,0.0,NaN,NaN,NaN
10,1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-15.0,-15.9,-4.7,-2.0,-0.7,-0.2,NaN,NaN,NaN,NaN
11,1,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-33.3,-7.3,-0.9,-23.8,-9.6,-5.8,NaN,NaN,NaN,NaN
12,1,13,NaN,28.7,50.0,NaN,NaN,NaN,NaN,NaN,...,1.2,2.5,-37.0,-6.5,0.0,0.0,NaN,NaN,NaN,NaN
13,1,14,8.8,10.9,2.8,NaN,NaN,NaN,NaN,NaN,...,22.6,2.0,NaN,-0.3,0.0,0.0,NaN,NaN,NaN,NaN
14,1,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-11.0,-11.1,-6.2,-2.3,-0.1,-0.1,NaN,NaN,NaN,NaN
15,1,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7,0.7,1.3,1.4,NaN,-0.1,NaN,NaN,NaN,NaN
16,1,17,NaN,1.2,0.3,NaN,NaN,NaN,NaN,NaN,...,-2.7,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,-0.3,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,1,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.8,0.0,0.0,0.0,NaN,NaN
20,1,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.1,-1.4,-13.6,-70.4,-0.5,0.0,NaN,NaN,NaN,NaN
22,1,23,2.5,5.0,NaN,6.0,NaN,19.7,28.7,43.3,...,3.1,-11.4,12.5,9.7,-35.2,29.2,12.6,41.0,16.6,20.1
23,1,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,...,-1.0,-2.7,-1.6,33.3,-9.9,-6.2,-4.8,64.1,-28.1,NaN
25,1,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-58.8,-18.4,-4.6,-0.2,0.0,NaN,NaN,NaN,NaN,NaN
29,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79986,144,236714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79987,144,246148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79988,144,246181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79989,302,248426,34.0,17.1,7.2,21.9,26.2,22.6,13.7,17.5,...,17.4,11.4,11.3,13.9,14.9,10.1,9.1,7.2,10.1,10.1
79990,144,259000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.8
79991,144,261845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79992,144,265260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.4
79993,144,288628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79994,144,290586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79995,144,290612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.4
79996,144,292118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9
79997,144,295595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79998,144,511726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
79999,141,516206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80000,144,521755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80001,144,533077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
80002,144,555848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80003,575,560123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8,...,3.4,1.8,2.8,0.8,-5.0,19.2,-4.0,-1.1,-2.4,NaN
80004,144,560152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
80005,144,600060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.9
80006,433,611978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80007,144,616126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
80008,144,618684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80009,144,621190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.3
80010,17,31773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80011,144,45860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80012,142,46956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379.1
80013,142,65178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80014,144,71456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80015,141,80526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.4

##### DataFrame Length

In [14]:
print('DataFrame contains {:,.0f} records.'.format(len(df_vals)))

DataFrame contains 80,016 records.

##### DataFrame Columnns

In [15]:
df_vals.columns

Index(['exchange_id', 'ticker_id', 'PE_2009', 'PE_2010', 'PE_2011', 'PE_2012',
       'PE_2013', 'PE_2014', 'PE_2015', 'PE_2016', 'PE_2017', 'PE_2018',
       'PE_TTM', 'PS_2009', 'PS_2010', 'PS_2011', 'PS_2012', 'PS_2013',
       'PS_2014', 'PS_2015', 'PS_2016', 'PS_2017', 'PS_2018', 'PS_TTM',
       'PB_2009', 'PB_2010', 'PB_2011', 'PB_2012', 'PB_2013', 'PB_2014',
       'PB_2015', 'PB_2016', 'PB_2017', 'PB_2018', 'PB_TTM', 'PC_2009',
       'PC_2010', 'PC_2011', 'PC_2012', 'PC_2013', 'PC_2014', 'PC_2015',
       'PC_2016', 'PC_2017', 'PC_2018', 'PC_TTM'],
      dtype='object')

<a id='keyratios'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Key Ratios
##### DataFrame Instance

In [16]:
df_keyratios = (df_master.merge(df.keyratios(), on=['ticker_id', 'exchange_id']))

In [17]:
df_keyratios.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM

##### DataFrame Length

In [18]:
print('DataFrame contains {:,.0f} records.'.format(len(df_keyratios)))

DataFrame contains 68,314 records.

##### DataFrame Columnns

In [19]:
df_labels_kratios = (df_keyratios
                     .loc[0, [col for col in df_keyratios.columns if 'Y' not in col and col.startswith('i')]]
                     .replace(df.colheaders['header']))
df_labels_kratios

industry          REIT - Diversified
i0                           Revenue
i1                      Gross_Margin
i2                  Operating_Income
i3                  Operating_Margin
i4                        Net_Income
i5                Earnings_Per_Share
i6                         Dividends
i91                     Payout_Ratio
i7                            Shares
i8              Book_Value_Per_Share
i9               Operating_Cash_Flow
i10                     Cap_Spending
i11                   Free_Cash_Flow
i90         Free_Cash_Flow_Per_Share
i80                  Working_Capital
Name: 0, dtype: object

<a id='finhealth'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Financial Health
##### DataFrame Instance

In [20]:
df_finhealth = df.finhealth()

In [21]:
df_finhealth.head()

,ticker_id,exchange_id,fh_balsheet,i45,i45_fh_Y0,i45_fh_Y1,i45_fh_Y2,i45_fh_Y3,i45_fh_Y4,i45_fh_Y5,...,fh_Y1,fh_Y2,fh_Y3,fh_Y4,fh_Y5,fh_Y6,fh_Y7,fh_Y8,fh_Y9,fh_Y10
0,1,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
1,2,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
2,3,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
3,4,482,324,325,67.09,21.17,41.16,40.02,50.12,38.53,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
4,23,1,324,325,37.05,83.93,79.97,86.32,99.22,22.23,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr

In [22]:
print('DataFrame contains {:,.0f} records.'.format(len(df_finhealth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [23]:
(df_finhealth.loc[0, [col for col in df_finhealth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

fh_balsheet         Balance Sheet Items (in %)
i45              Cash & Short-Term Investments
i46                        Accounts Receivable
i47                                  Inventory
i48                       Other Current Assets
i49                       Total Current Assets
i50                                   Net PP&E
i51                                Intangibles
i52                     Other Long-Term Assets
i53                               Total Assets
i54                           Accounts Payable
i55                            Short-Term Debt
i56                              Taxes Payable
i57                        Accrued Liabilities
i58               Other Short-Term Liabilities
i59                  Total Current Liabilities
i60                             Long-Term Debt
i61                Other Long-Term Liabilities
i62                          Total Liabilities
i63                  Total Stockholders Equity
i64                 Total Liabilities & Equity
lfh_liquidity       Liquidity/Financial Health
i65                              Current Ratio
i66                                Quick Ratio
i67                         Financial Leverage
i68                                Debt/Equity
Name: 0, dtype: object

<a id='prof'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Profitability
##### DataFrame Instance

In [24]:
df_profitability = df.profitability()

In [25]:
df_profitability.head()

,ticker_id,exchange_id,pr_margins,i12,i12_pr_Y0,i12_pr_Y1,i12_pr_Y2,i12_pr_Y3,i12_pr_Y4,i12_pr_Y5,...,pr_Y1,pr_Y2,pr_Y3,pr_Y4,pr_Y5,pr_Y6,pr_Y7,pr_Y8,pr_Y9,pr_Y10
0,1,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,279,202,100.0,100.0,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,279,202,100.0,100.0,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [26]:
print('DataFrame contains {:,.0f} records.'.format(len(df_profitability)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [27]:
# Financial Health DataFrame Columns
(df_profitability.loc[0, [col for col in df_profitability.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

pr_margins              Margins % of Sales
i12                                Revenue
i13                                   COGS
i14                           Gross Margin
i15                                   SG&A
i16                                    R&D
i17                                  Other
i18                       Operating Margin
i19                    Net Int Inc & Other
i20                             EBT Margin
pr_profit                    Profitability
i21                             Tax Rate %
i22                           Net Margin %
i23               Asset Turnover (Average)
i24                     Return on Assets %
i25           Financial Leverage (Average)
i26                     Return on Equity %
i27           Return on Invested Capital %
i95                      Interest Coverage
Name: 0, dtype: object

<a id='growth'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Growth
##### DataFrame Instance

In [28]:
df_growth = df.growth()

In [29]:
df_growth.head()

,ticker_id,exchange_id,gr_revenue,i28,i28_gr_Y0,i28_gr_Y1,i28_gr_Y2,i28_gr_Y3,i28_gr_Y4,i28_gr_Y5,...,gr_Y1,gr_Y2,gr_Y3,gr_Y4,gr_Y5,gr_Y6,gr_Y7,gr_Y8,gr_Y9,gr_Y10
0,1,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
1,2,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
2,3,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
3,4,482,298,299,2.23,2.59,16.25,0.83,11.65,7.90,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
4,23,1,298,299,238.49,16.43,16.43,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr

##### DataFrame Length

In [30]:
print('DataFrame contains {:,.0f} records.'.format(len(df_growth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [31]:
# Financial Health DataFrame Columns
(df_growth.loc[0, [col for col in df_growth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

gr_revenue               Revenue %
i28                 Year over Year
i29                 3-Year Average
i30                 5-Year Average
i31                10-Year Average
gr_operating    Operating Income %
i32                 Year over Year
i33                 3-Year Average
i34                 5-Year Average
i35                10-Year Average
gr_ni                 Net Income %
i81                 Year over Year
i82                 3-Year Average
i83                 5-Year Average
i84                10-Year Average
gr_eps                       EPS %
i36                 Year over Year
i37                 3-Year Average
i38                 5-Year Average
i39                10-Year Average
Name: 0, dtype: object

<a id='cfh'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Cash Flow Health
##### DataFrame Instance

In [32]:
df_cfhealth = df.cfhealth()

In [33]:
df_cfhealth

,ticker_id,exchange_id,cf_cashflow,i40,i40_cf_Y0,i40_cf_Y1,i40_cf_Y2,i40_cf_Y3,i40_cf_Y4,i40_cf_Y5,...,cf_Y1,cf_Y2,cf_Y3,cf_Y4,cf_Y5,cf_Y6,cf_Y7,cf_Y8,cf_Y9,cf_Y10
0,1,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,318,319,-31.63,19.64,50.56,-1.28,11.89,17.06,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,318,319,NaN,51.78,51.78,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
5,33,16,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
6,33,17,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
7,33,138,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
8,33,141,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
9,33,142,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
10,33,144,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
11,135,1,318,319,-25.88,5.58,39.87,39.87,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
12,153,16,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
13,153,17,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
14,153,141,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
15,153,144,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
16,161,1,318,319,71.83,71.83,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
17,171,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
18,209,667,318,319,11.53,10.35,-49.99,36.88,23.95,-13.61,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
19,260,1,318,319,-32.94,22.66,40.31,-18.90,24.96,-0.35,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
20,289,1,318,319,3.39,-35.76,-64.42,39.01,63.60,121.69,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
21,327,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
22,350,1,318,319,-96.19,NaN,42.07,NaN,NaN,353.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
23,371,1,318,319,NaN,NaN,NaN,24.91,-22.58,-32.95,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
24,486,1,318,319,30.42,26.16,-1.79,65.80,23.00,-20.84,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
25,506,1,318,319,NaN,101.60,-59.82,-13.05,265.47,-26.18,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
26,556,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
27,568,1,318,319,NaN,86.55,-17.24,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
28,615,1,318,319,29.05,-26.61,35.27,-5.75,-35.40,51.33,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
29,617,1,318,319,NaN,NaN,-69.82,270.98,-83.13,39.80,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77274,6707,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1990-09,1991-09,1992-09,1993-09,1994-09,1995-09,1996-09,1997-09,1998-09,TTM
77275,6803,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1994-05,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,2002-05,TTM
77276,6807,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,1999-03,TTM
77277,6817,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,2000-03,TTM
77278,7297,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,1999-03,2000-03,TTM
77279,6815,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,1996-12,TTM
77280,6846,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,1996-12,TTM
77281,7203,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,2004-05,2005-05,TTM
77282,6835,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1989-06,1990-06,1991-06,1992-06,1993-06,1994-06,1995-06,1996-06,1997-06,TTM
77283,6882,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1993-05,1994-05,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,TTM
77284,6894,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-03,1989-03,1990-03,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,TTM
77285,6948,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-08,1992-08,1993-08,1994-08,1995-08,1996-08,1997-08,1998-08,1999-08,TTM
77286,6956,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-02,1992-02,1993-02,1994-02,1995-02,1996-02,1997-02,1998-02,1998-06,TTM
77287,7022,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-07,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,TTM
77288,7920,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-07,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,TTM
77289,7093,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-02,1997-02,1998-02,1999-02,2000-02,2001-02,2002-02,2003-02,2004-02,TTM
77290,7254,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-02,1997-02,1998-02,1999-02,2000-02,2001-02,2002-02,2003-02,2004-02,TTM
77291,7119,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1987-12,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,TTM
77292,7466,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1992-10,1993-10,1994-10,1995-10,1996-10,1997-10,1998-10,1999-10,2000-10,TTM
77293,7744,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,2004-07,TTM
77294,7809,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-01,1996-01,1997-01,1998-01,1999-01,2000-01,2001-01,2002-01,2002-10,TTM
77295,7933,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1998-10,1999-10,2000-10,2001-10,2002-10,2003-10,2004-10,2005-10,2006-10,TTM
77296,8125,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1984-12,1985-12,1986-12,1987-12,1988-12,1989-12,1990-12,1991-12,1992-12,TTM
77297,8838,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1989-10,1990-10,1991-10,1992-10,1993-10,1994-10,1995-10,1996-10,1997-10,TTM
77298,9670,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77299,11567,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77300,11745,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77301,12424,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77302,13343,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77303,535517,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM

##### DataFrame Length

In [34]:
print('DataFrame contains {:,.0f} records.'.format(len(df_cfhealth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [35]:
# Financial Health DataFrame Columns
(df_cfhealth.loc[0, [col for col in df_cfhealth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

cf_cashflow                    Cash Flow Ratios
i40            Operating Cash Flow Growth % YOY
i41                 Free Cash Flow Growth % YOY
i42                      Cap Ex as a % of Sales
i43                      Free Cash Flow/Sales %
i44                   Free Cash Flow/Net Income
Name: 0, dtype: object

<a id='eff'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Efficiency
##### DataFrame Instance

In [36]:
df_efficiency = df.efficiency()

In [37]:
df_efficiency.head()

,ticker_id,exchange_id,ef_efficiency,i69,i69_ef_Y0,i69_ef_Y1,i69_ef_Y2,i69_ef_Y3,i69_ef_Y4,i69_ef_Y5,...,ef_Y1,ef_Y2,ef_Y3,ef_Y4,ef_Y5,ef_Y6,ef_Y7,ef_Y8,ef_Y9,ef_Y10
0,1,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,350,351,25.66,28.47,27.05,29.65,30.48,32.01,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,350,351,93.87,58.87,58.87,11.21,11.21,84.13,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [38]:
print('DataFrame contains {:,.0f} records.'.format(len(df_efficiency)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [39]:
# Financial Health DataFrame Columns
(df_efficiency.loc[0, [col for col in df_efficiency.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

ef_efficiency                Efficiency
i69              Days Sales Outstanding
i70                      Days Inventory
i71                     Payables Period
i72               Cash Conversion Cycle
i73                Receivables Turnover
i74                  Inventory Turnover
i75               Fixed Assets Turnover
i76                      Asset Turnover
Name: 0, dtype: object

<a id='isa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Income Statement
##### DataFrame Instance

In [40]:
df_annualIS0 = df.annualIS()

In [41]:
df_annualIS = (df_master 
 .merge(df_annualIS0, on=['ticker_id', 'exchange_id']))

In [42]:
df_annualIS.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,label_tts4,label_tts5,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [43]:
print('DataFrame contains {:,.0f} records.'.format(len(df_annualIS)))

DataFrame contains 68,322 records.

##### DataFrame Columns

In [167]:
labels = [col for col in df_annualIS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualIS[label].unique().tolist() if pd.notna(header)]

df_labels_aIS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aIS['value'] = df_labels_aIS['value'].replace(df.colheaders['header'])
df_labels_aIS[df_labels_aIS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_aIS.values.tolist(), df_labels_aIS.index)))

[(['Advertising and market...'], 'label_i36'),
 (['Advertising and market...'], 'label_i46'),
 (['Advertising and promot...'], 'label_i15'),
 (['Amortization of intang...'], 'label_i47'),
 (['Asset impairment'], 'label_i24'),
 (['Asset mgmt and securit...'], 'label_i4'),
 (['Basic'], 'label_i83'),
 (['Basic'], 'label_i85'),
 (['Benefits, claims and e...'], 'label_s2'),
 (['Borrowed funds'], 'label_i14'),
 (['Commissions and fees'], 'label_i22'),
 (['Compensation and benef...'], 'label_i13'),
 (['Compensation and benef...'], 'label_i32'),
 (['Compensation and benef...'], 'label_i42'),
 (['Cost of revenue'], 'label_i6'),
 (['Costs and expenses'], 'label_g3'),
 (['Credit card income'], 'label_i27'),
 (['Cumulative effect of a...'], 'label_i43'),
 (['Cumulative effect of a...'], 'label_i66'),
 (['Cumulative effect of a...'], 'label_i73'),
 (['Deposits'], 'label_i12'),
 (['Deposits with banks'], 'label_i3'),
 (['Depreciation and amort...'], 'label_i12'),
 (['Depreciation and amort...'], 'label_i13'),
 (['Depreciation and amort...'], 'label_i16'),
 (['Depreciation and amort...'], 'label_i18'),
 (['Depreciation and amort...'], 'label_i25'),
 (['Depreciation and amort...'], 'label_i26'),
 (['Depreciation and amort...'], 'label_i37'),
 (['Diluted'], 'label_i84'),
 (['Diluted'], 'label_i86'),
 (['Dividend income'], 'label_i7'),
 (['EBITDA'], 'label_i90'),
 (['Earnings per share'], 'label_g9'),
 (['Equity investment inco...'], 'label_i24'),
 (['Expenses'], 'label_g2'),
 (['Extraordinary items'], 'label_i42'),
 (['Extraordinary items'], 'label_i65'),
 (['Extraordinary items'], 'label_i72'),
 (['Federal funds purchase...'], 'label_i13'),
 (['Federal funds sold'], 'label_i4'),
 (['Gain on sale of equity...'], 'label_i25'),
 (['Gross profit'], 'label_i10'),
 (['Income (loss) from con...'], 'label_i61'),
 (['Income before income t...'], 'label_i30'),
 (['Income before income t...'], 'label_i41'),
 (['Income before income t...'], 'label_i60'),
 (['Income before income t...'], 'label_i61'),
 (['Income before taxes'], 'label_i60'),
 (['Income before taxes'], 'label_i61'),
 (['Income from discontinu...'], 'label_i64'),
 (['Income tax (expense) b...'], 'label_i62'),
 (['Income taxes'], 'label_i62'),
 (['Insurance commissions'], 'label_i28'),
 (['Insurance premium'], 'label_i28'),
 (['Interest Expense'], 'label_i31'),
 (['Interest Expense'], 'label_i51'),
 (['Interest and dividend ...'], 'label_s1'),
 (['Interest credited to p...'], 'label_i16'),
 (['Interest expense'], 'label_g2'),
 (['Interest expense'], 'label_i15'),
 (['Interest expense'], 'label_i24'),
 (['Interest expense'], 'label_i28'),
 (['Interest expense'], 'label_s2'),
 (['Interest expenses'], 'label_i23'),
 (['Interest income'], 'label_g1'),
 (['Interest income'], 'label_i11'),
 (['Interest income'], 'label_i22'),
 (['Investment banking'], 'label_i2'),
 (['Investment income, net'], 'label_i4'),
 (['Lending and deposit-re...'], 'label_i25'),
 (['Loans and Leases'], 'label_i2'),
 (['Long-term debt'], 'label_i15'),
 (['Merger, acquisition an...'], 'label_i19'),
 (['Merger, acquisition an...'], 'label_i39'),
 (['Merger, acquisition an...'], 'label_i49'),
 (['Minority interest'], 'label_i62'),
 (['Net income'], 'label_i50'),
 (['Net income'], 'label_i70'),
 (['Net income'], 'label_i80'),
 (['Net income available t...'], 'label_i82'),
 (['Net income from contin...'], 'label_i40'),
 (['Net income from contin...'], 'label_i70'),
 (['Net income from discon...'], 'label_i41'),
 (['Net income from discon...'], 'label_i71'),
 (['Net interest inc after...'], 'label_i37'),
 (['Net interest income'], 'label_i20'),
 (['Noninterest expenses'], 'label_s3'),
 (['Noninterest expenses'], 'label_s5'),
 (['Noninterest revenue'], 'label_g3'),
 (['Noninterest revenue'], 'label_s4'),
 (['Nonoperating income'], 'label_s4'),
 (['Nonrecurring expense'], 'label_i19'),
 (['Occupancy expense'], 'label_i33'),
 (['Occupancy expense'], 'label_i43'),
 (['Operating expenses'], 'label_g3'),
 (['Operating expenses'], 'label_i15'),
 (['Operating expenses'], 'label_s2'),
 (['Operating expenses'], 'label_s3'),
 (['Operating income'], 'label_i20'),
 (['Operating income'], 'label_i21'),
 (['Operating income'], 'label_i30'),
 (['Operation and maintena...'], 'label_i11'),
 (['Other'], 'label_i44'),
 (['Other'], 'label_i74'),
 (['Other assets'], 'label_i9'),
 (['Other distributions'], 'label_i63'),
 (['Other expense'], 'label_i19'),
 (['Other expenses'], 'label_i20'),
 (['Other expenses'], 'label_i41'),
 (['Other expenses'], 'label_i51'),
 (['Other income'], 'label_i12'),
 (['Other income'], 'label_i35'),
 (['Other income'], 'label_i39'),
 (['Other income'], 'label_i69'),
 (['Other income (expense)'], 'label_i23'),
 (['Other income (expense)'], 'label_i29'),
 (['Other income (expense)'], 'label_i32'),
 (['Other income (expense)'], 'label_i52'),
 (['Other income (expense)'], 'label_i63'),
 (['Other income (loss)'], 'label_i10'),
 (['Other operating expens...'], 'label_i29'),
 (['Other special charges'], 'label_i40'),
 (['Other special charges'], 'label_i50'),
 (['Policy acquisition and...'], 'label_i13'),
 (['Policyholder benefits ...'], 'label_i12'),
 (['Policyholder dividends'], 'label_i17'),
 (['Preferred distribution...'], 'label_i62'),
 (['Preferred dividend'], 'label_i81'),
 (['Preferred dividends'], 'label_i81'),
 (['Premiums'], 'label_i2'),
 (['Principal transactions'], 'label_i23'),
 (['Professional and outsi...'], 'label_i35'),
 (['Professional and outsi...'], 'label_i45'),
 (['Provision (benefit) fo...'], 'label_i62'),
 (['Provision for income t...'], 'label_i38'),
 (['Provision for income t...'], 'label_i61'),
 (['Provision for income t...'], 'label_i62'),
 (['Provision for loan los...'], 'label_i36'),
 (['Provisions for credit ...'], 'label_i36'),
 (['Realized capital gains...'], 'label_i5'),
 (['Research and developme...'], 'label_i11'),
 (['Restructuring, merger ...'], 'label_i25'),
 (['Restructuring, merger ...'], 'label_i26'),
 (['Restructuring, merger ...'], 'label_i27'),
 (['Revenue'], 'label_i1'),
 (['Revenue'], 'label_s1'),
 (['Revenues'], 'label_s1'),
 (['Revenues, net of inter...'], 'label_i20'),
 (['Sales, General and adm...'], 'label_i12'),
 (['Sales, General and adm...'], 'label_i14'),
 (['Securities'], 'label_i3'),
 (['Securities'], 'label_i5'),
 (['Securities gains (loss...'], 'label_i26'),
 (['Selling, general and a...'], 'label_i14'),
 (['Service fees and commi...'], 'label_i3'),
 (['Short-term borrowing'], 'label_i14'),
 (['Tech, communication an...'], 'label_i34'),
 (['Tech, communication an...'], 'label_i44'),
 (['Technology and occupan...'], 'label_i14'),
 (['Total benefits, claims...'], 'label_tts2'),
 (['Total costs and expens...'], 'label_ttg3'),
 (['Total expenses'], 'label_ttg2'),
 (['Total interest and div...'], 'label_tts1'),
 (['Total interest expense'], 'label_ttg2'),
 (['Total interest expense'], 'label_tts2'),
 (['Total interest income'], 'label_ttg1'),
 (['Total interest income'], 'label_tts1'),
 (['Total net revenue'], 'label_tts1'),
 (['Total noninterest expe...'], 'label_tts3'),
 (['Total noninterest expe...'], 'label_tts5'),
 (['Total noninterest reve...'], 'label_ttg3'),
 (['Total noninterest reve...'], 'label_tts4'),
 (['Total nonoperating inc...'], 'label_tts4'),
 (['Total operating expens...'], 'label_ttg3'),
 (['Total operating expens...'], 'label_tts2'),
 (['Total revenues'], 'label_tts1'),
 (['Trading assets'], 'label_i6'),
 (['Underwriting and distr...'], 'label_i12'),
 (['Weighted average share...'], 'label_g10')]

<a id='isq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Income Statements
##### DataFrame Instance

In [45]:
df_quarterlyIS = df.quarterlyIS()

In [46]:
df_quarterlyIS.head()

,ticker_id,exchange_id,data_g1_Y_1,data_g1_Y_2,data_g1_Y_3,data_g1_Y_4,data_g1_Y_5,data_g1_Y_6,data_g2_Y_1,data_g2_Y_2,...,label_tts4,label_tts5,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6
0,1,374,NaN,NaN,NaN,NaN,NaN,NaN,124910000.0,133107000.0,...,NaN,NaN,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
1,2,374,NaN,NaN,NaN,NaN,NaN,NaN,124910000.0,133107000.0,...,NaN,NaN,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
2,3,374,NaN,NaN,NaN,NaN,NaN,NaN,124910000.0,133107000.0,...,NaN,NaN,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
3,4,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1213.0,NaN,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
4,23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1213.0,NaN,19.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM

##### DataFrame Length

In [47]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quarterlyIS)))

DataFrame contains 57,297 records.

##### DataFrame Columns

In [166]:
labels = [col for col in df_annualIS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualIS[label].unique().tolist() if pd.notna(header)]

df_labels_aIS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aIS['value'] = df_labels_aIS['value'].replace(df.colheaders['header'])
df_labels_aIS[df_labels_aIS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_aIS.values.tolist(), df_labels_aIS.index)))

[(['Advertising and market...'], 'label_i36'),
 (['Advertising and market...'], 'label_i46'),
 (['Advertising and promot...'], 'label_i15'),
 (['Amortization of intang...'], 'label_i47'),
 (['Asset impairment'], 'label_i24'),
 (['Asset mgmt and securit...'], 'label_i4'),
 (['Basic'], 'label_i83'),
 (['Basic'], 'label_i85'),
 (['Benefits, claims and e...'], 'label_s2'),
 (['Borrowed funds'], 'label_i14'),
 (['Commissions and fees'], 'label_i22'),
 (['Compensation and benef...'], 'label_i13'),
 (['Compensation and benef...'], 'label_i32'),
 (['Compensation and benef...'], 'label_i42'),
 (['Cost of revenue'], 'label_i6'),
 (['Costs and expenses'], 'label_g3'),
 (['Credit card income'], 'label_i27'),
 (['Cumulative effect of a...'], 'label_i43'),
 (['Cumulative effect of a...'], 'label_i66'),
 (['Cumulative effect of a...'], 'label_i73'),
 (['Deposits'], 'label_i12'),
 (['Deposits with banks'], 'label_i3'),
 (['Depreciation and amort...'], 'label_i12'),
 (['Depreciation and amort...'], 'label_i13'),
 (['Depreciation and amort...'], 'label_i16'),
 (['Depreciation and amort...'], 'label_i18'),
 (['Depreciation and amort...'], 'label_i25'),
 (['Depreciation and amort...'], 'label_i26'),
 (['Depreciation and amort...'], 'label_i37'),
 (['Diluted'], 'label_i84'),
 (['Diluted'], 'label_i86'),
 (['Dividend income'], 'label_i7'),
 (['EBITDA'], 'label_i90'),
 (['Earnings per share'], 'label_g9'),
 (['Equity investment inco...'], 'label_i24'),
 (['Expenses'], 'label_g2'),
 (['Extraordinary items'], 'label_i42'),
 (['Extraordinary items'], 'label_i65'),
 (['Extraordinary items'], 'label_i72'),
 (['Federal funds purchase...'], 'label_i13'),
 (['Federal funds sold'], 'label_i4'),
 (['Gain on sale of equity...'], 'label_i25'),
 (['Gross profit'], 'label_i10'),
 (['Income (loss) from con...'], 'label_i61'),
 (['Income before income t...'], 'label_i30'),
 (['Income before income t...'], 'label_i41'),
 (['Income before income t...'], 'label_i60'),
 (['Income before income t...'], 'label_i61'),
 (['Income before taxes'], 'label_i60'),
 (['Income before taxes'], 'label_i61'),
 (['Income from discontinu...'], 'label_i64'),
 (['Income tax (expense) b...'], 'label_i62'),
 (['Income taxes'], 'label_i62'),
 (['Insurance commissions'], 'label_i28'),
 (['Insurance premium'], 'label_i28'),
 (['Interest Expense'], 'label_i31'),
 (['Interest Expense'], 'label_i51'),
 (['Interest and dividend ...'], 'label_s1'),
 (['Interest credited to p...'], 'label_i16'),
 (['Interest expense'], 'label_g2'),
 (['Interest expense'], 'label_i15'),
 (['Interest expense'], 'label_i24'),
 (['Interest expense'], 'label_i28'),
 (['Interest expense'], 'label_s2'),
 (['Interest expenses'], 'label_i23'),
 (['Interest income'], 'label_g1'),
 (['Interest income'], 'label_i11'),
 (['Interest income'], 'label_i22'),
 (['Investment banking'], 'label_i2'),
 (['Investment income, net'], 'label_i4'),
 (['Lending and deposit-re...'], 'label_i25'),
 (['Loans and Leases'], 'label_i2'),
 (['Long-term debt'], 'label_i15'),
 (['Merger, acquisition an...'], 'label_i19'),
 (['Merger, acquisition an...'], 'label_i39'),
 (['Merger, acquisition an...'], 'label_i49'),
 (['Minority interest'], 'label_i62'),
 (['Net income'], 'label_i50'),
 (['Net income'], 'label_i70'),
 (['Net income'], 'label_i80'),
 (['Net income available t...'], 'label_i82'),
 (['Net income from contin...'], 'label_i40'),
 (['Net income from contin...'], 'label_i70'),
 (['Net income from discon...'], 'label_i41'),
 (['Net income from discon...'], 'label_i71'),
 (['Net interest inc after...'], 'label_i37'),
 (['Net interest income'], 'label_i20'),
 (['Noninterest expenses'], 'label_s3'),
 (['Noninterest expenses'], 'label_s5'),
 (['Noninterest revenue'], 'label_g3'),
 (['Noninterest revenue'], 'label_s4'),
 (['Nonoperating income'], 'label_s4'),
 (['Nonrecurring expense'], 'label_i19'),
 (['Occupancy expense'], 'label_i33'),
 (['Occupancy expense'], 'label_i43'),
 (['Operating expenses'], 'label_g3'),
 (['Operating expenses'], 'label_i15'),
 (['Operating expenses'], 'label_s2'),
 (['Operating expenses'], 'label_s3'),
 (['Operating income'], 'label_i20'),
 (['Operating income'], 'label_i21'),
 (['Operating income'], 'label_i30'),
 (['Operation and maintena...'], 'label_i11'),
 (['Other'], 'label_i44'),
 (['Other'], 'label_i74'),
 (['Other assets'], 'label_i9'),
 (['Other distributions'], 'label_i63'),
 (['Other expense'], 'label_i19'),
 (['Other expenses'], 'label_i20'),
 (['Other expenses'], 'label_i41'),
 (['Other expenses'], 'label_i51'),
 (['Other income'], 'label_i12'),
 (['Other income'], 'label_i35'),
 (['Other income'], 'label_i39'),
 (['Other income'], 'label_i69'),
 (['Other income (expense)'], 'label_i23'),
 (['Other income (expense)'], 'label_i29'),
 (['Other income (expense)'], 'label_i32'),
 (['Other income (expense)'], 'label_i52'),
 (['Other income (expense)'], 'label_i63'),
 (['Other income (loss)'], 'label_i10'),
 (['Other operating expens...'], 'label_i29'),
 (['Other special charges'], 'label_i40'),
 (['Other special charges'], 'label_i50'),
 (['Policy acquisition and...'], 'label_i13'),
 (['Policyholder benefits ...'], 'label_i12'),
 (['Policyholder dividends'], 'label_i17'),
 (['Preferred distribution...'], 'label_i62'),
 (['Preferred dividend'], 'label_i81'),
 (['Preferred dividends'], 'label_i81'),
 (['Premiums'], 'label_i2'),
 (['Principal transactions'], 'label_i23'),
 (['Professional and outsi...'], 'label_i35'),
 (['Professional and outsi...'], 'label_i45'),
 (['Provision (benefit) fo...'], 'label_i62'),
 (['Provision for income t...'], 'label_i38'),
 (['Provision for income t...'], 'label_i61'),
 (['Provision for income t...'], 'label_i62'),
 (['Provision for loan los...'], 'label_i36'),
 (['Provisions for credit ...'], 'label_i36'),
 (['Realized capital gains...'], 'label_i5'),
 (['Research and developme...'], 'label_i11'),
 (['Restructuring, merger ...'], 'label_i25'),
 (['Restructuring, merger ...'], 'label_i26'),
 (['Restructuring, merger ...'], 'label_i27'),
 (['Revenue'], 'label_i1'),
 (['Revenue'], 'label_s1'),
 (['Revenues'], 'label_s1'),
 (['Revenues, net of inter...'], 'label_i20'),
 (['Sales, General and adm...'], 'label_i12'),
 (['Sales, General and adm...'], 'label_i14'),
 (['Securities'], 'label_i3'),
 (['Securities'], 'label_i5'),
 (['Securities gains (loss...'], 'label_i26'),
 (['Selling, general and a...'], 'label_i14'),
 (['Service fees and commi...'], 'label_i3'),
 (['Short-term borrowing'], 'label_i14'),
 (['Tech, communication an...'], 'label_i34'),
 (['Tech, communication an...'], 'label_i44'),
 (['Technology and occupan...'], 'label_i14'),
 (['Total benefits, claims...'], 'label_tts2'),
 (['Total costs and expens...'], 'label_ttg3'),
 (['Total expenses'], 'label_ttg2'),
 (['Total interest and div...'], 'label_tts1'),
 (['Total interest expense'], 'label_ttg2'),
 (['Total interest expense'], 'label_tts2'),
 (['Total interest income'], 'label_ttg1'),
 (['Total interest income'], 'label_tts1'),
 (['Total net revenue'], 'label_tts1'),
 (['Total noninterest expe...'], 'label_tts3'),
 (['Total noninterest expe...'], 'label_tts5'),
 (['Total noninterest reve...'], 'label_ttg3'),
 (['Total noninterest reve...'], 'label_tts4'),
 (['Total nonoperating inc...'], 'label_tts4'),
 (['Total operating expens...'], 'label_ttg3'),
 (['Total operating expens...'], 'label_tts2'),
 (['Total revenues'], 'label_tts1'),
 (['Trading assets'], 'label_i6'),
 (['Underwriting and distr...'], 'label_i12'),
 (['Weighted average share...'], 'label_g10')]

<a id='bsa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Balance Sheet
##### DataFrame Instance

In [49]:
df_annualBS = df.annualBS()

In [50]:
df_annualBS.head()

,ticker_id,exchange_id,data_g1_Y_1,data_g1_Y_2,data_g1_Y_3,data_g1_Y_4,data_g1_Y_5,data_g2_Y_1,data_g2_Y_2,data_g2_Y_3,...,label_ttgg6,label_tts1,label_tts2,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5
0,1,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12
1,2,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12
2,3,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12
3,4,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12
4,23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,19.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12

##### DataFrame Length

In [51]:
print('DataFrame contains {:,.0f} records.'.format(len(df_annualBS)))

DataFrame contains 77,432 records.

##### DataFrame Columns

In [52]:
labels = [col for col in df_annualBS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualBS[label].unique().tolist() if pd.notna(header)]

df_labels_aBS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aBS['value'] = df_labels_aBS['value'].replace(df.colheaders['header'])
df_labels_aBS[df_labels_aBS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_aBS.values.tolist(), df_labels_aBS.index)))

[(['Accounts payable'], 'label_i41'),
 (['Accounts payable'], 'label_i42'),
 (['Accounts payable'], 'label_i43'),
 (['Accrued expenses and l...'], 'label_i46'),
 (['Accrued expenses and l...'], 'label_i47'),
 (['Accrued investment inc...'], 'label_i8'),
 (['Accrued liabilities'], 'label_i45'),
 (['Accrued liabilities'], 'label_i46'),
 (['Accrued liabilities'], 'label_i53'),
 (['Accumulated Depreciati...'], 'label_i10'),
 (['Accumulated Depreciati...'], 'label_i14'),
 (['Accumulated depreciati...'], 'label_i2'),
 (['Accumulated other comp...'], 'label_i89'),
 (['Additional paid-in cap...'], 'label_i84'),
 (['Allowance for loan los...'], 'label_i12'),
 (['Allowance for loan los...'], 'label_i9'),
 (['Assets'], 'label_g1'),
 (['Assets'], 'label_s1'),
 (['Buildings and improvem...'], 'label_i10'),
 (['Capital leases'], 'label_i42'),
 (['Capital leases'], 'label_i43'),
 (['Capital leases'], 'label_i51'),
 (['Cash'], 'label_gg1'),
 (['Cash and cash equivale...'], 'label_i1'),
 (['Cash and cash equivale...'], 'label_i4'),
 (['Cash and cash equivale...'], 'label_i7'),
 (['Cash and due from bank...'], 'label_i1'),
 (['Commercial loans'], 'label_i8'),
 (['Common stock'], 'label_i82'),
 (['Consumer loans'], 'label_i10'),
 (['Current assets'], 'label_g1'),
 (['Current liabilities'], 'label_gg5'),
 (['Debt securities'], 'label_i7'),
 (['Deferred income tax as...'], 'label_i11'),
 (['Deferred income taxes'], 'label_i14'),
 (['Deferred income taxes'], 'label_i15'),
 (['Deferred income taxes'], 'label_i18'),
 (['Deferred income taxes'], 'label_i43'),
 (['Deferred income taxes'], 'label_i44'),
 (['Deferred income taxes'], 'label_i46'),
 (['Deferred income taxes'], 'label_i5'),
 (['Deferred income taxes'], 'label_i6'),
 (['Deferred policy acquis...'], 'label_i10'),
 (['Deferred revenues'], 'label_i46'),
 (['Deferred revenues'], 'label_i47'),
 (['Deferred revenues'], 'label_i54'),
 (['Deferred tax liabiliti...'], 'label_i52'),
 (['Deferred taxes'], 'label_i46'),
 (['Deferred taxes liabili...'], 'label_i52'),
 (['Deposits'], 'label_gg5'),
 (['Deposits'], 'label_i41'),
 (['Deposits'], 'label_i45'),
 (['Deposits with banks'], 'label_i2'),
 (['Derivative assets'], 'label_i6'),
 (['Derivative liabilities'], 'label_i44'),
 (['Dividends payable'], 'label_i47'),
 (['Equity and other inves...'], 'label_i11'),
 (['Equity and other inves...'], 'label_i12'),
 (['Equity and other inves...'], 'label_i15'),
 (['Equity securities'], 'label_i2'),
 (['Federal Home Loan Bank...'], 'label_i6'),
 (['Federal funds purchase...'], 'label_i42'),
 (['Federal funds sold'], 'label_i10'),
 (['Federal funds sold'], 'label_i3'),
 (['Fixed maturity securit...'], 'label_i1'),
 (['Fixtures and equipment'], 'label_i11'),
 (['Foreclosed real estate...'], 'label_i30'),
 (['Future policy benefits'], 'label_i41'),
 (['General Partner'], 'label_i87'),
 (['Goodwill'], 'label_i12'),
 (['Goodwill'], 'label_i13'),
 (['Goodwill'], 'label_i16'),
 (['Goodwill'], 'label_i7'),
 (['Goodwill'], 'label_i8'),
 (['Gross property, plant ...'], 'label_i9'),
 (['Income taxes payable'], 'label_i45'),
 (['Intangible assets'], 'label_i13'),
 (['Intangible assets'], 'label_i14'),
 (['Intangible assets'], 'label_i17'),
 (['Intangible assets'], 'label_i9'),
 (['Interest receivable'], 'label_i14'),
 (['Interest-bearing'], 'label_i42'),
 (['Inventories'], 'label_i4'),
 (['Investments'], 'label_i3'),
 (['Land'], 'label_i9'),
 (['Liabilities'], 'label_g5'),
 (['Liabilities and stockh...'], 'label_s2'),
 (['Loans'], 'label_gg3'),
 (['Loans'], 'label_i30'),
 (['Loans'], 'label_i4'),
 (['Loans'], 'label_i8'),
 (['Loans, total'], 'label_i4'),
 (['Long-term debt'], 'label_i42'),
 (['Long-term debt'], 'label_i44'),
 (['Long-term debt'], 'label_i45'),
 (['Long-term debt'], 'label_i46'),
 (['Long-term debt'], 'label_i47'),
 (['Long-term debt'], 'label_i50'),
 (['Minority Interest'], 'label_i47'),
 (['Minority interest'], 'label_i56'),
 (['Net loans'], 'label_i10'),
 (['Net property, plant an...'], 'label_ttgg2'),
 (['Non-current assets'], 'label_g2'),
 (['Non-current liabilitie...'], 'label_gg6'),
 (['Non-interest-bearing'], 'label_i41'),
 (['Other Equity'], 'label_i83'),
 (['Other assets'], 'label_i11'),
 (['Other assets'], 'label_i16'),
 (['Other assets'], 'label_i19'),
 (['Other assets'], 'label_i40'),
 (['Other assets'], 'label_i8'),
 (['Other current assets'], 'label_i8'),
 (['Other current liabilit...'], 'label_i49'),
 (['Other equity'], 'label_i83'),
 (['Other intangible asset...'], 'label_i14'),
 (['Other intangible asset...'], 'label_i8'),
 (['Other intangibles'], 'label_i17'),
 (['Other liabilities'], 'label_i49'),
 (['Other liabilities'], 'label_i50'),
 (['Other liabilities'], 'label_i80'),
 (['Other liabilities and ...'], 'label_i95'),
 (['Other long-term assets'], 'label_i17'),
 (['Other long-term assets'], 'label_i18'),
 (['Other long-term assets'], 'label_i21'),
 (['Other long-term liabil...'], 'label_i58'),
 (['Other properties'], 'label_i13'),
 (['Payables'], 'label_i43'),
 (['Payables'], 'label_i45'),
 (['Payables and accrued e...'], 'label_i43'),
 (['Payables and accrued e...'], 'label_i44'),
 (['Pensions and other ben...'], 'label_i55'),
 (['Pensions and other pos...'], 'label_i55'),
 (['Policyholder funds'], 'label_i42'),
 (['Preferred stock'], 'label_i81'),
 (['Premises and equipment'], 'label_i12'),
 (['Premises and equipment'], 'label_i7'),
 (['Premises and equipment...'], 'label_i15'),
 (['Premiums and other rec...'], 'label_i9'),
 (['Prepaid expenses'], 'label_i6'),
 (['Prepaid pension benefi...'], 'label_i15'),
 (['Prepaid pension costs'], 'label_i16'),
 (['Prepaid pension costs'], 'label_i19'),
 (['Property and equipment'], 'label_i12'),
 (['Property and equipment'], 'label_i5'),
 (['Property and equipment...'], 'label_i12'),
 (['Property, plant and eq...'], 'label_gg2'),
 (['Property, plant and eq...'], 'label_ttgg2'),
 (['Real estate'], 'label_i5'),
 (['Real estate properties'], 'label_i1'),
 (['Real estate properties...'], 'label_i3'),
 (['Receivables'], 'label_i11'),
 (['Receivables'], 'label_i2'),
 (['Receivables'], 'label_i3'),
 (['Receivables'], 'label_i6'),
 (['Regulatory assets'], 'label_i30'),
 (['Regulatory liabilities'], 'label_i70'),
 (['Repurchase agreement'], 'label_i43'),
 (['Residential loans'], 'label_i9'),
 (['Restricted cash'], 'label_i30'),
 (['Restricted cash'], 'label_i5'),
 (['Restricted cash'], 'label_i9'),
 (['Restricted cash and ca...'], 'label_i2'),
 (['Retained earnings'], 'label_i85'),
 (['Securities'], 'label_gg2'),
 (['Securities and investm...'], 'label_i4'),
 (['Securities available f...'], 'label_i4'),
 (['Securities borrowed'], 'label_i4'),
 (['Securities borrowed'], 'label_i5'),
 (['Securities held to mat...'], 'label_i5'),
 (['Securities purchased u...'], 'label_i7'),
 (['Separate account asset...'], 'label_i14'),
 (['Separate account liabi...'], 'label_i48'),
 (['Short-term borrowing'], 'label_i41'),
 (['Short-term borrowing'], 'label_i42'),
 (['Short-term borrowing'], 'label_i45'),
 (['Short-term borrowing'], 'label_i46'),
 (['Short-term debt'], 'label_i41'),
 (['Short-term debt'], 'label_i42'),
 (['Short-term debt'], 'label_i44'),
 (['Short-term investments'], 'label_i2'),
 (['Short-term investments'], 'label_i6'),
 (['Stockholders equity'], 'label_g8'),
 (['Taxes payable'], 'label_i44'),
 (['Taxes payable'], 'label_i45'),
 (['Taxes payable'], 'label_i47'),
 (['Total Stockholders eq...'], 'label_ttg8'),
 (['Total assets'], 'label_ttg1'),
 (['Total assets'], 'label_tts1'),
 (['Total cash'], 'label_ttgg1'),
 (['Total cash and cash eq...'], 'label_ttgg1'),
 (['Total current assets'], 'label_ttg1'),
 (['Total current liabilit...'], 'label_ttgg5'),
 (['Total deposits'], 'label_ttgg5'),
 (['Total liabilities'], 'label_ttg5'),
 (['Total liabilities and ...'], 'label_tts2'),
 (['Total loans'], 'label_i11'),
 (['Total loans, net'], 'label_ttgg3'),
 (['Total non-current asse...'], 'label_ttg2'),
 (['Total non-current liab...'], 'label_ttgg6'),
 (['Total securities'], 'label_ttgg2'),
 (['Total stockholders eq...'], 'label_ttg8'),
 (['Trading account securi...'], 'label_i3'),
 (['Trading assets'], 'label_i5'),
 (['Trading liabilities'], 'label_i43'),
 (['Trading liabilities'], 'label_i44'),
 (['Trading securities'], 'label_i3'),
 (['Treasury stock'], 'label_i86'),
 (['Unearned premiums'], 'label_i43'),
 (['stockholders equity'], 'label_g8')]

<a id='bsq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Balance Sheet
##### DataFrame Instance

In [53]:
df_quarterlyBS = df.quarterlyBS()

In [54]:
df_quarterlyBS.head()

,ticker_id,exchange_id,data_g1_Y_1,data_g1_Y_2,data_g1_Y_3,data_g1_Y_4,data_g1_Y_5,data_g2_Y_1,data_g2_Y_2,data_g2_Y_3,...,label_ttgg6,label_tts1,label_tts2,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5
0,1,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12
1,2,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12
2,3,374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12
3,4,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12
4,23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,29,19.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12

##### DataFrame Length

In [55]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quarterlyBS)))

DataFrame contains 77,251 records.

##### DataFrame Columns

In [56]:
labels = [col for col in df_quarterlyBS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_quarterlyBS[label].unique().tolist() if pd.notna(header)]

df_labels_qBS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_qBS['value'] = df_labels_qBS['value'].replace(df.colheaders['header'])
df_labels_qBS[df_labels_qBS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_qBS.values.tolist(), df_labels_qBS.index)))

[(['Accounts payable'], 'label_i41'),
 (['Accounts payable'], 'label_i42'),
 (['Accounts payable'], 'label_i43'),
 (['Accrued expenses and l...'], 'label_i46'),
 (['Accrued expenses and l...'], 'label_i47'),
 (['Accrued investment inc...'], 'label_i8'),
 (['Accrued liabilities'], 'label_i45'),
 (['Accrued liabilities'], 'label_i46'),
 (['Accrued liabilities'], 'label_i53'),
 (['Accumulated Depreciati...'], 'label_i10'),
 (['Accumulated Depreciati...'], 'label_i14'),
 (['Accumulated depreciati...'], 'label_i2'),
 (['Accumulated other comp...'], 'label_i89'),
 (['Additional paid-in cap...'], 'label_i84'),
 (['Allowance for loan los...'], 'label_i12'),
 (['Allowance for loan los...'], 'label_i9'),
 (['Assets'], 'label_g1'),
 (['Assets'], 'label_s1'),
 (['Buildings and improvem...'], 'label_i10'),
 (['Capital leases'], 'label_i42'),
 (['Capital leases'], 'label_i43'),
 (['Capital leases'], 'label_i51'),
 (['Cash'], 'label_gg1'),
 (['Cash and cash equivale...'], 'label_i1'),
 (['Cash and cash equivale...'], 'label_i4'),
 (['Cash and cash equivale...'], 'label_i7'),
 (['Cash and due from bank...'], 'label_i1'),
 (['Commercial loans'], 'label_i8'),
 (['Common stock'], 'label_i82'),
 (['Consumer loans'], 'label_i10'),
 (['Current assets'], 'label_g1'),
 (['Current liabilities'], 'label_gg5'),
 (['Debt securities'], 'label_i7'),
 (['Deferred income tax as...'], 'label_i11'),
 (['Deferred income taxes'], 'label_i14'),
 (['Deferred income taxes'], 'label_i15'),
 (['Deferred income taxes'], 'label_i18'),
 (['Deferred income taxes'], 'label_i43'),
 (['Deferred income taxes'], 'label_i44'),
 (['Deferred income taxes'], 'label_i46'),
 (['Deferred income taxes'], 'label_i5'),
 (['Deferred income taxes'], 'label_i6'),
 (['Deferred policy acquis...'], 'label_i10'),
 (['Deferred revenues'], 'label_i46'),
 (['Deferred revenues'], 'label_i47'),
 (['Deferred revenues'], 'label_i54'),
 (['Deferred tax liabiliti...'], 'label_i52'),
 (['Deferred taxes'], 'label_i46'),
 (['Deferred taxes liabili...'], 'label_i52'),
 (['Deposits'], 'label_gg5'),
 (['Deposits'], 'label_i41'),
 (['Deposits'], 'label_i45'),
 (['Deposits with banks'], 'label_i2'),
 (['Derivative assets'], 'label_i6'),
 (['Derivative liabilities'], 'label_i44'),
 (['Dividends payable'], 'label_i47'),
 (['Equity and other inves...'], 'label_i11'),
 (['Equity and other inves...'], 'label_i12'),
 (['Equity and other inves...'], 'label_i15'),
 (['Equity securities'], 'label_i2'),
 (['Federal Home Loan Bank...'], 'label_i6'),
 (['Federal funds purchase...'], 'label_i42'),
 (['Federal funds sold'], 'label_i10'),
 (['Federal funds sold'], 'label_i3'),
 (['Fixed maturity securit...'], 'label_i1'),
 (['Fixtures and equipment'], 'label_i11'),
 (['Foreclosed real estate...'], 'label_i30'),
 (['Future policy benefits'], 'label_i41'),
 (['General Partner'], 'label_i87'),
 (['Goodwill'], 'label_i12'),
 (['Goodwill'], 'label_i13'),
 (['Goodwill'], 'label_i16'),
 (['Goodwill'], 'label_i7'),
 (['Goodwill'], 'label_i8'),
 (['Gross property, plant ...'], 'label_i9'),
 (['Income taxes payable'], 'label_i45'),
 (['Intangible assets'], 'label_i13'),
 (['Intangible assets'], 'label_i14'),
 (['Intangible assets'], 'label_i17'),
 (['Intangible assets'], 'label_i9'),
 (['Interest receivable'], 'label_i14'),
 (['Interest-bearing'], 'label_i42'),
 (['Inventories'], 'label_i4'),
 (['Investments'], 'label_i3'),
 (['Land'], 'label_i9'),
 (['Liabilities'], 'label_g5'),
 (['Liabilities and stockh...'], 'label_s2'),
 (['Loans'], 'label_gg3'),
 (['Loans'], 'label_i30'),
 (['Loans'], 'label_i4'),
 (['Loans'], 'label_i8'),
 (['Loans, total'], 'label_i4'),
 (['Long-term debt'], 'label_i42'),
 (['Long-term debt'], 'label_i44'),
 (['Long-term debt'], 'label_i45'),
 (['Long-term debt'], 'label_i46'),
 (['Long-term debt'], 'label_i47'),
 (['Long-term debt'], 'label_i50'),
 (['Minority Interest'], 'label_i47'),
 (['Minority interest'], 'label_i56'),
 (['Net loans'], 'label_i10'),
 (['Net property, plant an...'], 'label_ttgg2'),
 (['Non-current assets'], 'label_g2'),
 (['Non-current liabilitie...'], 'label_gg6'),
 (['Non-interest-bearing'], 'label_i41'),
 (['Other Equity'], 'label_i83'),
 (['Other assets'], 'label_i11'),
 (['Other assets'], 'label_i16'),
 (['Other assets'], 'label_i19'),
 (['Other assets'], 'label_i40'),
 (['Other assets'], 'label_i8'),
 (['Other current assets'], 'label_i8'),
 (['Other current liabilit...'], 'label_i49'),
 (['Other equity'], 'label_i83'),
 (['Other intangible asset...'], 'label_i14'),
 (['Other intangible asset...'], 'label_i8'),
 (['Other intangibles'], 'label_i17'),
 (['Other liabilities'], 'label_i49'),
 (['Other liabilities'], 'label_i50'),
 (['Other liabilities'], 'label_i80'),
 (['Other liabilities and ...'], 'label_i95'),
 (['Other long-term assets'], 'label_i17'),
 (['Other long-term assets'], 'label_i18'),
 (['Other long-term assets'], 'label_i21'),
 (['Other long-term liabil...'], 'label_i58'),
 (['Other properties'], 'label_i13'),
 (['Payables'], 'label_i43'),
 (['Payables'], 'label_i45'),
 (['Payables and accrued e...'], 'label_i43'),
 (['Payables and accrued e...'], 'label_i44'),
 (['Pensions and other ben...'], 'label_i55'),
 (['Pensions and other pos...'], 'label_i55'),
 (['Policyholder funds'], 'label_i42'),
 (['Preferred stock'], 'label_i81'),
 (['Premises and equipment'], 'label_i12'),
 (['Premises and equipment'], 'label_i7'),
 (['Premises and equipment...'], 'label_i15'),
 (['Premiums and other rec...'], 'label_i9'),
 (['Prepaid expenses'], 'label_i6'),
 (['Prepaid pension benefi...'], 'label_i15'),
 (['Prepaid pension costs'], 'label_i16'),
 (['Prepaid pension costs'], 'label_i19'),
 (['Property and equipment'], 'label_i12'),
 (['Property and equipment'], 'label_i5'),
 (['Property and equipment...'], 'label_i12'),
 (['Property, plant and eq...'], 'label_gg2'),
 (['Property, plant and eq...'], 'label_ttgg2'),
 (['Real estate'], 'label_i5'),
 (['Real estate properties'], 'label_i1'),
 (['Real estate properties...'], 'label_i3'),
 (['Receivables'], 'label_i11'),
 (['Receivables'], 'label_i2'),
 (['Receivables'], 'label_i3'),
 (['Receivables'], 'label_i6'),
 (['Regulatory assets'], 'label_i30'),
 (['Regulatory liabilities'], 'label_i70'),
 (['Repurchase agreement'], 'label_i43'),
 (['Residential loans'], 'label_i9'),
 (['Restricted cash'], 'label_i30'),
 (['Restricted cash'], 'label_i5'),
 (['Restricted cash'], 'label_i9'),
 (['Restricted cash and ca...'], 'label_i2'),
 (['Retained earnings'], 'label_i85'),
 (['Securities'], 'label_gg2'),
 (['Securities and investm...'], 'label_i4'),
 (['Securities available f...'], 'label_i4'),
 (['Securities borrowed'], 'label_i4'),
 (['Securities borrowed'], 'label_i5'),
 (['Securities held to mat...'], 'label_i5'),
 (['Securities purchased u...'], 'label_i7'),
 (['Separate account asset...'], 'label_i14'),
 (['Separate account liabi...'], 'label_i48'),
 (['Short-term borrowing'], 'label_i41'),
 (['Short-term borrowing'], 'label_i42'),
 (['Short-term borrowing'], 'label_i45'),
 (['Short-term borrowing'], 'label_i46'),
 (['Short-term debt'], 'label_i41'),
 (['Short-term debt'], 'label_i42'),
 (['Short-term debt'], 'label_i44'),
 (['Short-term investments'], 'label_i2'),
 (['Short-term investments'], 'label_i6'),
 (['Stockholders equity'], 'label_g8'),
 (['Taxes payable'], 'label_i44'),
 (['Taxes payable'], 'label_i45'),
 (['Taxes payable'], 'label_i47'),
 (['Total Stockholders eq...'], 'label_ttg8'),
 (['Total assets'], 'label_ttg1'),
 (['Total assets'], 'label_tts1'),
 (['Total cash'], 'label_ttgg1'),
 (['Total cash and cash eq...'], 'label_ttgg1'),
 (['Total current assets'], 'label_ttg1'),
 (['Total current liabilit...'], 'label_ttgg5'),
 (['Total deposits'], 'label_ttgg5'),
 (['Total liabilities'], 'label_ttg5'),
 (['Total liabilities and ...'], 'label_tts2'),
 (['Total loans'], 'label_i11'),
 (['Total loans, net'], 'label_ttgg3'),
 (['Total non-current asse...'], 'label_ttg2'),
 (['Total non-current liab...'], 'label_ttgg6'),
 (['Total securities'], 'label_ttgg2'),
 (['Total stockholders eq...'], 'label_ttg8'),
 (['Trading account securi...'], 'label_i3'),
 (['Trading assets'], 'label_i5'),
 (['Trading liabilities'], 'label_i43'),
 (['Trading liabilities'], 'label_i44'),
 (['Trading securities'], 'label_i3'),
 (['Treasury stock'], 'label_i86'),
 (['Unearned premiums'], 'label_i43'),
 (['stockholders equity'], 'label_g8')]

<a id='cfa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Cash Flow Statement
##### DataFrame Instance

In [58]:
df_annualCF = df.annualCF()

In [59]:
df_annualCF.head()

,ticker_id,exchange_id,data_i1_Y_1,data_i1_Y_2,data_i1_Y_3,data_i1_Y_4,data_i1_Y_5,data_i1_Y_6,data_i10_Y_1,data_i10_Y_2,...,label_tts2,label_tts3,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6
0,1,374,NaN,NaN,NaN,NaN,NaN,NaN,3720000.0,5483000.0,...,120,133,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,NaN,NaN,NaN,NaN,NaN,NaN,3720000.0,5483000.0,...,120,133,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,NaN,NaN,NaN,NaN,NaN,NaN,3720000.0,5483000.0,...,120,133,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120,133,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227000.0,...,120,133,19.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [60]:
print('DataFrame contains {:,.0f} records.'.format(len(df_annualCF)))

DataFrame contains 76,901 records.

##### DataFrame Columns

In [61]:
# Financial Health DataFrame Columns
(df_annualCF.loc[0, [col for col in df_annualCF.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

label_g7                 Free Cash Flow
label_g8      Supplemental schedule ...
label_i1                     Net income
label_i10     Stock based compensati...
label_i100          Operating cash flow
label_i11                           NaN
label_i12                           NaN
label_i13                           NaN
label_i15                           NaN
label_i16           Accounts receivable
label_i17                     Inventory
label_i18              Prepaid expenses
label_i19              Accounts payable
label_i2      Depreciation & amortiz...
label_i20           Accrued liabilities
label_i21              Interest payable
label_i22          Income taxes payable
label_i23         Other working capital
label_i24                           NaN
label_i25                           NaN
label_i26                           NaN
label_i27                           NaN
label_i28                           NaN
label_i29                           NaN
label_i3      Amortization of debt d...
label_i30          Other non-cash items
label_i31     Investments in propert...
label_i32     Property, plant, and e...
label_i33             Acquisitions, net
label_i34     Purchases of investmen...
                        ...
label_i64           Common stock issued
label_i65        Preferred stock issued
label_i66                Warrant issued
label_i67     Redemption of preferre...
label_i68     Repurchases of treasur...
label_i69           Cash dividends paid
label_i7      (Gain) Loss from disco...
label_i70              Dividend payable
label_i71                           NaN
label_i72                           NaN
label_i73                           NaN
label_i8            Extraordinary items
label_i9      Cumulative effect of a...
label_i90     Other financing activi...
label_i91     Effect of exchange rat...
label_i92                           NaN
label_i93            Net change in cash
label_i94     Cash at beginning of p...
label_i95         Cash at end of period
label_i96           Capital expenditure
label_i97                Free cash flow
label_i98     Cash paid for income t...
label_i99        Cash paid for interest
label_s1      Cash Flows From Operat...
label_s2      Cash Flows From Invest...
label_s3      Cash Flows From Financ...
label_tts1    Net cash provided by o...
label_tts2    Net cash used for inve...
label_tts3    Net cash provided by (...
fye_month                   Liabilities
Name: 0, Length: 80, dtype: object

<a id='cfq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Cash Flow Statement
##### DataFrame Instance

In [62]:
df_quarterlyCF = df.quarterlyCF()

In [63]:
df_quarterlyCF.head()

,ticker_id,exchange_id,data_i1_Y_1,data_i1_Y_2,data_i1_Y_3,data_i1_Y_4,data_i1_Y_5,data_i1_Y_6,data_i10_Y_1,data_i10_Y_2,...,label_tts2,label_tts3,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6
0,1,374,NaN,NaN,NaN,NaN,NaN,NaN,3292000.0,4555000.0,...,120,133,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
1,2,374,NaN,NaN,NaN,NaN,NaN,NaN,3292000.0,4555000.0,...,120,133,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
2,3,374,NaN,NaN,NaN,NaN,NaN,NaN,3292000.0,4555000.0,...,120,133,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
3,4,482,NaN,NaN,NaN,NaN,NaN,NaN,0.0,400000.0,...,120,133,104.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM
4,23,1,NaN,NaN,NaN,NaN,NaN,NaN,-84000.0,-128000.0,...,120,133,19.0,12.0,2017-12,2018-03,2018-06,2018-09,2018-12,TTM

##### DataFrame Length

In [64]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quarterlyCF)))

DataFrame contains 77,374 records.

##### DataFrame Columns

In [65]:
# Financial Health DataFrame Columns
(df_quarterlyCF.loc[0, [col for col in df_quarterlyCF.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

label_g7                 Free Cash Flow
label_g8      Supplemental schedule ...
label_i1                     Net income
label_i10     Stock based compensati...
label_i100          Operating cash flow
label_i11                           NaN
label_i12                           NaN
label_i13                           NaN
label_i15                           NaN
label_i16           Accounts receivable
label_i17                     Inventory
label_i18              Prepaid expenses
label_i19              Accounts payable
label_i2      Depreciation & amortiz...
label_i20           Accrued liabilities
label_i21              Interest payable
label_i22          Income taxes payable
label_i23         Other working capital
label_i24                           NaN
label_i25                           NaN
label_i26                           NaN
label_i27                           NaN
label_i28                           NaN
label_i29                           NaN
label_i3      Amortization of debt d...
label_i30          Other non-cash items
label_i31     Investments in propert...
label_i32     Property, plant, and e...
label_i33             Acquisitions, net
label_i34     Purchases of investmen...
                        ...
label_i64           Common stock issued
label_i65        Preferred stock issued
label_i66                Warrant issued
label_i67     Redemption of preferre...
label_i68     Repurchases of treasur...
label_i69           Cash dividends paid
label_i7      (Gain) Loss from disco...
label_i70              Dividend payable
label_i71                           NaN
label_i72                           NaN
label_i73                           NaN
label_i8            Extraordinary items
label_i9      Cumulative effect of a...
label_i90     Other financing activi...
label_i91     Effect of exchange rat...
label_i92                           NaN
label_i93            Net change in cash
label_i94     Cash at beginning of p...
label_i95         Cash at end of period
label_i96           Capital expenditure
label_i97                Free cash flow
label_i98     Cash paid for income t...
label_i99        Cash paid for interest
label_s1      Cash Flows From Operat...
label_s2      Cash Flows From Invest...
label_s3      Cash Flows From Financ...
label_tts1    Net cash provided by o...
label_tts2    Net cash used for inve...
label_tts3    Net cash provided by (...
fye_month                   Liabilities
Name: 0, Length: 80, dtype: object

<a id="stats"></a>
[return to list of methods](#methods),
[return to the top](#top)
## Below are a few statistics on database data

### Count of database records
**1.** Total number of records **before** merging reference tables *(length of `df.master`)*

In [66]:
print('DataFrame df.master contains {:,.0f} records.'.format(len(df.master)))

DataFrame df.master contains 118,184 records.

**2.** Total number of records **after** merging reference tables *(length of `df_master`)*

In [67]:
print('DataFrame df_master0 contains {:,.0f} records.'.format(len(df_master0)))

DataFrame df_master0 contains 112,126 records.

**3.** Total number of records **after** merging reference tables where the following filters apply:
- $openprice > 0$
- $lastprice > 0$

In [68]:
print('DataFrame df_master contains {:,.0f} records.'.format(len(df_master)))

DataFrame df_master contains 103,499 records.

[return to the top of this section](#methods), 
[return to the top](#top)
### Last updated dates
List of dates (as a pd.Series object) of when the database records were last updated. 
The values indicate the number of records updated on each date.

In [69]:
(df_master[['updated_date', 'ticker']].groupby(by='updated_date').count().sort_index(ascending=False)
 .rename(columns={'ticker':'ticker_count'}))

              ticker_count
updated_date
2019-04-08           96872
2019-04-07            4702
2019-04-04              13
2019-04-03               4
2019-04-02               3
2019-03-27            1781
2019-03-26             114
2019-03-25              10

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records by Type

In [70]:
(df_master[['security_type', 'ticker']].groupby(by='security_type').count()
 .rename(columns={'ticker':'ticker_count'}))

                      ticker_count
security_type
Closed-End Fund               1211
Exchange-Traded Fund          6186
Index                          503
Money Market Fund              198
Open-End Fund                25773
Stock                        69628

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records by Country, based on the location of exchanges *(see next table)*

In [71]:
(df_master[['country', 'country_c3', 'ticker']]
 .groupby(by=['country', 'country_c3']).count().rename(columns={'ticker':'ticker_count'})
)

                           ticker_count
country        country_c3
Australia      AUS                 2155
Belgium        BEL                  169
Canada         CAN                 4185
China          CHN                 3849
Finland        FIN                    2
France         FRA                 1196
Germany        DEU                36915
Guernsey       GGY                  200
Hong Kong      HKG                 2376
Italy          ITA                  634
Luxembourg     LUX                  298
Netherlands    NLD                   24
Norway         NOR                    1
Portugal       PRT                   57
Singapore      SGP                   18
Sweden         SWE                    8
United Kingdom GBR                 5604
United States  USA                45808

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records per Exchange
Where $ticker\_count > 100$

In [72]:
cols = ['country', 'country_c3', 'exchange', 'exchange_sym', 'ticker']
df_exchanges = df_master[cols].groupby(by=cols[:-1]).count().rename(columns={'ticker':'ticker_count'})
df_exchanges[df_exchanges['ticker_count'] > 100]

                                                                             ticker_count
country        country_c3 exchange                             exchange_sym
Australia      AUS        ASX - ALL MARKETS                    XASX                  2155
Belgium        BEL        EURONEXT - EURONEXT BRUSSELS         XBRU                   169
Canada         CAN        CANADIAN NATIONAL STOCK EXCHANGE     XCNQ                   420
                          TORONTO STOCK EXCHANGE               XTSE                  2018
                          TSX VENTURE EXCHANGE                 XTSX                  1687
China          CHN        SHANGHAI STOCK EXCHANGE              XSHG                  1611
                          SHENZHEN STOCK EXCHANGE              XSHE                  2238
France         FRA        EURONEXT - EURONEXT PARIS            XPAR                  1196
Germany        DEU        BOERSE BERLIN                        XBER                  8166
                          BOERSE DUESSELDORF                   XDUS                  2171
                          BOERSE HAMBURG                       XHAM                  1279
                          BOERSE HANNOVER                      XHAN                   464
                          BOERSE MUENCHEN                      XMUN                  4721
                          BOERSE STUTTGART                     XSTU                  8156
                          DEUTSCHE BOERSE AG                   XFRA                 10495
                          XETRA                                XETR                  1463
Guernsey       GGY        EURONEXT - EURONEXT AMSTERDAM        XAMS                   200
Hong Kong      HKG        HONG KONG EXCHANGES AND CLEARING LTD XHKG                  2376
Italy          ITA        BORSA ITALIANA S.P.A.                XMIL                   634
Luxembourg     LUX        SIX SWISS EXCHANGE                   XSWX                   293
United Kingdom GBR        LONDON STOCK EXCHANGE                XLON                  3326
                          LSE International Trading Service    LTS                   2277
United States  USA        BATS Z-EXCHANGE                      BATS                   297
                          Dow Jones Indices                    DJI                    130
                          NASDAQ                               XNAS                 29235
                          NEW YORK STOCK EXCHANGE, INC.        XNYS                  2877
                          NYSE ARCA                            ARCX                  1582
                          NYSE MKT LLC                         XASE                   300
                          OTC GREY MARKET                      GREY                  3028
                          OTC MARKETS                          PINX                  8111
                          S&P Indices                          SPI                    170

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Country of Exchange

In [73]:
(df_master
 .where(df_master['security_type'] == 'Stock').dropna(axis=0, how='all')[['country', 'country_c3', 'ticker']]
 .groupby(by=['country', 'country_c3']).count().rename(columns={'ticker':'ticker_count'})
 .sort_values(by='ticker_count', ascending=False))

                           ticker_count
country        country_c3
Germany        DEU                36265
United States  USA                16588
United Kingdom GBR                 4000
China          CHN                 3648
Canada         CAN                 3374
Hong Kong      HKG                 2281
Australia      AUS                 1843
France         FRA                  834
Italy          ITA                  454
Belgium        BEL                  168
Guernsey       GGY                  120
Portugal       PRT                   53

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Sector

In [74]:
(df_master
 .where((df_master['security_type'] == 'Stock') & (df_master['sector'] != 'â€”')).dropna(axis=0, how='all')
 .groupby(by='sector').count()
 .rename(columns={'ticker':'stock_count'}))['stock_count'].sort_values(ascending=False)

sector
Basic Materials           11490
Industrials                9828
Technology                 9529
Consumer Cyclical          8802
Financial Services         7894
Healthcare                 7549
Energy                     3828
Consumer Defensive         3714
Real Estate                3594
Utilities                  1936
Communication Services     1463
Name: stock_count, dtype: int64

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Industry

In [75]:
(df_master[['sector', 'industry', 'ticker']]
 .where((df_master['security_type'] == 'Stock') & (df_master['industry'] != 'â€”')).dropna(axis=0, how='all')
 .groupby(by=['sector', 'industry']).count().rename(columns={'ticker':'stock_count'}))

                                                                stock_count
sector                 industry
Basic Materials        Agricultural Inputs                              287
                       Aluminum                                         138
                       Building Materials                               812
                       Chemicals                                        717
                       Coal                                             370
                       Copper                                           294
                       Gold                                            1853
                       Industrial Metals & Minerals                    5181
                       Lumber & Wood Production                         141
                       Paper & Paper Products                           292
                       Silver                                           177
                       Specialty Chemicals                              694
                       Steel                                            534
Communication Services Pay TV                                            93
                       Telecom Services                                1370
Consumer Cyclical      Advertising Agencies                             205
                       Apparel Manufacturing                            426
                       Apparel Stores                                   295
                       Auto & Truck Dealerships                         161
                       Auto Manufacturers                               445
                       Auto Parts                                       738
                       Broadcasting - Radio                              38
                       Broadcasting - TV                                267
                       Department Stores                                336
                       Footwear & Accessories                           215
                       Gambling                                         226
                       Home Furnishings & Fixtures                      344
                       Home Improvement Stores                           71
                       Leisure                                          681
                       Lodging                                          254
...                                                                     ...
Real Estate            REIT - Industrial                                158
                       REIT - Office                                    192
                       REIT - Residential                               165
                       REIT - Retail                                    292
                       Real Estate - General                           1017
                       Real Estate Services                            1144
Technology             Communication Equipment                          854
                       Computer Distribution                             32
                       Computer Systems                                 314
                       Consumer Electronics                             474
                       Contract Manufacturers                           121
                       Data Storage                                      60
                       Electronic Components                           1031
                       Electronic Gaming & Multimedia                   394
                       Electronics Distribution                         130
                       Health Information Services                      282
                       Information Technology Services                  897
                       Internet Content & Information                   757
                       Scientific & Technical Instruments               384
                       Semiconductor Equipment & Materials              374
                       Semiconductor Memory                              56
                       Semiconductors                                   504
                       Software - Application                          1964
                       Software - Infrastructure                        684
                       Solar                                            217
Utilities              Utilities - Diversified                          421
                       Utilities - Independent Power Producers          449
                       Utilities - Regulated Electric                   661
                       Utilities - Regulated Gas                        237
                       Utilities - Regulated Water                      168

[148 rows x 1 columns]

[return to the top of this section](#methods), 
[return to the top](#top)
### Mean Price Ratios (P/E, P/S, P/B, P/CF) of Common Stocks by Sectors

Merge *Master* and *Valuation* DataFrames

In [76]:
df_valuation = (df_master
                .where((df_master['security_type'] == 'Stock') & (df_master['sector'] != 'â€”'))
                .dropna(axis=0, how='all')
                .merge(df_vals, on=['ticker_id', 'exchange_id'])
                .drop(['ticker_id', 'exchange_id'], axis=1))

#### Mean Price Ratios for all stocks:

In [77]:
df_valuation_mean = (df_valuation[['sector', 'company']].groupby('sector').count()
                     .rename(columns={'company':'count'})
                     .merge(df_valuation.groupby('sector').mean().round(1), on='sector')
                     .drop(['aprvol', 'avevol'], axis=1))

In [78]:
df_valuation_mean.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [79]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation)))
df_pratios_TTM = df_valuation_mean[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM

For a total of 69,623 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials         11490        17.7    29.0   494.6   346.5    26.1
Communication Services   1463        31.1    41.8     3.7     5.2    46.6
Consumer Cyclical        8802        25.0    38.5     5.5    31.5    28.0
Consumer Defensive       3714        21.6    35.9     6.0    24.3    47.4
Energy                   3828        48.7    33.5     5.0   194.2    12.7
Financial Services       7894        14.1    30.2    41.7   411.0   280.3
Healthcare               7546        42.9    68.5    95.1   911.5    83.1
Industrials              9827        22.2    41.6    12.2  7551.7    35.3
Real Estate              3594        24.9    36.2     6.8    36.7   140.6
Technology               9529        43.3    62.3     8.8   179.0   150.8
Utilities                1936        19.3    37.0     3.3    11.5   140.5

#### Mean Price Ratios for USA stocks:

In [80]:
df_valuation_usa = df_valuation[df_valuation['country_c3'] == 'USA']

In [81]:
df_valuation_mean_usa = (df_valuation_usa[['sector', 'company']].groupby('sector').count()
                         .rename(columns={'company':'count'})
                         .merge(df_valuation_usa.groupby('sector').mean().round(1), on='sector')
                         .drop(['aprvol', 'avevol'], axis=1))

In [82]:
df_valuation_mean_usa.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [83]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation_usa)))
df_pratios_TTM_USA = df_valuation_mean_usa[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM_USA

For a total of 16,587 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials          2315        17.8    23.9  2692.2   378.3    33.8
Communication Services    322        35.6    39.2     6.4    11.5    27.8
Consumer Cyclical        1851        23.9    36.2     8.6   124.7    22.2
Consumer Defensive        890        22.0    37.2    13.7    84.5    41.9
Energy                    987        26.4    43.0     5.4   171.9    20.8
Financial Services       2504        15.2    29.4     4.9   266.0    35.2
Healthcare               1977        50.7    68.2   364.2  1944.3    36.1
Industrials              2265        26.1    45.6    35.7    54.6    37.5
Real Estate               940        27.0    43.9     2.0    13.4    37.5
Technology               2056        43.2    68.0    15.8   657.8    88.3
Utilities                 480        19.9    39.7     6.2    13.1   556.6

#### Mean Price Ratios for DEU (Germany) stocks:

In [84]:
df_valuation_deu = df_valuation[df_valuation['country_c3'] == 'DEU']

In [85]:
df_valuation_mean_deu = (df_valuation_deu[['sector', 'company']].groupby('sector').count()
                         .rename(columns={'company':'count'})
                         .merge(df_valuation_deu.groupby('sector').mean().round(1), on='sector')
                         .drop(['aprvol', 'avevol'], axis=1))

In [86]:
df_valuation_mean_deu.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [87]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation_deu)))
df_pratios_TTM_DEU = df_valuation_mean_deu[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM_DEU

For a total of 36,262 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials          5873        17.7    22.3     4.6   138.8    18.1
Communication Services    908        29.0    39.0     3.0     3.8    58.0
Consumer Cyclical        4623        27.4    37.0     4.4    11.7    20.2
Consumer Defensive       1958        21.5    28.7     3.7     7.7    36.8
Energy                   2053        51.1    25.8     5.2   166.6     9.3
Financial Services       3683        13.4    28.7     2.2     8.8    52.3
Healthcare               4244        42.0    74.4     8.0   650.3    39.9
Industrials              5025        20.7    36.5     6.6   159.0    24.2
Real Estate              1730        26.3    33.2     1.6    46.6   195.6
Technology               5145        45.8    53.9     6.6    58.1   173.9
Utilities                1020        18.9    28.9     2.1     7.5    22.8

#### Plots of TTM P/E by Sectors
*All Stocks*

In [113]:
pe = df_valuation_mean['PE_TTM']

In [114]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

*USA*

In [115]:
pe = df_valuation_mean_usa['PE_TTM']

In [116]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all US Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

*DEU*

In [117]:
pe = df_valuation_mean_deu['PE_TTM']

In [118]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all German Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

### Stocks in the Cannabis Industry
Using stocks listed on [marijuanaindex.com](http://marijuanaindex.com/stock-quotes/north-american-marijuana-index/) under North America

In [94]:
import json

with open('input/pot_stocks.json') as file:
    pot_symbols = json.loads(file.read())
    
pot_stocks = (pd.DataFrame(pot_symbols, columns=['ticker', 'country_c3'])
               .merge(df_master, how='left', on=['ticker', 'country_c3']).drop('country', axis=1)
               .rename(columns={'country_c3':'country', 'exchange_sym':'exch'}))

pot_stocks = (pot_stocks.where(((pot_stocks['country'] == 'USA') | 
                                (pot_stocks['country'] == 'CAN')) &
                               (pot_stocks['sector'] != 'â€”'))
              .dropna(axis=0, how='all').sort_values(by='company'))

In [95]:
msg = 'Below are the {} stocks listed on marijuanaindex.com for North America.'
print(msg.format(len(pot_stocks['company'].unique())))

pot_stocks[['country', 'ticker', 'exch', 'company', 'sector', 'industry']]

Below are the 46 stocks listed on marijuanaindex.com for North America.

,country,ticker,exch,company,sector,industry
29,CAN,TGIF,XCNQ,1933 Industries Inc,Healthcare,Drug Manufacturers - Specialty & Generic
1,USA,ACRGF,PINX,Acreage Holdings Inc Ordinary Shares (Sub Voting),Healthcare,Drug Manufacturers - Specialty & Generic
2,CAN,ACRG.U,XCNQ,Acreage Holdings Inc Ordinary Shares (Sub Voting),Healthcare,Drug Manufacturers - Specialty & Generic
37,USA,APHA,XNYS,Aphria Inc,Healthcare,Drug Manufacturers - Specialty & Generic
0,CAN,ACB,XTSE,Aurora Cannabis Inc,Healthcare,Drug Manufacturers - Specialty & Generic
36,CAN,XLY,XTSX,Auxly Cannabis Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
40,USA,CVSI,PINX,CV Sciences Inc,Healthcare,Drug Manufacturers - Specialty & Generic
32,CAN,TRST,XTSE,CannTrust Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
4,CAN,CNNX,XCNQ,Cannex Capital Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
38,USA,CGC,XNYS,Canopy Growth Corp,Healthcare,Drug Manufacturers - Specialty & Generic
26,CAN,RIV,XTSX,Canopy Rivers Inc,Healthcare,Drug Manufacturers - Specialty & Generic
6,CAN,CWEB,XCNQ,Charlottes Web Holdings Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
3,CAN,CL,XCNQ,Cresco Labs Inc,Healthcare,Drug Manufacturers - Specialty & Generic
39,USA,CRON,XNAS,Cronos Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
5,CAN,CURA,XCNQ,Curaleaf Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
7,CAN,EMH,XTSX,Emerald Health Therapeutics Inc,Healthcare,Biotechnology
42,USA,GWPH,XNAS,GW Pharmaceuticals PLC ADR,Healthcare,Drug Manufacturers - Major
10,CAN,GLH,XCNQ,Golden Leaf Holdings Ltd,Healthcare,Drug Manufacturers - Specialty & Generic
9,CAN,GGB,XCNQ,Green Growth Brands Inc,Healthcare,Drug Manufacturers - Specialty & Generic
11,CAN,GTII,XCNQ,Green Thumb Industries Inc,Healthcare,Drug Manufacturers - Specialty & Generic
41,USA,GRWG,PINX,GrowGeneration Corp,Industrials,Industrial Distribution
13,CAN,HEXO,XTSE,HEXO Corp,Healthcare,Drug Manufacturers - Specialty & Generic
12,CAN,HARV,XCNQ,Harvest Health & Recreation Inc,Healthcare,Drug Manufacturers - Specialty & Generic
43,USA,IIPR,XNYS,Innovative Industrial Properties Inc Registere...,Real Estate,REIT - Industrial
16,CAN,ISOL,XCNQ,Isodiol International Inc,Healthcare,Drug Manufacturers - Specialty & Generic
44,USA,KSHB,PINX,KushCo Holdings Inc,Consumer Cyclical,Packaging & Containers
17,CAN,LHS,XCNQ,Liberty Health Sciences Inc,Healthcare,Drug Manufacturers - Specialty & Generic
18,CAN,MJAR,XCNQ,MJardin Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
21,USA,MPXOF,PINX,MPX International Corp,Healthcare,Drug Manufacturers - Specialty & Generic
20,CAN,MPXI,XCNQ,MPX International Corp,Healthcare,Drug Manufacturers - Specialty & Generic
45,USA,MRMD,PINX,MariMed Inc,Healthcare,Biotechnology
19,CAN,MMEN,XCNQ,MedMen Enterprises Inc,Healthcare,Drug Manufacturers - Specialty & Generic
22,CAN,N,XTSX,Namaste Technologies Inc,Consumer Cyclical,Specialty Retail
14,CAN,HIP,XTSX,Newstrike Brands Ltd,Healthcare,Drug Manufacturers - Specialty & Generic
23,CAN,OGI,XTSX,OrganiGram Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
24,CAN,OH,XCNQ,Origin House,Healthcare,Drug Manufacturers - Specialty & Generic
25,CAN,PLTH,XCNQ,Planet 13 Holdings Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
27,CAN,SNN,XCNQ,Sunniva Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
31,CAN,TILT,XCNQ,TILT Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
28,CAN,TER,XCNQ,TerrAscend Corp,Healthcare,Drug Manufacturers - Specialty & Generic
47,USA,TRTC,PINX,Terra Tech Corp,Industrials,Farm & Construction Equipment
30,CAN,TGOD,XTSE,The Green Organic Dutchman Holdings Ltd Ordina...,Healthcare,Drug Manufacturers - Specialty & Generic
8,CAN,FIRE,XTSE,The Supreme Cannabis Co Inc,Healthcare,Drug Manufacturers - Specialty & Generic
46,USA,TLRY,XNAS,Tilray Inc,Healthcare,Drug Manufacturers - Specialty & Generic
33,CAN,TRUL,XCNQ,Trulieve Cannabis Corp Ordinary Shares (Sub Vo...,Healthcare,Drug Manufacturers - Specialty & Generic
34,CAN,VIVO,XTSX,VIVO Cannabis Inc,Healthcare,Drug Manufacturers - Specialty & Generic
35,CAN,WAYL,XCNQ,Wayland Group Corp,Healthcare,Drug Manufacturers - Specialty & Generic
15,CAN,IAN,XCNQ,iAnthus Capital Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic

<a id="value"></a>
[return to the top](#top)

## Applying various criteria to filter common stocks

Below is a list of different rules that can be applied to the data to screen stocks (development of *italicized rules* is still in progress)

- *[Rule 1](#rule1): No earnings deficit (loss) for past 5 or 7 years*
- **[Rule 2](#rule2): Uniterrupted and increasing Dividends for past 5 yrs**
- **[Rule 3](#rule3): P/E Ratio of 25 or less for the past 7 yrs and less then 20 for TTM**
- *[Rule 4](#rule4): P/B Ratio of 1.2 or less for TTM*
- *[Rule 5](#rule5): Filter for "bargain issues"*
- *[Rule 6](#rule6): Operating Cash Flow growth for the past 7 yr*
- *[Rule 7](#rule7): Owner earnings growth rate > 6% over past 7 years*
- *[Rule 8](#rule8): Long-term debt < 50% of total capital*
- *[Rule 9](#rule9): NAV per share > Stock Price*
- *[Rule 10](#rule10): Growth Stocks as described by Benjamin Graham in _The Intelligent Investor_*
- *[Rule 11](#rule11): Positive ratio of earnings to fixed charge*
- *[Rule 12](#rule12): CAN SLIM*
- *[Rule 13](#rule13):*
- *[Rule 14](#rule14):*
- *[Rule 15](#rule15):*

*[Merge DataFrames](#mergerules) created for different rules to screen stocks.*
<a id="rule1"></a>

### Rule 1. No earnings deficit (loss) for past 5 or 7 years
Criteria: Find companies with positive earnings per share growth during the past five years with no earnings deficits. Earnings need to be higher in the most recent year than five years ago. Avoiding companies with earnings deficits during the past five years will help you stay clear of high-risk companies. [(Source)](https://cabotwealth.com/daily/value-investing/benjamin-grahams-value-stock-criteria/)

#### 5 Years:
*a. Identify Net Income column labels in* `df_annualIS`

In [96]:
data = 'Net income'
df_labels = df_labels_aIS[df_labels_aIS['value'] == data].sort_values(by='value')
df_labels

                value
header
label_i50  Net income
label_i70  Net income
label_i80  Net income

*b. Get column headers for 'Net income' values for the past 5 yrs*

In [97]:
i_ids = [(label[-3:] + '_') for label in df_labels.index]

def get_icols(col):
    for i_id in i_ids:
        if i_id in col:
            return True
    return False

main_cols1 = ['ticker_id', 'exchange_id', 
             'country', 'exchange_sym', 'ticker', 'company', 
             'sector', 'industry', 'stock_type', 'style', 
             'Year_Y_6', 'Year_Y_5', 'Year_Y_4', 'Year_Y_3', 'Year_Y_2', 'Year_Y_1']
data_cols = sorted(list(filter(get_icols, df_annualIS.columns)), key=lambda r: (r[-1], r[5:8]), reverse=True)
print('The following columns contain \'{}\' values:\n{}'.format(data, data_cols))

The following columns contain 'Net income' values:
['data_i80_Y_6', 'data_i70_Y_6', 'data_i50_Y_6', 'data_i80_Y_5', 'data_i70_Y_5', 'data_i50_Y_5', 'data_i80_Y_4', 'data_i70_Y_4', 'data_i50_Y_4', 'data_i80_Y_3', 'data_i70_Y_3', 'data_i50_Y_3', 'data_i80_Y_2', 'data_i70_Y_2', 'data_i50_Y_2', 'data_i80_Y_1', 'data_i70_Y_1', 'data_i50_Y_1']

*c. Create 'Net Income' DataFrame*

In [98]:
df_annualIS['Year_Y_5'] = pd.to_datetime(df_annualIS['Year_Y_5'])

In [99]:
df_netinc5 = (df_annualIS
              .where((df_annualIS['security_type'] == 'Stock') & 
                     (df_annualIS['Year_Y_5'] >= pd.to_datetime('2018-01')))
              .dropna(axis=0, how='all')
              .drop(['country'], axis=1)
              .rename(columns={'country_c3':'country'})
             )[main_cols1 + data_cols]

np_netinc = df_netinc5[data_cols].values
netinc_cols = [('Net_Income_Y' + data_cols[i * 3][-1], (i * 3, i * 3 + 1, i * 3 + 2))
               for i in range(int(len(data_cols)/3))]

vals = []
for row in np_netinc:
    row_vals = []
    for i in range(len(netinc_cols)):
        val = None
        for col in netinc_cols[i][1]:
            if not np.isnan(row[col]):
                val = row[col]
                break
        row_vals.append(val)
    vals.append(row_vals)
    
df_vals = pd.DataFrame(vals, columns=list(zip(*netinc_cols))[0])
df_netinc5 = df_netinc5[main_cols1].join(df_vals)

In [125]:
df_rule1_5 = df_netinc5.where((df_netinc5['Net_Income_Y6'] > 0) & 
                            ((df_netinc5['Net_Income_Y5'] > 0) | (df_netinc5['Net_Income_Y5'].isna())) & 
                            ((df_netinc5['Net_Income_Y4'] > 0) | (df_netinc5['Net_Income_Y4'].isna())) & 
                            ((df_netinc5['Net_Income_Y3'] > 0) | (df_netinc5['Net_Income_Y3'].isna())) & 
                            ((df_netinc5['Net_Income_Y2'] > 0) | (df_netinc5['Net_Income_Y2'].isna())) & 
                            ((df_netinc5['Net_Income_Y1'] > 0) | (df_netinc5['Net_Income_Y1'].isna()))
                           ).dropna(axis=0, how='all')

In [126]:
df_rule1_5

,ticker_id,exchange_id,country,exchange_sym,ticker,company,sector,industry,stock_type,style,...,Year_Y_4,Year_Y_3,Year_Y_2,Year_Y_1,Net_Income_Y6,Net_Income_Y5,Net_Income_Y4,Net_Income_Y3,Net_Income_Y2,Net_Income_Y1
0,1.0,374.0,USA,ARCX,OGCP,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
1,2.0,374.0,USA,ARCX,FISK,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
2,3.0,374.0,USA,ARCX,ESBA,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
3,19437.0,302.0,USA,XNYS,PSB,PS Business Parks Inc,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.267020e+08,2.267020e+08,1.550370e+08,1.280290e+08,1.304750e+08,1.739710e+08
4,20371.0,302.0,USA,XNYS,STOR,STORE Capital Corp,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.169700e+08,2.169700e+08,1.620380e+08,1.233250e+08,8.377000e+07,4.813900e+07
5,16558.0,44.0,USA,XNAS,LAMR,Lamar Advertising Co Class A,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,3.052320e+08,3.052320e+08,3.176760e+08,2.988090e+08,2.625700e+08,2.535180e+08
7,19148.0,302.0,USA,XNYS,EQC,Equity Commonwealth,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.728130e+08,2.728130e+08,2.965600e+07,2.328940e+08,9.985700e+07,2.401200e+07
8,19275.0,302.0,USA,XNYS,LPT,Liberty Property Trust,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,4.796070e+08,4.796070e+08,2.823400e+08,3.568170e+08,2.380390e+08,2.179100e+08
9,19727.0,302.0,USA,XNYS,VNO,Vornado Realty Trust,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2011-12,4.499540e+08,4.499540e+08,2.274160e+08,9.069170e+08,7.604340e+08,6.623020e+08
11,19849.0,302.0,USA,XNYS,DEI,Douglas Emmett Inc,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.160860e+08,1.160860e+08,9.444300e+07,8.539700e+07,5.838400e+07,4.462100e+07
12,19240.0,302.0,USA,XNYS,KRC,Kilroy Realty Corp,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.584150e+08,2.584150e+08,1.646120e+08,2.937880e+08,2.340810e+08,1.802190e+08
13,19108.0,302.0,USA,XNYS,RHP,Ryman Hospitality Properties Inc,Real Estate,REIT - Hotel & Motel,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.646700e+08,2.646700e+08,1.761000e+08,1.593660e+08,1.115110e+08,1.264520e+08
14,19993.0,302.0,USA,XNYS,PEB,Pebblebrook Hotel Trust,Real Estate,REIT - Hotel & Motel,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.339300e+07,1.339300e+07,9.988800e+07,7.370400e+07,9.466800e+07,7.286600e+07
15,18925.0,302.0,USA,XNYS,NNN,National Retail Properties Inc,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.924470e+08,2.924470e+08,2.649730e+08,2.395000e+08,1.978360e+08,1.906010e+08
16,19047.0,302.0,USA,XNYS,EPR,EPR Properties,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.669830e+08,2.669830e+08,2.629680e+08,2.249820e+08,1.945320e+08,1.796330e+08
17,19071.0,302.0,USA,XNYS,FRT,Federal Realty Investment Trust,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.419070e+08,2.419070e+08,2.899140e+08,2.499100e+08,2.102190e+08,1.645350e+08
18,16870.0,44.0,USA,XNAS,REG,Regency Centers Corp,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.491270e+08,2.491270e+08,1.760770e+08,1.649220e+08,1.500560e+08,1.873900e+08
19,18700.0,302.0,USA,XNYS,ACC,American Campus Communities Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.170950e+08,1.170950e+08,6.903800e+07,1.001670e+08,1.174490e+08,6.375200e+07
20,18726.0,302.0,USA,XNYS,AIV,Apartment Investment & Management Co,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,6.739660e+08,6.739660e+08,3.235380e+08,4.376490e+08,2.556530e+08,3.157460e+08
21,18851.0,302.0,USA,XNYS,CPT,Camden Property Trust,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.561280e+08,1.561280e+08,1.964220e+08,8.198230e+08,2.493150e+08,2.920890e+08
22,19052.0,302.0,USA,XNYS,ELS,Equity Lifestyle Properties Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.126120e+08,2.126120e+08,1.975890e+08,1.732630e+08,1.393710e+08,1.280050e+08
23,19335.0,302.0,USA,XNYS,MAA,Mid-America Apartment Communities Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.228990e+08,2.228990e+08,3.283790e+08,2.122220e+08,3.322870e+08,1.479800e+08
24,19694.0,302.0,USA,XNYS,UDR,UDR Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.031060e+08,2.031060e+08,1.215580e+08,2.927180e+08,3.403830e+08,1.543340e+08
27,19021.0,302.0,USA,XNYS,EGP,EastGroup Properties Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,8.850600e+07,8.850600e+07,8.318300e+07,9.550900e+07,4.786600e+07,4.794100e+07
28,19060.0,302.0,USA,XNYS,EXR,Extra Space Storage Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,4.152890e+08,4.152890e+08,4.790130e+08,3.661270e+08,1.894740e+08,1.783550e+08
29,19082.0,302.0,USA,XNYS,FR,First Industrial Realty Trust Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.632390e+08,1.632390e+08,2.014560e+08,1.212320e+08,7.380200e+07,4.911000e+07
30,19575.0,302.0,USA,XNYS,LSI,Life Storage Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.065900e+08,2.065900e+08,9.636500e+07,8.522500e+07,1.125240e+08,8.853100e+07
31,19677.0,302.0,USA,XNYS,CUBE,CubeSmart,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.638890e+08,1.638890e+08,1.342880e+08,8.790500e+07,7.771200e+07,2.637900e+07
32,19013.0,302.0,USA,XNYS,DRE,Duke Realty Corp,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,3.837290e+08,3.837290e+08,1.634431e+09,3.121430e+08,6.153100e+08,2.435880e+08
35,19322.0,302.0,USA,XNYS,MPW,Medical Properties Trust Inc,Real Estate,REIT - Healthcare Facilities,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.016685e+09,1.016685e+09,2.897930e+08,2.250480e+08,1.395980e+08,5.052200e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,261703.0,144.0,DEU,XSTU,TLY,Tate & Lyle PLC,Consumer Defensive,Packaged Foods,â€”,Mid Core,...,2017-03,2016-03,2015-03,2014-03,5.494066e+07,5.494066e+07,4.544475e+07,3.889098e+07,3.341188e+07,1.097575e+07
48581,215369.0,144.0,DEU,XSTU,NI3,Nichirei Corp,Consumer Defensive,Packaged Foods,â€”,Mid Core,...,2017-03,2016-03,2015-03,2014-03,3.486414e+07,3.486414e+07,3.276322e+07,2.484532e+07,1.583063e+07,2.225062e+07
48597,273206.0,16.0,DEU,XFRA,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48598,273206.0,17.0,DEU,XBER,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48599,273206.0,144.0,DEU,XSTU,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48600,93411.0,16.0,DEU,XFRA,AUK,Amerco Inc,Industrials,Rental & Leasing Services,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48601,290732.0,16.0,DEU,XFRA,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48602,290732.0,17.0,DEU,XBER,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,6.440000e+08,6.440000e+08,9.830000e+08,1.158000e+09,1.253000e+09,1.042000e+09
48604,290732.0,144.0,DEU,XSTU,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,2.586163e+08,2.586163e+08,2.529614e+08,2.218658e+08,1.658058e+08,1.247141e+08
48605,290732.0,142.0,DEU,XDUS,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.573510e+08,8.573510e+08,8.084500e+08,7.779260e+08,8.144990e+08,8.179240e+08
48606,38241.0,16.0,DEU,XFRA,2QO,Qorvo Inc,Technology,Semiconductors,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,3.832241e+07,3.832241e+07,4.073661e+07,3.267393e+07,2.470948e+07,2.826400e+07
48608,38241.0,141.0,DEU,XMUN,2QO,Qorvo Inc,Technology,Semiconductors,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48609,1055503.0,144.0,DEU,XSTU,E8U,Enxnet Inc,Energy,Oil & Gas E&P,Hard Asset,â€”,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48610,235147.0,16.0,DEU,XFRA,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,2.900200e+07,2.727700e+07,2.052500e+07,2.193300e+07,4.109400e+07,1.903600e+07
48611,235147.0,17.0,DEU,XBER,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.804000e+06,8.211000e+06,9.822000e+06,1.054200e+07,7.795000e+06,7.384000e+06
48614,235147.0,142.0,DEU,XDUS,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48618,45746.0,144.0,DEU,XSTU,8HX,Hexindai Inc ADR,Financial Services,Credit Services,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,6.198668e+07,6.198668e+07,3.633455e+07,6.491740e+07,5.944147e+07,5.759077e+07
48626,285506.0,16.0,DEU,XFRA,25CN,Canadian Energy Materials Corp,Basic Materials,Industrial Metals & Minerals,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.691616e+07,1.611874e+07,1.511689e+07,1.347868e+07,1.468825e+07,1.348224e+07
48687,44714.0,16.0,DEU,XFRA,7R8,Replimune Group Inc,Healthcare,Biotechnology,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,8.546650e+05,7.625120e+05,4.631080e+05,1.167537e+06,1.003640e+06,6.246620e+05
48698,521755.0,144.0,DEU,XSTU,1OA,Blueberries Medical Corp,Healthcare,Drug Manufacturers - Specialty & Generic,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,3.360000e+08,3.360000e+08,3.520000e+08,3.380000e+08,3.180000e+08,2.605000e+08
48743,520908.0,142.0,DEU,XDUS,LSU2,Land Securities Group PLC,Real Estate,REIT - Diversified,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.270000e+05,4.270000e+05,1.721000e+06,5.914000e+06,2.990000e+05,1.199000e+06
48744,548083.0,16.0,DEU,XFRA,N9U,Nomura Real Estate Holdings Inc,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.600000e+06,4.600000e+06,4.100000e+06,4.800000e+06,4.400000e+06,3.500000e+06
48747,548083.0,17.0,DEU,XBER,N9U,Nomura Real Estate Holdings Inc,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,3.970280e+05,3.970280e+05,3.363470e+05,NaN,NaN,NaN
48748,201305.0,17.0,DEU,XBER,CS4,China South City Holdings Ltd,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,3.970280e+05,3.970280e+05,3.363470e+05,NaN,NaN,NaN
48752,20134.0,144.0,DEU,XSTU,FET,Far East Consortium International Ltd,Real Estate,Real Estate - General,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.244400e+07,4.244400e+07,2.006800e+07,1.785300e+07,9.605000e+06,5.403000e+06
48766,222131.0,17.0,DEU,XBER,YC3,Concordia Financial Group Ltd,Financial Services,Banks - Regional - Asia,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,2.706440e+11,1.950610e+11,1.309460e+11,1.454190e+11,2.142930e+11,2.427530e+11
48770,222131.0,141.0,DEU,XMUN,YC3,Concordia Financial Group Ltd,Financial Services,Banks - Regional - Asia,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,2.689040e+08,2.909150e+08,1.099650e+08,1.107630e+08,1.350640e+08,1.294420e+08
48779,618566.0,142.0,DEU,XDUS,QC9,Credit Saison Co Ltd,Financial Services,Credit Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,7.700000e+06,7.800000e+06,5.500000e+06,4.800000e+06,6.200000e+06,5.300000e+06
48783,296503.0,141.0,DEU,XMUN,IVKA,Investec PLC,Financial Services,Asset Management,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,1.137400e+08,1.137400e+08,9.202700e+07,1.810000e+07,9.218100e+07,3.272110e+08
48795,737820.0,141.0,DEU,XMUN,TIJ,Teijin Ltd,Basic Materials,Specialty Chemicals,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,1.660000e+07,1.660000e+07,8.740000e+07,1.604000e+08,1.088000e+08,8.450000e+07

#### 7 Years:

In [134]:
cols = ['country_c3', 'exchange_sym', 'ticker', 'company', 'sector', 'industry'] + \
        [col for col in df_keyratios.columns if col.startswith('i4_') or col.startswith('Y')]

(df_keyratios
 .where((df_keyratios['security_type'] == 'Stock') & (df_keyratios['Y9'] >= pd.to_datetime('2018-01')) & 
        (df_keyratios['i4_Y10'] > 0) & 
        ((df_keyratios['i4_Y9'] > 0) | (df_keyratios['i4_Y9'].isna())) & 
        ((df_keyratios['i4_Y8'] > 0) | (df_keyratios['i4_Y8'].isna())) & 
        ((df_keyratios['i4_Y7'] > 0) | (df_keyratios['i4_Y7'].isna())) & 
        ((df_keyratios['i4_Y6'] > 0) | (df_keyratios['i4_Y6'].isna())) & 
        ((df_keyratios['i4_Y5'] > 0) | (df_keyratios['i4_Y5'].isna())) & 
        ((df_keyratios['i4_Y4'] > 0) | (df_keyratios['i4_Y4'].isna())) & 
        ((df_keyratios['i4_Y3'] > 0) | (df_keyratios['i4_Y3'].isna())))
 .dropna(axis=0, how='all')
)[cols]

,country_c3,exchange_sym,ticker,company,sector,industry,i4_Y0,i4_Y1,i4_Y2,i4_Y3,...,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10
0,USA,ARCX,OGCP,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
1,USA,ARCX,FISK,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
2,USA,ARCX,ESBA,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
3,USA,XNYS,PSB,PS Business Parks Inc,Real Estate,REIT - Diversified,77.0,85.0,94.0,89.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
4,USA,XNYS,STOR,STORE Capital Corp,Real Estate,REIT - Diversified,NaN,NaN,NaN,8.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
5,USA,XNAS,LAMR,Lamar Advertising Co Class A,Real Estate,REIT - Diversified,-58.0,-40.0,9.0,10.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
8,USA,XNYS,LPT,Liberty Property Trust,Real Estate,REIT - Office,56.0,128.0,184.0,137.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
9,USA,XNYS,VNO,Vornado Realty Trust,Real Estate,REIT - Office,721.0,636.0,395.0,106.0,...,2007-12-01,2008-12-01,2009-12-01,2010-12-01,2011-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
11,USA,XNYS,DEI,Douglas Emmett Inc,Real Estate,REIT - Office,-27.0,-26.0,1.0,23.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
12,USA,XNYS,KRC,Kilroy Realty Corp,Real Estate,REIT - Office,37.0,20.0,66.0,271.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
14,USA,XNYS,PEB,Pebblebrook Hotel Trust,Real Estate,REIT - Hotel & Motel,NaN,-7.0,15.0,26.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
15,USA,XNYS,NNN,National Retail Properties Inc,Real Estate,REIT - Retail,55.0,73.0,92.0,142.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
16,USA,XNYS,EPR,EPR Properties,Real Estate,REIT - Retail,8.0,115.0,115.0,122.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
17,USA,XNYS,FRT,Federal Realty Investment Trust,Real Estate,REIT - Retail,98.0,123.0,144.0,152.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
18,USA,XNAS,REG,Regency Centers Corp,Real Estate,REIT - Retail,-37.0,12.0,51.0,26.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
19,USA,XNYS,ACC,American Campus Communities Inc,Real Estate,REIT - Residential,-13.0,16.0,57.0,57.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
20,USA,XNYS,AIV,Apartment Investment & Management Co,Real Estate,REIT - Residential,-64.0,-72.0,-57.0,139.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
21,USA,XNYS,CPT,Camden Property Trust,Real Estate,REIT - Residential,-43.0,30.0,56.0,286.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
22,USA,XNYS,ELS,Equity Lifestyle Properties Inc,Real Estate,REIT - Residential,34.0,38.0,37.0,69.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
23,USA,XNYS,MAA,Mid-America Apartment Communities Inc,Real Estate,REIT - Residential,37.0,30.0,49.0,105.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
24,USA,XNYS,UDR,UDR Inc,Real Estate,REIT - Residential,-88.0,-103.0,20.0,212.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
27,USA,XNYS,EGP,EastGroup Properties Inc,Real Estate,REIT - Industrial,27.0,18.0,22.0,32.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
28,USA,XNYS,EXR,Extra Space Storage Inc,Real Estate,REIT - Industrial,32.0,26.0,50.0,117.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
30,USA,XNYS,LSI,Life Storage Inc,Real Estate,REIT - Industrial,20.0,41.0,31.0,55.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
31,USA,XNYS,CUBE,CubeSmart,Real Estate,REIT - Industrial,-1.0,-7.0,NaN,2.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
37,USA,XNYS,HR,Healthcare Realty Trust Inc,Real Estate,REIT - Healthcare Facilities,51.0,8.0,NaN,5.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
39,USA,XNYS,APA,Apache Corp,Energy,Oil & Gas E&P,-284.0,NaN,NaN,NaN,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
45,USA,XNYS,EQM,EQM Midstream Partners LP,Energy,Oil & Gas Midstream,14.0,19.0,33.0,55.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
46,USA,XNYS,WES,Western Midstream Partners LP,Energy,Oil & Gas Midstream,77.0,126.0,76.0,34.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
47,USA,XNYS,PSXP,Phillips 66 Partners LP,Energy,Oil & Gas Midstream,NaN,NaN,39.0,NaN,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67893,CHN,XSHG,601886,Jangho Group Co Ltd,Industrials,Engineering & Construction,291.0,309.0,340.0,478.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67903,CHN,XSHE,000514,Chongqing Yukaifa Co Ltd,Real Estate,Real Estate - General,155.0,135.0,160.0,59.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67929,CHN,XSHE,002315,Focus Technology Co Ltd,Technology,Internet Content & Information,91.0,150.0,163.0,126.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67946,CHN,XSHE,002245,Jiangsu Aucksun Co Ltd,Consumer Cyclical,Packaging & Containers,37.0,82.0,100.0,104.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67952,CHN,XSHE,002253,Wisesoft Co Ltd,Technology,Software - Application,34.0,41.0,51.0,62.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67963,CHN,XSHE,002474,Fujian Rongji Software Co Ltd,Technology,Software - Application,48.0,78.0,119.0,124.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67980,DEU,XFRA,ILU,Illumina Inc,Healthcare,Diagnostics & Research,72.0,125.0,87.0,151.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67981,DEU,XBER,ILU,Illumina Inc,Healthcare,Diagnostics & Research,72.0,125.0,87.0,151.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67982,DEU,XMUN,ILU,Illumina Inc,Healthcare,Diagnostics & Research,72.0,125.0,87.0,151.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67983,DEU,XSTU,ILU,Illumina Inc,Healthcare,Diagnostics & Research,72.0,125.0,87.0,151.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67984,DEU,XDUS,ILU,Illumina Inc,Healthcare,Diagnostics & Research,72.0,125.0,87.0,151.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
67985,GBR,LTS,0JSC,L Brands Inc,Consumer Cyclical,Apparel Stores,448.0,805.0,850.0,753.0,...,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,TTM
68024,CHN,XSHG,603919,Jinhui Liquor Co Ltd A,Consumer Defensive,Beverages - Wineries & Distilleries,NaN,NaN,85.0,106.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68025,CHN,XSHE,002807,Jiangsu Jiangyin Rural Commercial Bank Co Ltd A,Financial Services,Banks - Regional - Asia,626.0,855.0,884.0,981.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68039,DEU,XFRA,D4K,DWS Ltd,Technology,Information Technology Services,16.0,19.0,17.0,18.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68040,DEU,XBER,D4K,DWS Ltd,Technology,Information Technology Services,16.0,19.0,17.0,18.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68041,DEU,XBER,RZK,Skellerup Holdings Ltd,Industrials,Diversified Industrials,15.0,9.0,12.0,20.0,...,2009-06-01,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2018-06-01,TTM
68042,DEU,XBER,22V,Comvita Ltd,Healthcare,Drug Manufacturers - Specialty & Generic,2.0,1.0,5.0,1.0,...,2009-03-01,2010-03-01,2011-03-01,2012-03-01,2013-03-01,2014-03-01,2015-03-01,2017-06-01,2018-06-01,TTM
68045,AUS,XASX,DWS,DWS Ltd,Technology,Information Technology Services,16.0,19.0,17.0,18.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68056,CHN,XSHE,002825,Shanghai Nar Industrial Co Ltd A,Consumer Cyclical,Publishing,NaN,NaN,44.0,43.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68081,DEU,XBER,PX5,FSA Group Ltd,Financial Services,Credit Services,9.0,8.0,9.0,9.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68149,AUS,XASX,ICS,ICSGlobal Ltd,Technology,Health Information Services,-3.0,-4.0,NaN,NaN,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68228,DEU,XBER,EIM,Empresaria Group PLC,Industrials,Staffing & Outsourcing Services,-5.0,3.0,3.0,1.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68236,USA,XNAS,NCOM,National Commerce Corp,Financial Services,Banks - Regional - US,NaN,NaN,NaN,2.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68237,USA,XNAS,BHBK,Blue Hills Bancorp Inc,Financial Services,Banks - Regional - US,NaN,NaN,8.0,8.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68274,DEU,XFRA,1S4,STERIS PLC,Healthcare,Medical Instruments & Supplies,111.0,128.0,51.0,136.0,...,2010-03-01,2011-03-01,2012-03-01,2013-03-01,2014-03-01,2015-03-01,2016-03-01,2017-03-01,2018-03-01,TTM
68284,GBR,XLON,NWF,NWF Group PLC,Energy,Oil & Gas Refining & Marketing,-2.0,5.0,5.0,3.0,...,2010-05-01,2011-05-01,2012-05-01,2013-05-01,2014-05-01,2015-05-01,2016-05-01,2017-05-01,2018-05-01,TTM
68285,USA,XNYS,DSW,Designer Brands Inc,Consumer Cyclical,Apparel Stores,27.0,55.0,108.0,175.0,...,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,TTM
68300,DEU,XSTU,US23334L1026,Designer Brands Inc,Consumer Cyclical,Apparel Stores,27.0,55.0,108.0,175.0,...,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,TTM
68311,DEU,XBER,TY2,Citycon Oyj,Real Estate,Real Estate Services,-36.0,90.0,21.0,77.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM

[return to top of this section](#value),
[return to the top](#top)
<a id="rule2"></a>
### Rule 2. Uniterrupted and increasing *Dividends* for past 7 yrs

**a. Identify *Dividends* column label in** `df_keyratios`

In [103]:
icol = df_labels_kratios[df_labels_kratios == 'Dividends'].index[0]
icol

'i6'

**b. Get column headers for *Dividends* for the past 5 yrs**

In [104]:
main_cols2 = ['ticker_id', 'exchange_id', 
             #'country_c3', 'exchange_sym', 'ticker', 'company', 
             #'sector', 'industry', 'stock_type', 'style', 
             'Y10', 'Y9', 'Y8', 'Y7', 'Y6', 'Y5']
icols = sorted([col for col in df_keyratios.columns if icol + '_' in col], 
               key=lambda col: int(col[4:]), reverse=True)[:8]
icols

['i6_Y10', 'i6_Y9', 'i6_Y8', 'i6_Y7', 'i6_Y6', 'i6_Y5', 'i6_Y4', 'i6_Y3']

**c. Create 'Net Income' DataFrame**

In [105]:
df_rule2 = (df_keyratios
            .where((df_keyratios['security_type'] == 'Stock') & 
                   (df_keyratios['Y9'] >= pd.to_datetime('2018-01')) & 
                   (df_keyratios['i6_Y10'].notna()) & (df_keyratios['i6_Y9'].notna()) &
                   (df_keyratios['i6_Y8'].notna()) & (df_keyratios['i6_Y7'].notna()) &
                   (df_keyratios['i6_Y6'].notna()) & (df_keyratios['i6_Y5'].notna()) & 
                   (df_keyratios['i6_Y4'].notna()) & (df_keyratios['i6_Y3'].notna()) & 
                   (df_keyratios['i6_Y10'] >= df_keyratios['i6_Y9']) & 
                   (df_keyratios['i6_Y9'] >= df_keyratios['i6_Y8']) & 
                   (df_keyratios['i6_Y8'] >= df_keyratios['i6_Y7']) & 
                   (df_keyratios['i6_Y7'] >= df_keyratios['i6_Y6']) & 
                   (df_keyratios['i6_Y6'] >= df_keyratios['i6_Y5']) & 
                   (df_keyratios['i6_Y5'] >= df_keyratios['i6_Y4']) & 
                   (df_keyratios['i6_Y4'] >= df_keyratios['i6_Y3']))
            .dropna(axis=0, how='all').sort_values(by='Y9', ascending=False))[main_cols2 + icols]

df_rule2.columns = main_cols2 + [col.replace('i6', 'Dividend') for col in icols]

In [106]:
df_rule2

,ticker_id,exchange_id,Y10,Y9,Y8,Y7,Y6,Y5,Dividend_Y10,Dividend_Y9,Dividend_Y8,Dividend_Y7,Dividend_Y6,Dividend_Y5,Dividend_Y4,Dividend_Y3
59397,19619.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.52,2.52,2.44,2.32,2.16,1.90,1.58,1.32
59362,18997.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.40,0.40,0.34,0.28,0.26,0.24,0.22,0.20
59357,19073.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.51,1.51,1.51,1.49,1.39,1.19,0.95,0.80
59356,19091.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.38,1.38,1.24,1.10,1.00,0.88,0.80,0.72
59355,19276.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.40,2.40,2.40,2.40,2.00,1.36,1.20,1.00
63356,19285.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.85,1.85,1.58,1.33,1.07,0.87,0.70,0.62
59354,19106.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.97,0.97,0.92,0.92,0.92,0.88,0.70,0.50
59353,18994.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.68,0.60,0.55,0.50,0.50,0.50
59352,19393.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.48,1.48,1.48,1.48,1.48,1.32,1.20,1.08
59351,19249.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.44,2.44,2.20,2.00,1.80,1.56,1.40,1.28
63675,18820.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.28,0.28,0.28,0.28,0.28,0.28,0.28,0.28
59349,19556.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.48,1.48,1.24,1.04,0.88,0.72,0.60,0.48
63700,16668.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.61,0.61,0.57,0.48,0.39,0.34,0.31,0.07
63706,1016947.0,138.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.61,0.61,0.57,0.48,0.40,0.34,0.31,0.07
59348,18701.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.55,0.55,0.50,0.50,0.50,0.50,0.38,0.33
59128,279831.0,138.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,4.12,4.12,3.56,2.76,2.36,1.88,1.56,1.16
59111,19178.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,4.12,4.12,3.56,2.76,2.36,1.88,1.56,1.16
59359,19104.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.52,1.52,1.52,1.48,1.44,1.32,1.10,0.80
59367,248426.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.00,1.00,0.80,0.80,0.80,0.75,0.38,0.34
59372,18825.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.00,1.00,1.00,1.00,0.94,0.89,0.82,0.80
59463,284577.0,145.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.06
59376,16616.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.18
59380,16890.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.64,0.54,0.47,0.40,0.34,0.28
59385,18662.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.80,0.80,0.80,0.80,0.80,0.80,0.80,0.70
59386,19143.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.90,0.90,0.90,0.90,0.80,0.80
59388,19428.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.36,1.36,1.08,1.08,1.00,0.84,0.72,0.60
59389,18891.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.34,0.34,0.33,0.32,0.31,0.30,0.24,0.21
59395,18794.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.80,1.80,1.36,1.12,0.92,0.72,0.68,0.62
59396,19253.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.53,0.53,0.49,0.45,0.40,0.34,0.31,0.25
59369,16940.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.32,0.32,0.29,0.28,0.26,0.24,0.24,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55081,141566.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.60,0.55,0.49,0.42,0.35,0.28,0.24,0.21
62734,300054.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
55073,531363.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.31
55072,531363.0,144.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.89
62740,232250.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.11,0.10,0.10,0.10,0.10,0.09,0.09,0.08
62742,732943.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.05,0.95,0.80,0.69,0.57,0.48,0.42,0.37
62747,757740.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.04,0.04,0.03,0.02,0.02,0.02,0.01,0.01
62755,20675.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2013-07-01,2012-07-01,0.06,0.06,0.04,0.03,0.02,0.02,0.02,0.02
62793,26270.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62795,35953.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.28,1.28,1.24,1.20,1.16,1.12,1.04,0.96
62810,18093.0,649.0,TTM,2018-01-01,2016-12-01,2015-12-01,2014-12-01,2013-12-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24
62733,300054.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
62684,612704.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
62664,700189.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.12
62663,700189.0,138.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.28
62659,700189.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.28
62622,65166.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62621,65166.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62556,16028.0,44.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.28,0.28,0.28,0.28,0.28,0.28,0.28,0.28
62533,15749.0,547.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
63310,527706.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
62497,7467.0,25.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.21,0.20,0.20,0.20,0.18,0.18,0.18,0.15
63768,35797.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.16,0.15,0.13,0.12,0.11,0.09,0.07,0.04
62737,300054.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
65167,1497673.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.90,0.90,0.90,0.90,0.90,0.80,0.80,0.80
65168,1497673.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.90,0.90,0.90,0.90,0.90,0.80,0.80,0.80
55066,10994.0,25.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.31
55070,531363.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,0.94,0.89
55071,531363.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.89
68285,18975.0,302.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.95,0.80,0.80,0.80,0.75,0.38,0.34,0.15

[return to top of this section](#value),
[return to the top](#top)
<a id="rule3"></a>
### Rule 3. P/E Ratio of 25 or less for the past 7 yrs and less then 20 for TTM

In [107]:
pe_cols = [col for col in df_valuation.columns if 'PE_' in col]
pe_cols = ['ticker_id', 'exchange_id'] + [pe_cols[len(pe_cols)-i-1] for i in range(len(pe_cols))][:8]
pe_cols

['ticker_id',
 'exchange_id',
 'PE_TTM',
 'PE_2018',
 'PE_2017',
 'PE_2016',
 'PE_2015',
 'PE_2014',
 'PE_2013',
 'PE_2012']

In [108]:
df_rule3 = (df_vals[pe_cols]
            .where((df_vals['PE_TTM'] <= 20) & (df_vals['PE_2018'] <= 25) &
                   (df_vals['PE_2017'] <= 25) & (df_vals['PE_2016'] <= 25) &
                   (df_vals['PE_2015'] <= 25) & (df_vals['PE_2014'] <= 25) &
                   (df_vals['PE_2013'] <= 25) & (df_vals['PE_2012'] <= 25)).dropna(axis=0, how='all'))

KeyError: "['ticker_id' 'exchange_id' 'PE_TTM' 'PE_2018' 'PE_2017' 'PE_2016'\n 'PE_2015' 'PE_2014' 'PE_2013' 'PE_2012'] not in index"

In [ ]:
df_rule3

[return to top of this section](#value),
[return to the top](#top)
<a id="rule4"></a>
### Rule 4. P/B Ratio of 1 or less for TTM

In [ ]:
pb_cols = [col for col in df_vals.columns if 'PB_' in col]
pb_cols = [pb_cols[len(pb_cols)-i-1] for i in range(len(pb_cols))][:6]
pb_cols

In [ ]:
df_rule4 = (df_vals[['ticker_id', 'exchange_id'] + pb_cols]
            .where(df_vals['PB_TTM'] <= 1).dropna(axis=0))

In [ ]:
df_rule4

[return to top of this section](#value),
[return to the top](#top)
<a id="rule5"></a>
### Rule 5. Filtering for *bargain issues* as described by Benjamin Graham in *The Intelligent Investor*:

In his book, Graham defines bargain issues as common stocks where:

- $stock\ price\ < \frac{2}{3}\ net\ current\ asset\ value\ per\ share\ (NCAVPS)\$

- $net\ current\ asset\ value\ (NCAV)\ = current\ assets\ - total\ liabilities\ - preferred\ stocks\$

In [308]:
# df_master columns
cols1 = ['ticker_id', 'exchange_id', 'country_c3', 'exchange_sym', 'ticker', 'company',
       'industry', 'sector', 'security_type', 'lastprice']

# df_quarterlyBS columns
cols2 = ['ticker_id', 'exchange_id', 'Year_Y_5', 
         'label_i81', 'data_i81_Y_5', # Preferred stock
         #'label_g1', 'data_g1_Y_5', # Assets / Current assets
         'label_s1', 'data_s1_Y_5', # Assets /
         #'label_ttg1', 'data_ttg1_Y_5', # Total assets / Total current assets
         #'label_tts1', 'data_tts1_Y_5', # Total assets
         #'label_gg5', 'data_gg5_Y_5', # Current liabilities
         #'label_ttgg5', 'data_ttgg5_Y_5', # Total current liabilit...
         'label_g5', 'data_g5_Y_5', # Liabilities
         #'label_ttg5', 'data_ttg5_Y_5' # Total liabilities
         'currency_id'
        ]

# df_finhealth columns
cols3 = ['ticker_id', 'exchange_id', 
        #'i53_fh_Y5', # Total Assets
        'i49_fh_Y10'#,  Total Current Assets
        #'i62_fh_Y5', # Total Assets
        #'i59_fh_Y5' # Total Current Liabilities
       ]

# df_quarterlyIS columns
cols4 = ['ticker_id', 'exchange_id', 
         'data_i85_Y_5' # Basic Outstanding Shares
        ]


df_bs0 = (df_master[cols1]
          .where(df_master['security_type'] == 'Stock')
          .merge(df_quarterlyBS[cols2], on=['ticker_id', 'exchange_id'])
          .merge(df_finhealth[cols3], on=['ticker_id', 'exchange_id'])
          .merge(df_quarterlyIS[cols4], on=['ticker_id', 'exchange_id'])
          #.rename(columns={'data_g1_Y_5':'current_assets'})
        )

# Map Column Headers
for col in [col for col in df_bs0.columns if 'label_' in col]:
    df_bs0[col] = df_bs0[col].map(df.colheaders['header'])
    
# Map Currency Name
df_bs0['currency'] = df_bs0['currency_id'].map(df.currencies.set_index('id')['currency'])

In [309]:
df_bs = (df_bs0.where((df_bs0['label_i81'] == 'Preferred stock') & 
                     ((df_bs0['label_s1'] == 'Assets') & (df_bs0['data_s1_Y_5'].notna())) & 
                     ((df_bs0['label_g5'] == 'Liabilities') & (df_bs0['data_g5_Y_5'].notna()))
                    ).dropna(axis=0, how='all'))

In [310]:
df_bs['current_assets'] = df_bs['data_s1_Y_5'] * df_bs['i49_fh_Y10'] / 100

df_bs['data_i81_Y_5'] = df_bs['data_i81_Y_5'].fillna(0)

df_bs['NCAV'] = df_bs['current_assets'] - df_bs['data_g5_Y_5'] - df_bs['data_i81_Y_5']

df_bs['NCAVPS'] = df_bs['NCAV'] / df_bs['data_i85_Y_5']

In [312]:
df_bs[df_bs['NCAV'] > 0]

,ticker_id,exchange_id,country_c3,exchange_sym,ticker,company,industry,sector,security_type,lastprice,...,data_s1_Y_5,label_g5,data_g5_Y_5,currency_id,i49_fh_Y10,data_i85_Y_5,currency,current_assets,NCAV,NCAVPS
7,19148.0,302.0,USA,XNYS,EQC,Equity Commonwealth,REIT - Office,Real Estate,Stock,32.70,...,3.530772e+09,Liabilities,3.467740e+08,104.0,69.54,1.217440e+08,United States Dollar,2.455299e+09,1.989262e+09,16.339712
38,19367.0,302.0,USA,XNYS,NOV,National Oilwell Varco Inc,Oil & Gas Equipment & Services,Energy,Stock,28.20,...,1.979600e+10,Liabilities,5.977000e+09,104.0,36.77,3.780000e+08,United States Dollar,7.278989e+09,1.301989e+09,3.444416
65,1226.0,1.0,USA,GREY,BSMAF,Bursa Malaysia Bhd,Financial Exchanges,Financial Services,Stock,1.84,...,2.434560e+09,Liabilities,1.559402e+09,62.0,74.91,8.074820e+08,Malaysia Ringgit,1.823729e+09,2.643269e+08,0.327347
77,10933.0,25.0,USA,PINX,PCDVF,Pacific Century Regional Developments Ltd,Asset Management,Financial Services,Stock,0.31,...,1.424342e+09,Liabilities,1.900800e+07,88.0,2.04,2.649740e+09,Singapore Dollar,2.905658e+07,1.004858e+07,0.003792
107,13351.0,25.0,USA,PINX,FUPBY,Fuchs Petrolub SE ADR,Chemicals,Basic Materials,Stock,10.59,...,1.891000e+09,Liabilities,4.360000e+08,34.0,53.83,5.501146e+08,Euro Member Countries,1.017925e+09,5.819253e+08,1.057825
108,8275.0,25.0,USA,PINX,FUPEF,Fuchs Petrolub SE,Chemicals,Basic Materials,Stock,44.20,...,1.891000e+09,Liabilities,4.360000e+08,34.0,53.83,1.375287e+08,Euro Member Countries,1.017925e+09,5.819253e+08,4.231302
110,10782.0,25.0,USA,PINX,KURRF,Kuraray Co Ltd,Chemicals,Basic Materials,Stock,12.60,...,9.471100e+11,Liabilities,3.910900e+11,52.0,42.10,3.486830e+08,Japan Yen,3.987333e+11,7.643310e+09,21.920512
111,12178.0,25.0,USA,PINX,KURRY,Kuraray Co Ltd ADR,Chemicals,Basic Materials,Stock,39.98,...,9.471100e+11,Liabilities,3.910900e+11,52.0,42.10,1.162277e+08,Japan Yen,3.987333e+11,7.643310e+09,65.761537
114,3049.0,1.0,USA,GREY,NICFF,Nichias Corp,Building Materials,Basic Materials,Stock,18.60,...,2.002470e+11,Liabilities,8.676300e+10,52.0,60.40,6.633700e+07,Japan Yen,1.209492e+11,3.418619e+10,515.341182
115,12299.0,25.0,USA,PINX,ERELY,Eregli Demir Ve Celik Fabrikalari TAS ADR,Steel,Basic Materials,Stock,8.50,...,4.178211e+10,Liabilities,1.341535e+10,100.0,53.88,7.000064e+08,Turkey Lira,2.251220e+10,9.096852e+09,12.995383
117,16781.0,44.0,USA,XNAS,PAAS,Pan American Silver Corp,Silver,Basic Materials,Stock,13.26,...,1.937476e+09,Liabilities,4.292640e+08,104.0,28.30,1.533540e+08,United States Dollar,5.483057e+08,1.190417e+08,0.776254
128,709.0,1.0,USA,GREY,GDMOF,DMG Mori Aktiengesellschaft,Tools & Accessories,Industrials,Stock,54.45,...,2.440499e+09,Liabilities,1.247264e+09,34.0,68.94,7.881799e+07,Euro Member Countries,1.682480e+09,4.352160e+08,5.521785
134,10717.0,25.0,USA,PINX,SAABF,Saab AB B,Aerospace & Defense,Industrials,Stock,33.55,...,5.612800e+10,Liabilities,3.671600e+10,93.0,69.46,1.189498e+08,Sweden Krona,3.898651e+10,2.270509e+09,19.087966
142,10678.0,25.0,USA,PINX,WRTBF,Wartsila Corp,Diversified Industrials,Industrials,Stock,15.43,...,6.059000e+09,Liabilities,3.641000e+09,34.0,60.90,6.080000e+08,Euro Member Countries,3.689931e+09,4.893100e+07,0.080479
143,11015.0,25.0,USA,PINX,NCTKF,Nabtesco Corp,Diversified Industrials,Industrials,Stock,26.00,...,3.285670e+11,Liabilities,1.498660e+11,52.0,54.52,1.239750e+08,Japan Yen,1.791347e+11,2.926873e+10,236.085730
144,12659.0,25.0,USA,PINX,WRTBY,Wartsila Corp ADR,Diversified Industrials,Industrials,Stock,3.63,...,6.059000e+09,Liabilities,3.641000e+09,34.0,60.90,3.040000e+09,Euro Member Countries,3.689931e+09,4.893100e+07,0.016096
153,8474.0,25.0,USA,PINX,FINGF,Finning International Inc,Industrial Distribution,Industrials,Stock,18.05,...,5.696000e+09,Liabilities,3.587000e+09,19.0,68.89,1.670488e+08,Canada Dollar,3.923974e+09,3.369744e+08,2.017222
158,2148.0,1.0,USA,GREY,SFZGF,Shanghai Fudan-Zhangjiang Bio-Pharmaceutical C...,Drug Manufacturers - Major,Healthcare,Stock,0.47,...,1.459363e+09,Liabilities,4.772920e+08,22.0,69.90,9.158421e+08,China Yuan Renminbi,1.020095e+09,5.428027e+08,0.592682
159,10865.0,25.0,USA,PINX,HAWPF,Haw Par Corp Ltd,Drug Manufacturers - Major,Healthcare,Stock,9.88,...,3.030452e+09,Liabilities,1.024190e+08,88.0,19.30,2.207688e+08,Singapore Dollar,5.848772e+08,4.824582e+08,2.185355
160,13299.0,25.0,USA,PINX,HAWPY,Haw Par Corp Ltd ADR,Drug Manufacturers - Major,Healthcare,Stock,35.24,...,3.030452e+09,Liabilities,1.024190e+08,88.0,19.30,5.519220e+07,Singapore Dollar,5.848772e+08,4.824582e+08,8.741420
163,8175.0,25.0,USA,PINX,HLUYY,H. Lundbeck A/S ADR,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,45.16,...,2.301100e+10,Liabilities,8.760000e+09,29.0,50.62,1.986000e+08,Denmark Krone,1.164817e+10,2.888168e+09,14.542639
164,10947.0,25.0,USA,PINX,HLUKF,H. Lundbeck A/S,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,43.95,...,2.301100e+10,Liabilities,8.760000e+09,29.0,50.62,1.986000e+08,Denmark Krone,1.164817e+10,2.888168e+09,14.542639
165,12053.0,25.0,USA,PINX,HYPMY,Hypera SA ADR,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,6.78,...,1.055698e+10,Liabilities,2.289310e+09,16.0,40.90,6.360812e+08,Brazil Real,4.317806e+09,2.028496e+09,3.189052
166,12919.0,25.0,USA,PINX,ORINF,Orion Oyj Class B,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,37.30,...,1.146700e+09,Liabilities,3.736000e+08,34.0,63.50,1.406710e+08,Euro Member Countries,7.281545e+08,3.545545e+08,2.520452
167,13157.0,25.0,USA,PINX,ORINY,Orion Oyj ADR,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,18.85,...,1.146700e+09,Liabilities,3.736000e+08,34.0,63.50,2.813420e+08,Euro Member Countries,7.281545e+08,3.545545e+08,1.260226
168,15203.0,25.0,USA,PINX,LVZPF,Livzon Pharmaceutical Group Inc Class H,Drug Manufacturers - Specialty & Generic,Healthcare,Stock,2.92,...,1.743735e+10,Liabilities,6.785369e+09,22.0,71.52,7.137770e+08,China Yuan Renminbi,1.247119e+10,5.685821e+09,7.965823
184,3835.0,1.0,USA,GREY,SRDDF,Alpargatas SA Pfd Shs,Footwear & Accessories,Consumer Cyclical,Stock,4.29,...,3.980105e+09,Liabilities,1.599292e+09,16.0,60.03,5.788167e+08,Brazil Real,2.389257e+09,7.899650e+08,1.364793
186,13370.0,25.0,USA,PINX,MBUMY,Mabuchi Motor Co Ltd ADR,Auto Parts,Consumer Cyclical,Stock,8.50,...,2.682430e+11,Liabilities,2.379200e+10,52.0,67.65,2.684859e+08,Japan Yen,1.814664e+11,1.576744e+11,587.272470
190,13260.0,25.0,USA,PINX,SFRGF,Salvatore Ferragamo SpA,Luxury Goods,Consumer Cyclical,Stock,21.45,...,1.187131e+09,Liabilities,4.334400e+08,34.0,65.83,1.691304e+08,Euro Member Countries,7.814883e+08,3.480483e+08,2.057870
191,13893.0,25.0,USA,PINX,SFRGY,Salvatore Ferragamo SpA ADR,Luxury Goods,Consumer Cyclical,Stock,11.20,...,1.187131e+09,Liabilities,4.334400e+08,34.0,65.83,3.382607e+08,Euro Member Countries,7.814883e+08,3.480483e+08,1.028935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50486,1085818.0,16.0,DEU,XFRA,RQM,Garibaldi Resources Corp,Industrial Metals & Minerals,Basic Materials,Stock,0.59,...,4.613358e+07,Liabilities,2.159836e+06,19.0,34.97,1.078729e+08,Canada Dollar,1.613291e+07,1.397308e+07,0.129533
50487,1085818.0,17.0,DEU,XBER,RQM,Garibaldi Resources Corp,Industrial Metals & Minerals,Basic Materials,Stock,0.62,...,4.613358e+07,Liabilities,2.159836e+06,19.0,34.97,1.078729e+08,Canada Dollar,1.613291e+07,1.397308e+07,0.129533
50488,1095889.0,16.0,DEU,XFRA,TQ42,Fandom Sports Media Corp,Software - Application,Technology,Stock,0.03,...,2.884675e+06,Liabilities,1.846580e+05,19.0,58.96,1.357260e+08,Canada Dollar,1.700804e+06,1.516146e+06,0.011171
50489,1095889.0,141.0,DEU,XMUN,TQ42,Fandom Sports Media Corp,Software - Application,Technology,Stock,0.05,...,2.884675e+06,Liabilities,1.846580e+05,19.0,58.96,1.357260e+08,Canada Dollar,1.700804e+06,1.516146e+06,0.011171
50490,1095889.0,144.0,DEU,XSTU,TQ42,Fandom Sports Media Corp,Software - Application,Technology,Stock,0.04,...,2.884675e+06,Liabilities,1.846580e+05,19.0,58.96,1.357260e+08,Canada Dollar,1.700804e+06,1.516146e+06,0.011171
50491,1389108.0,16.0,DEU,XFRA,1XNA,Ynvisible Interactive Inc Class A,Electronic Components,Technology,Stock,0.25,...,2.805794e+06,Liabilities,1.795714e+06,19.0,83.96,5.221620e+07,Canada Dollar,2.355745e+06,5.600306e+05,0.010725
50493,1396733.0,16.0,DEU,XFRA,1KO1,Norra Metals Corp,Industrial Metals & Minerals,Basic Materials,Stock,0.02,...,4.771430e+05,Liabilities,1.488960e+05,19.0,93.92,3.265830e+07,Canada Dollar,4.481327e+05,2.992367e+05,0.009163
50494,1144357.0,16.0,DEU,XFRA,1OG,Osprey Gold Development Ltd,Gold,Basic Materials,Stock,0.03,...,3.117095e+06,Liabilities,6.237400e+04,19.0,18.64,4.585683e+07,Canada Dollar,5.810265e+05,5.186525e+05,0.011310
50504,6803.0,25.0,USA,PINX,CTHZ,Cancer Treatment Holdings Inc,Health Information Services,Technology,Stock,0.06,...,1.195590e+06,Liabilities,3.830350e+05,104.0,33.72,3.336476e+06,United States Dollar,4.031529e+05,2.011795e+04,0.006030
50505,277386.0,16.0,DEU,XFRA,DAT,DAVIDsTEA Inc,Packaged Foods,Consumer Defensive,Stock,1.17,...,1.294650e+08,Liabilities,4.898300e+07,19.0,62.88,2.599234e+07,Canada Dollar,8.140759e+07,3.242459e+07,1.247467
50506,277386.0,17.0,DEU,XBER,DAT,DAVIDsTEA Inc,Packaged Foods,Consumer Defensive,Stock,1.21,...,1.294650e+08,Liabilities,4.898300e+07,19.0,62.88,2.599234e+07,Canada Dollar,8.140759e+07,3.242459e+07,1.247467
50507,277386.0,141.0,DEU,XMUN,DAT,DAVIDsTEA Inc,Packaged Foods,Consumer Defensive,Stock,1.17,...,1.294650e+08,Liabilities,4.898300e+07,19.0,62.88,2.599234e+07,Canada Dollar,8.140759e+07,3.242459e+07,1.247467
50508,277386.0,144.0,DEU,XSTU,DAT,DAVIDsTEA Inc,Packaged Foods,Consumer Defensive,Stock,1.18,...,1.294650e+08,Liabilities,4.898300e+07,19.0,62.88,2.599234e+07,Canada Dollar,8.140759e+07,3.242459e+07,1.247467
50520,778297.0,17.0,DEU,XBER,0MC1,Midasco Capital Corp,Industrial Metals & Minerals,Basic Materials,Stock,0.07,...,1.028810e+05,Liabilities,9.983900e+04,19.0,100.00,1.228053e+07,Canada Dollar,1.028810e+05,3.042000e+03,0.000248
50528,812744.0,144.0,DEU,XSTU,19K,Cormedix Inc,Biotechnology,Healthcare,Stock,1.49,...,1.882591e+07,Liabilities,1.389166e+07,NaN,99.15,2.092400e+07,NaN,1.866589e+07,4.773816e+06,0.228150
50533,16780.0,44.0,USA,XNAS,PTIE,Pain Therapeutics Inc,Biotechnology,Healthcare,Stock,1.16,...,2.083600e+07,Liabilities,8.620000e+05,NaN,99.44,1.195900e+07,NaN,2.071932e+07,1.985732e+07,1.660450
50535,3007.0,1.0,USA,GREY,BWMXF,Osisko Metals Incorporated,Gold,Basic Materials,Stock,0.38,...,8.722364e+07,Liabilities,1.136740e+07,NaN,31.41,1.175406e+08,NaN,2.739694e+07,1.602954e+07,0.136375
50539,277368.0,575.0,ITA,XMIL,MCH,Mediacontech,Media - Diversified,Consumer Cyclical,Stock,0.51,...,1.213700e+07,Liabilities,2.277000e+06,34.0,90.41,1.844130e+07,Euro Member Countries,1.097306e+07,8.696062e+06,0.471554
50542,691881.0,17.0,DEU,XBER,OGPN,NRG Metals Inc,Industrial Metals & Minerals,Basic Materials,Stock,0.50,...,2.297515e+06,Liabilities,3.547340e+05,19.0,27.87,3.364617e+07,Canada Dollar,6.403174e+05,2.855834e+05,0.008488
50543,654451.0,18.0,GBR,XLON,IND,IndigoVision Group PLC,Security & Protection Services,Industrials,Stock,142.50,...,3.005800e+07,Liabilities,1.423500e+07,104.0,86.92,6.920000e+06,United States Dollar,2.612641e+07,1.189141e+07,1.718412
50552,65178.0,16.0,DEU,XFRA,FAD1,Advaxis Inc,Biotechnology,Healthcare,Stock,0.30,...,5.030300e+07,Liabilities,1.280300e+07,104.0,76.68,4.642741e+06,United States Dollar,3.857234e+07,2.576934e+07,5.550458
50553,65178.0,17.0,DEU,XBER,FAD1,Advaxis Inc,Biotechnology,Healthcare,Stock,0.40,...,5.030300e+07,Liabilities,1.280300e+07,104.0,76.68,4.642741e+06,United States Dollar,3.857234e+07,2.576934e+07,5.550458
50554,65178.0,144.0,DEU,XSTU,FAD1,Advaxis Inc,Biotechnology,Healthcare,Stock,0.30,...,5.030300e+07,Liabilities,1.280300e+07,104.0,76.68,4.642741e+06,United States Dollar,3.857234e+07,2.576934e+07,5.550458
50556,18975.0,302.0,USA,XNYS,DSW,Designer Brands Inc,Apparel Stores,Consumer Cyclical,Stock,22.32,...,1.620584e+09,Liabilities,7.882070e+08,104.0,66.68,7.941100e+07,United States Dollar,1.080605e+09,2.923984e+08,3.682090
50558,215463.0,144.0,DEU,XSTU,WR4D,DropCar Inc,Software - Application,Technology,Stock,0.41,...,1.302270e+07,Liabilities,5.437317e+06,NaN,53.10,1.434965e+06,NaN,6.915053e+06,1.477733e+06,1.029804
50563,114161.0,16.0,DEU,XFRA,HQ1N,ARCA biopharma Inc,Biotechnology,Healthcare,Stock,0.27,...,6.825000e+06,Liabilities,7.930000e+05,104.0,99.30,1.392484e+07,United States Dollar,6.777225e+06,5.984225e+06,0.429752
50569,620954.0,144.0,DEU,XSTU,US23334L1026,Designer Brands Inc,Apparel Stores,Consumer Cyclical,Stock,19.38,...,1.620584e+09,Liabilities,7.882070e+08,104.0,66.68,7.941100e+07,United States Dollar,1.080605e+09,2.923984e+08,3.682090
50575,812744.0,17.0,DEU,XBER,19K,Cormedix Inc,Biotechnology,Healthcare,Stock,7.30,...,1.882591e+07,Liabilities,1.389166e+07,NaN,99.15,2.092400e+07,NaN,1.866589e+07,4.773816e+06,0.228150
50577,17740.0,44.0,USA,XNAS,THST,Truett-Hurst Inc Class A,Beverages - Wineries & Distilleries,Consumer Defensive,Stock,1.49,...,1.811700e+07,Liabilities,7.658000e+06,NaN,65.40,4.579861e+06,NaN,1.184852e+07,4.190518e+06,0.914988
50581,1626.0,25.0,USA,PINX,PTVYF,3 Sixty Risk Solutions Ltd,Conglomerates,Industrials,Stock,0.35,...,3.291500e+07,Liabilities,2.205000e+07,19.0,100.00,1.226955e+09,Canada Dollar,3.291500e+07,1.086500e+07,0.008855

[return to top of this section](#value),
[return to the top](#top)
<a id="rule6"></a>
### Rule 6. Operating Cash Flow growth for the past 7 yrs

[return to top of this section](#value),
[return to the top](#top)
<a id="rule7"></a>
### Rule 7. *Owner earnings* growth rate > 6% over past 7 years

$owner\ earning's = net\ income + amortization\ and\ depreciation\ - normal\ capital\ expenditures$

Benjamin Graham mentions in *Intelligent Investor* that, because it adjusts for entries like amortization and depreciation that do not affect the company's cash balances, *owner earnings* is a better measure to reported net income.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule8"></a>
### Rule 8. Long-term debt < 50% of total capital

[return to top of this section](#value),
[return to the top](#top)
<a id="rule9"></a>
### Rule 9. NAV per share > Stock Price

The definition of NAV as described by Graham in the Intelligent Investor

$net\ asset\ value\ (NAV)\ = total\ assets\ - intangible\ assets\ (patents,\ goodwill)\ - total\ liabilities\$

[return to top of this section](#value),
[return to the top](#top)
<a id="rule10"></a>
### Rule 10. Growth Stocks as defined in *The Intelligent Investor*

*'The term â€œgrowth stockâ€ is applied to one which has increased its per-share earnings in the past at well above the rate for common stocks generally and is expected to continue to do so in the future. (Some authorities would say that a true growth stock should be expected at least to double its per-share earnings in ten yearsâ€”i.e., to increase them at a __compounded annual rate of over 7.1%__.)'* - Benjamin Graham, *The Intelligent Investor*

$$Compounded\ Annual\ Growth\ Rate\ (CAGR)\ = \left(\frac{EV}{BV}\right)^{\frac{1}{n}}-1 > 7.1\%$$

$$EV = Ending\ value\$$

$$BV = Beginning\ value\$$

$$n = Number\ of\ periods\ (months,\ years,\ etc.)\$$

[return to top of this section](#value),
[return to the top](#top)
<a id="rule11"></a>
### Rule 11. Positive ratio of earnings to fixed charges

[return to top of this section](#value),
[return to the top](#top)
<a id="rule12"></a>
### Rule 12. CAN SLIM

CAN SLIM refers to the acronym developed by the American stock research and education company Investor's Business Daily (IBD). IBD claims CANSLIM represents the seven characteristics that top-performing stocks often share before making their biggest price gains. It was developed in the 1950s by Investor's Business Daily founder William O'Neil. The method was named the top-performing investment strategy from 1998-2009 by the American Association of Individual Investors. In 2015, an exchange-traded fund (ETF) was launched focusing on the companies listed on the IBD 50, a computer generated list published by Investors Business Daily that highlights stocks based on the CAN SLIM investment criteria. [(Source)](https://en.m.wikipedia.org/wiki/CAN_SLIM?wprov=sfla1)

[return to top of this section](#value),
[return to the top](#top)
<a id="rule13"></a>
### Rule 13.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule14"></a>
### Rule 14.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule15"></a>
### Rule 15.

[return to top of this section](#value),
[return to the top](#top)
<a id="mergerules"></a>
### Merging DataFrames

In [145]:
df_rules = (df_rule1
            .merge(df_rule2, on=['ticker_id', 'exchange_id'])
            .merge(df_rule3, on=['ticker_id', 'exchange_id'])
            .merge(df_rule4, on=['ticker_id', 'exchange_id'])
           )

In [146]:
df_rules.columns.values

array(['ticker_id', 'exchange_id', 'country', 'exchange_sym', 'ticker',
       'company', 'sector', 'industry', 'stock_type', 'style', 'Year_Y_6',
       'Year_Y_5', 'Year_Y_4', 'Year_Y_3', 'Year_Y_2', 'Year_Y_1',
       'Net_Income_Y6', 'Net_Income_Y5', 'Net_Income_Y4', 'Net_Income_Y3',
       'Net_Income_Y2', 'Net_Income_Y1', 'Y10', 'Y9', 'Y8', 'Y7', 'Y6',
       'Y5', 'Dividend_Y10', 'Dividend_Y9', 'Dividend_Y8', 'Dividend_Y7',
       'Dividend_Y6', 'Dividend_Y5', 'Dividend_Y4', 'Dividend_Y3',
       'PE_TTM', 'PE_2018', 'PE_2017', 'PE_2016', 'PE_2015', 'PE_2014',
       'PE_2013', 'PE_2012', 'PB_TTM', 'PB_2018', 'PB_2017', 'PB_2016',
       'PB_2015', 'PB_2014'], dtype=object)

In [160]:
dfr = (df_rules
       .where(df_rules['country'] == 'USA')
       .groupby(['country', 'exchange_sym', 'ticker', 'company', 'sector', 'industry'])
       .mean()
       .sort_values(by='exchange_sym', ascending=True)
      )

In [161]:
dfr

                                                                                                                              ticker_id  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers            11637.0
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction     9413.0
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General          7082.0
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction    11682.0
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General          8462.0
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US          6100.0
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe      9351.0
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers             6268.0
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US          9752.0
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution             15692.0
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US         17076.0
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US         16548.0
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US         16671.0
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US         16337.0
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management              16012.0
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management              16436.0
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management              18718.0
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty         18744.0
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US         18793.0
                     COF    Capital One Financial Corp                         Financial Services Credit Services               18860.0
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers            19092.0
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US         19062.0
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets               19127.0
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services               19376.0

                                                                                                                              exchange_id  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers                 25.0
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction         25.0
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General              25.0
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction         25.0
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General              25.0
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US              25.0
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe          25.0
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers                 25.0
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US              25.0
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution                 547.0
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US              44.0
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US              44.0
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US              44.0
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US              44.0
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management                   44.0
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management                   44.0
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management                  302.0
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty             302.0
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US             302.0
                     COF    Capital One Financial Corp                         Financial Services Credit Services                   302.0
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers                302.0
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US             302.0
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets                   302.0
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services                   302.0

                                                                                                                              Net_Income_Y6  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           4.165809e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.881063e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        4.302000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.897300e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        5.211093e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        3.190058e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.845912e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           2.194720e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        1.217400e+07
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            6.999300e+07
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.617000e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.850800e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        1.243100e+07
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        2.492000e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             8.150000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.909580e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             8.240000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        5.596000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.211000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              7.911000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           1.160860e+08
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        1.591390e+08
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.827000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              3.248660e+08

                                                                                                                              Net_Income_Y5  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           4.165809e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.881063e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        4.302000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.897300e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        5.211093e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        3.190058e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.845912e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           2.022700e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        1.217400e+07
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            6.999300e+07
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.617000e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.850800e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        1.243100e+07
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        2.492000e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             8.150000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.909580e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             8.240000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        5.596000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.211000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              7.911000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           1.160860e+08
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        1.591390e+08
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.827000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              3.248660e+08

                                                                                                                              Net_Income_Y4  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           3.845990e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.520646e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        3.807000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.984600e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        8.618423e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        1.937088e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.433825e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           1.793280e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        8.984000e+06
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            3.012780e+08
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.040200e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.307000e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        9.455000e+06
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        1.845700e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             5.230000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.474550e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             6.710000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        3.682000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.277000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              6.035000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           9.444300e+07
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        9.607000e+07
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.128000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              6.142730e+08

                                                                                                                              Net_Income_Y3  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           3.548578e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.196395e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        2.063000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.802500e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        8.043335e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        1.851480e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    4.017410e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           1.456100e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        8.301000e+06
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            1.702160e+08
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        1.173770e+08
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.301600e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        6.416000e+06

In [154]:
dfr.columns

Index(['ticker_id', 'exchange_id', 'Net_Income_Y6', 'Net_Income_Y5',
       'Net_Income_Y4', 'Net_Income_Y3', 'Net_Income_Y2', 'Net_Income_Y1',
       'Dividend_Y10', 'Dividend_Y9', 'Dividend_Y8', 'Dividend_Y7',
       'Dividend_Y6', 'Dividend_Y5', 'Dividend_Y4', 'Dividend_Y3', 'PE_TTM',
       'PE_2018', 'PE_2017', 'PE_2016', 'PE_2015', 'PE_2014', 'PE_2013',
       'PE_2012', 'PB_TTM', 'PB_2018', 'PB_2017', 'PB_2016', 'PB_2015',
       'PB_2014'],
      dtype='object')

<a id="additional"></a>
[return to the top](#top)

## Additional sample / test code

In [164]:
(df_master
 .where(df_master['avevol'] > 1000000).dropna(axis=0, how='all')
)

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,aprvol,avevol,Forward_PE,pb,ps,pc,currency,currency_code,fy_end,updated_date
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,1.500000e+07,1.700000e+07,NaN,1.9,12.7,17.5,United States Dollar,USD,2019-12-31,2019-04-08
14,19993.0,302.0,PEB,Pebblebrook Hotel Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Hotel & Motel,Real Estate,United States,US,...,1.100000e+07,1.200000e+07,36.8,1.1,2.9,17.5,United States Dollar,USD,2019-12-31,2019-04-08
15,18925.0,302.0,NNN,National Retail Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Retail,Real Estate,United States,US,...,6.255050e+05,1.100000e+07,NaN,2.5,13.5,17.8,United States Dollar,USD,2019-12-31,2019-04-08
20,18726.0,302.0,AIV,Apartment Investment & Management Co,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,6.082250e+05,1.300000e+07,181.8,4.8,7.9,19.4,United States Dollar,USD,2019-12-31,2019-04-08
24,19694.0,302.0,UDR,UDR Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1.100000e+07,1.500000e+07,NaN,4.5,11.7,21.9,United States Dollar,USD,2019-12-31,2019-04-08
25,20221.0,302.0,AMH,American Homes 4 Rent Class A,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,9.166240e+05,2.000000e+07,20.6,1.3,6.3,16.5,United States Dollar,USD,2019-12-31,2019-04-08
26,20509.0,302.0,INVH,Invitation Homes Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,2.700000e+07,3.400000e+07,19.8,1.6,7.4,22.7,United States Dollar,USD,2019-12-31,2019-04-08
31,19677.0,302.0,CUBE,CubeSmart,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,8.983220e+05,1.400000e+07,NaN,3.5,10.0,19.6,United States Dollar,USD,2019-12-31,2019-04-08
32,19013.0,302.0,DRE,Duke Realty Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,1.700000e+07,2.100000e+07,57.1,2.4,11.7,22.9,United States Dollar,USD,2019-12-31,2019-04-08
34,19162.0,302.0,HCP,HCP Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,2.600000e+07,3.200000e+07,69.4,2.5,8.3,17.5,United States Dollar,USD,2019-12-31,2019-04-08
35,19322.0,302.0,MPW,Medical Properties Trust Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,1.600000e+07,3.600000e+07,NaN,1.6,8.8,15.3,United States Dollar,USD,2019-12-31,2019-04-08
36,20144.0,302.0,HTA,Healthcare Trust of America Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,9.589930e+05,1.400000e+07,NaN,1.8,8.6,17.8,United States Dollar,USD,2019-12-31,2019-04-08
38,19367.0,302.0,NOV,National Oilwell Varco Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Equipment & Services,Energy,United States,US,...,2.900000e+07,3.700000e+07,112.4,0.8,1.3,20.5,United States Dollar,USD,2019-12-31,2019-04-08
39,18725.0,302.0,APA,Apache Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,5.500000e+07,4.400000e+07,50.8,1.9,1.9,3.6,United States Dollar,USD,2019-12-31,2019-04-08
40,18989.0,302.0,DVN,Devon Energy Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,7.200000e+07,8.100000e+07,22.8,1.5,1.5,6.0,United States Dollar,USD,2019-12-31,2019-04-08
41,19051.0,302.0,EQT,EQT Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,2.600000e+07,4.400000e+07,13.7,0.5,1.2,1.9,United States Dollar,USD,2019-12-31,2019-04-08
42,19305.0,302.0,MRO,Marathon Oil Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,9.200000e+07,1.200000e+08,47.8,1.2,2.5,4.6,United States Dollar,USD,2019-12-31,2019-04-08
43,19389.0,302.0,NBL,Noble Energy Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,5.500000e+07,6.000000e+07,285.7,1.3,2.5,5.3,United States Dollar,USD,2019-12-31,2019-04-08
44,18962.0,302.0,ENLC,EnLink Midstream LLC,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,2.000000e+07,3.100000e+07,38.3,4.0,0.3,2.7,United States Dollar,USD,2019-12-31,2019-04-08
48,20705.0,302.0,ETRN,Equitrans Midstream Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,2.900000e+07,2.000000e+07,3.7,12.0,3.7,7.6,United States Dollar,USD,2019-12-31,2019-04-08
49,20245.0,302.0,PAGP,Plains GP Holdings LP Class A,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,1.300000e+07,1.400000e+07,20.5,2.2,0.2,2.7,United States Dollar,USD,2019-12-31,2019-04-08
59,4025.0,1.0,PTPKF,Pakuwon Jati Tbk,OTC GREY MARKET,GREY,Real Estate Services,Real Estate,United States,US,...,1.028000e+09,1.500000e+07,NaN,4.8,6.9,13.9,United States Dollar,USD,2019-12-31,2019-04-08
91,16010.0,44.0,ACGL,Arch Capital Group Ltd,NASDAQ,XNAS,Insurance - Diversified,Financial Services,United States,US,...,8.424270e+05,1.100000e+07,13.1,1.5,2.5,8.6,United States Dollar,USD,2019-12-31,2019-04-08
121,19079.0,302.0,FBP,First BanCorp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Banks - Regional - US,Financial Services,United States,US,...,1.500000e+07,1.500000e+07,NaN,1.3,4.4,8.7,United States Dollar,USD,2019-12-31,2019-04-08
130,20368.0,302.0,AXTA,Axalta Coating Systems Ltd,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Specialty Chemicals,Basic Materials,United States,US,...,2.400000e+07,1.900000e+07,19.3,5.2,1.4,13.1,United States Dollar,USD,2019-12-31,2019-04-08
137,18677.0,302.0,AEM,Agnico Eagle Mines Ltd,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,9.789010e+05,1.200000e+07,97.1,2.2,4.6,16.7,United States Dollar,USD,2019-12-31,2019-04-08
138,18720.0,302.0,AU,Anglogold Ashanti Ltd ADR,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,2.300000e+07,3.900000e+07,19.6,2.1,1.4,6.5,United States Dollar,USD,2019-12-31,2019-04-08
139,19779.0,302.0,AUY,Yamana Gold Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,1.140000e+08,1.280000e+08,32.4,0.6,1.4,6.1,United States Dollar,USD,2019-12-31,2019-04-08
140,19125.0,302.0,GFI,Gold Fields Ltd ADR,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,1.800000e+07,5.000000e+07,14.8,1.2,1.2,5.7,United States Dollar,USD,2019-12-31,2019-04-08
141,15837.0,547.0,BTG,B2Gold Corp,NYSE MKT LLC,XASE,Gold,Basic Materials,United States,US,...,2.900000e+07,4.800000e+07,17.0,1.7,2.4,6.5,United States Dollar,USD,2019-12-31,2019-04-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111703,1294365.0,563.0,399107,Shenzhen SE A Share PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.770000e+08,3.590000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111705,1294367.0,563.0,399002,Shenzhen SE Component A Share PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.620000e+08,1.630000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111706,1294368.0,563.0,399001,Shenzhen SE Component PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.620000e+08,1.630000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111707,1294369.0,563.0,399106,Shenzhen SE Composite PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.770000e+08,3.590000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111708,1294370.0,563.0,399100,Shenzhen SE New PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.680000e+08,3.530000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111709,1294371.0,563.0,399101,Shenzhen SE SME Composite PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.640000e+08,1.540000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111710,153390.0,569.0,000001,SSE Composite PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.691000e+09,3.161000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111711,298292.0,569.0,000017,SSE New Composite PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.683000e+09,3.145000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111712,298331.0,569.0,000002,SSE A Share PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.683000e+09,3.156000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111713,612154.0,569.0,000016,SSE 50 A Share PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,7.300000e+08,4.380000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111715,1303744.0,569.0,601595,Shanghai Film Co Ltd A,SHANGHAI STOCK EXCHANGE,XSHG,Media - Diversified,Consumer Cyclical,China,CN,...,1.600000e+07,2.500000e+07,NaN,2.6,4.9,46.1,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111716,1315017.0,563.0,002725,Zhejiang Yueling Co Ltd Class A,SHENZHEN STOCK EXCHANGE,XSHE,Auto Parts,Consumer Cyclical,China,CN,...,5.300000e+07,1.230000e+08,NaN,2.8,3.0,141.7,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111717,164599.0,569.0,603009,Shanghai Beite Technology Co Ltd,SHANGHAI STOCK EXCHANGE,XSHG,Auto Parts,Consumer Cyclical,China,CN,...,2.650000e+08,7.000000e+07,NaN,1.9,3.6,58.0,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111718,1166517.0,569.0,603003,Shanghai Lonyer Fuels Co Ltd Class A,SHANGHAI STOCK EXCHANGE,XSHG,Oil & Gas Integrated,Energy,China,CN,...,4.400000e+07,5.500000e+07,NaN,0.9,0.2,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111719,216688.0,569.0,603189,Shanghai Wondertek Software Corp Ltd A,SHANGHAI STOCK EXCHANGE,XSHG,Software - Application,Technology,China,CN,...,1.390000e+08,4.500000e+07,NaN,4.3,19.1,94.6,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111721,1085718.0,563.0,002825,Shanghai Nar Industrial Co Ltd A,SHENZHEN STOCK EXCHANGE,XSHE,Publishing,Consumer Cyclical,China,CN,...,1.500000e+07,2.200000e+07,NaN,3.7,2.9,27.7,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111722,1304101.0,569.0,603733,Xianhe Co Ltd,SHANGHAI STOCK EXCHANGE,XSHG,Paper & Paper Products,Basic Materials,China,CN,...,2.610000e+08,6.600000e+07,NaN,3.7,2.8,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111730,7271.0,25.0,INKW,Greene Concepts Inc,OTC MARKETS,PINX,Computer Systems,Technology,United States,US,...,1.700000e+07,1.200000e+07,NaN,NaN,NaN,NaN,United States Dollar,USD,2015-07-31,2019-04-07
111844,143738.0,433.0,MAY,Melbana Energy Ltd,ASX - ALL MARKETS,XASX,Oil & Gas E&P,Energy,Australia,AU,...,2.300000e+07,2.100000e+07,NaN,3.1,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111848,282012.0,433.0,INP,IncentiaPay Ltd,ASX - ALL MARKETS,XASX,Software - Infrastructure,Technology,Australia,AU,...,2.200000e+07,2.800000e+07,NaN,0.5,0.2,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111850,789366.0,433.0,SHH,Shree Minerals Ltd,ASX - ALL MARKETS,XASX,Industrial Metals & Minerals,Basic Materials,Australia,AU,...,5.999000e+04,1.200000e+07,NaN,1.8,1.0,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111854,281530.0,433.0,IMU,Imugene Ltd,ASX - ALL MARKETS,XASX,Biotechnology,Healthcare,Australia,AU,...,3.400000e+07,3.900000e+07,NaN,2.1,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111855,215024.0,433.0,IVX,Invion Ltd,ASX - ALL MARKETS,XASX,Drug Manufacturers - Specialty & Generic,Healthcare,Australia,AU,...,1.300000e+07,1.500000e+07,NaN,13.4,123.0,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111856,561749.0,433.0,XTD,XTD Ltd,ASX - ALL MARKETS,XASX,Marketing Services,Consumer Cyclical,Australia,AU,...,2.500000e+04,1.000000e+07,NaN,0.9,1.1,119.1,Australia Dollar,AUD,2018-06-30,2019-04-07
111858,648642.0,433.0,PCK,Painchek Ltd,ASX - ALL MARKETS,XASX,Health Information Services,Technology,Australia,AU,...,2.000000e+05,1.000000e+07,NaN,13.0,423.1,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111862,675692.0,433.0,SYA,Sayona Mining Ltd,ASX - ALL MARKETS,XASX,Industrial Metals & Minerals,Basic Materials,Australia,AU,...,1.000000e+07,2.000000e+07,NaN,1.2,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
112019,18975.0,302.0,DSW,Designer Brands Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Apparel Stores,Consumer Cyclical,United States,US,...,9.062420e+05,1.700000e+07,12.2,2.1,0.6,10.1,United States Dollar,USD,2020-02-02,2019-03-26
112091,16494.0,44.0,IDTI,Integrated Device Technology Inc,NASDAQ,XNAS,Semiconductors,Technology,United States,US,...,3.100000e+07,2.500000e+07,22.7,10.4,7.1,21.3,United States Dollar,USD,2019-04-01,2019-03-26
112092,16018.0,44.0,ARRS,ARRIS International PLC,NASDAQ,XNAS,Communication Equipment,Technology,United States,US,...,5.100000e+07,2.100000e+07,NaN,1.9,0.9,8.9,United States Dollar,USD,2019-12-31,2019-04-04
112116,15942.0,44.0,ACET,Aceto Corp,NASDAQ,XNAS,Drug Manufacturers - Specialty & Generic,Healthcare,United States,US,...,1.200000e+07,3.300000e+07,NaN,0.1,0.0,14.5,United States Dollar,USD,2019-06-30,2019-03-25

In [16]:
df = None # Set df variable to none to close db connection

Database connection for file db/mstables2.sqlite closed.