<a id='top'></a>
# How to slice and dice the data
Below are a series of examples on how to slice and dice the data that is stored in the *.sqlite* file generated by the [MorningStar.com](https://www.morningstar.com) scraper. 

##### NOTE: 
- The data used to generate the codes below comes from the *.sqlite* that is generated by the scraper once it has been installed and ran locally on your machine. See the [README]() for instructions on how to run install and run the scraper.
- Navigation links as the ones in the list of content below as well as other links throught this document will only work if you are using [Jupyter](https://jupyter.org/) to view this document.


**Content** 

1. [Required modules and matplotlib backend](#modules)
1. [Creating a master (bridge table) DataFrame instance using the DataFrames class](#master)
1. [Creating DataFrame instances with the dataframes methods](#methods)
1. [Statistical values on the MorningStar data downloaded](#stats)
1. [Applying various criteria to filter common stocks](#value) *(in progress)*
1. [Additional sample / test code](#additional) *(in progress)*

<a id="modules"></a>
## Required modules and matplotlib backend

In [171]:
%matplotlib notebook

In [172]:
import matplotlib.pyplot as plt
import matplotlib

In [173]:
from importlib import reload
import pandas as pd
import numpy as np

# Import dataframes module from project folder.
# This module contains a class that reads the database tables and assigns the data to pandas.DataFrame objects
import dataframes
reload(dataframes) #reload if changes have been made to module file

[return to the top](#top)
<a id="master"></a>
## Creating a master DataFrame instance using the dataframes class
The DataFrames class is part of the [dataframes module](dataframes.py)

In [174]:
db_file_name = 'mstables2' # Change the file name here as needed
df = dataframes.DataFrames('db/{}.sqlite'.format(db_file_name))

Creating intial DataFrames from file db/mstables2.sqlite...
Creating DataFrame 'colheaders' ...
Creating DataFrame 'timerefs' ...
Creating DataFrame 'urls' ...
Creating DataFrame 'securitytypes' ...
Creating DataFrame 'tickers' ...
Creating DataFrame 'sectors' ...
Creating DataFrame 'industries' ...
Creating DataFrame 'stockstyles' ...
Creating DataFrame 'exchanges' ...
Creating DataFrame 'countries' ...
Creating DataFrame 'companies' ...
Creating DataFrame 'currencies' ...
Creating DataFrame 'stocktypes' ...
Creating DataFrame 'master' ...
Initial DataFrames created.

### Creating Master DataFrame instance from reference tables
By merging `df.master` (*Master* bridge table) with other reference tables (e.g. `df.tickers`, `df.exchanges`, etc.)
##### DataFrame Instance

In [175]:
# Merge Tables
df_master0 = (df.master
# Ticker Symbols
 .merge(df.tickers, left_on='ticker_id', right_on='id').drop(['id'], axis=1)
# Company / Security Name
 .merge(df.companies, left_on='company_id', right_on='id').drop(['id', 'company_id'], axis=1)
# Exchanges
 .merge(df.exchanges, left_on='exchange_id', right_on='id').drop(['id'], axis=1)
# Industries
 .merge(df.industries, left_on='industry_id', right_on='id').drop(['id', 'industry_id'], axis=1)
# Sectors
 .merge(df.sectors, left_on='sector_id', right_on='id').drop(['id', 'sector_id'], axis=1)
# Countries
 .merge(df.countries, left_on='country_id', right_on='id').drop(['id', 'country_id'], axis=1)
# Security Types
 .merge(df.securitytypes, left_on='security_type_id', right_on='id').drop(['id', 'security_type_id'], axis=1)
# Stock Types
 .merge(df.stocktypes, left_on='stock_type_id', right_on='id').drop(['id', 'stock_type_id'], axis=1)
# Stock Style Types
 .merge(df.styles, left_on='style_id', right_on='id').drop(['id', 'style_id'], axis=1)
# Quote Header Info
 .merge(df.quoteheader(), on=['ticker_id', 'exchange_id']).rename(columns={'fpe':'Forward_PE'})
# Currency
 .merge(df.currencies, left_on='currency_id', right_on='id').drop(['id', 'currency_id'], axis=1)
# Fiscal Year End
 .merge(df.timerefs, left_on='fyend_id', right_on='id').drop(['fyend_id'], axis=1)
             .rename(columns={'dates':'fy_end'})
# Updated Date
 .merge(df.timerefs, left_on='update_date_id', right_on='id').drop(['update_date_id'], axis=1)
             .rename(columns={'dates':'updated_date'})
)

# Change date columns to TimeFrames
df_master0['fy_end'] = pd.to_datetime(df_master0['fy_end'])
df_master0['updated_date'] = pd.to_datetime(df_master0['updated_date'])

# Create df_master and apply filters
df_master = df_master0.copy()

df_master[['lastprice', 'day_hi', 'day_lo', '_52wk_hi', '_52wk_lo', 'yield', 'aprvol', 'avevol']] = (
    df_master[['lastprice', 'day_hi', 'day_lo', '_52wk_hi', '_52wk_lo', 'yield', 'aprvol', 'avevol']]
    .fillna(value=0.0))

df_master = (df_master.where((df_master['openprice'] > 0.0) & (df_master['lastprice'] > 0.0))
             .dropna(axis=0, how='all'))

In [176]:
df_master.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,aprvol,avevol,Forward_PE,pb,ps,pc,currency,currency_code,fy_end,updated_date
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,11.0,3498.0,NaN,2.4,6.4,16.7,United States Dollar,USD,2019-12-31,2019-04-08
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,1300.0,3014.0,NaN,2.4,6.4,16.8,United States Dollar,USD,2019-12-31,2019-04-08
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,4243.0,17288.0,NaN,2.4,6.4,16.8,United States Dollar,USD,2019-12-31,2019-04-08
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,483944.0,90418.0,NaN,5.1,9.9,14.9,United States Dollar,USD,2019-12-31,2019-04-08
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,15000000.0,17000000.0,NaN,1.9,12.7,17.5,United States Dollar,USD,2019-12-31,2019-04-08

##### DataFrame Length

In [177]:
print('Master DataFrame contains {:,.0f} records.'.format(len(df_master)))

Master DataFrame contains 103,499 records.

##### DataFrame Columns

In [178]:
df_master.columns

Index(['ticker_id', 'exchange_id', 'ticker', 'company', 'exchange',
       'exchange_sym', 'industry', 'sector', 'country', 'country_c2',
       'country_c3', 'security_type_code', 'security_type', 'stock_type',
       'style', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'aprvol', 'avevol', 'Forward_PE', 'pb', 'ps', 'pc',
       'currency', 'currency_code', 'fy_end', 'updated_date'],
      dtype='object')

<br></br>
[return to the top](#top)
<a id='methods'></a>
## Creating DataFrame instances with dataframes methods
Class DataFrames from [dataframe.py](dataframe.py) contains the following methods that return a pd.DataFrame object for the specified database table:

- `quoteheader` - [MorningStar (MS) Quote Header](#quote)
- `valuation` - [MS Valuation table with Price Ratios (P/E, P/S, P/B, P/C) for the past 10 yrs](#val)
- `keyratios` - [MS Ratio - Key Financial Ratios & Values](#keyratios)
- `finhealth` - [MS Ratio - Financial Health](#finhealth)
- `profitability` - [MS Ratio - Profitability](#prof)
- `growth` - [MS Ratio - Growth](#growth)
- `cfhealth` - [MS Ratio - Cash Flow Health](#cfh)
- `efficiency` - [MS Ratio - Efficiency](#eff)
- `annualIS` - [MS Annual Income Statements](#isa)
- `quarterlyIS` - [MS Quarterly Income Statements](#isq)
- `annualBS` - [MS Annual Balance Sheets](#bsa)
- `quarterlyBS` - [MS Quarterly Balance Sheets](#bsq)
- `annualCF` - [MS Annual Cash Flow Statements](#cfa)
- `quarterlyCF` - [MS Quarterly Cash Flow Statements](#cfq)
- `pricehistory` - MSpricehistory

[return to the top](#top)
<a id='quote'></a>
### Quote Header 
##### DataFrame Instance

In [95]:
df_quote = df.quoteheader()

In [96]:
df_quote.head()

,ticker_id,exchange_id,openprice,lastprice,day_hi,day_lo,_52wk_hi,_52wk_lo,yield,aprvol,avevol,fpe,pb,ps,pc,currency_id
0,1,374,15.73,15.72,15.73,15.72,17.72,12.16,2.67,11.0,3498.0,NaN,2.4,6.4,16.7,104.0
1,2,374,15.75,15.77,15.78,15.73,17.68,13.68,2.66,1300.0,3014.0,NaN,2.4,6.4,16.8,104.0
2,3,374,15.76,15.71,15.76,15.63,17.79,11.99,2.67,4243.0,17288.0,NaN,2.4,6.4,16.8,104.0
3,4,482,96.19,95.9,96.48,95.35,115.11,87.87,1.25,192854.0,804691.0,19.8,3.3,3.9,20.1,104.0
4,5,1,0.00,0,0,0,0,0,NaN,184.0,184.0,NaN,NaN,NaN,NaN,104.0

##### DataFrame Length

In [97]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quote)))

DataFrame contains 117,675 records.

<a id='val'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Price Ratios (P/E, P/S, P/B, P/C)
##### DataFrame Instance

In [136]:
df_vals = df.valuation().reset_index()

In [137]:
df_vals

,exchange_id,ticker_id,PE_2009,PE_2010,PE_2011,PE_2012,PE_2013,PE_2014,PE_2015,PE_2016,...,PC_2010,PC_2011,PC_2012,PC_2013,PC_2014,PC_2015,PC_2016,PC_2017,PC_2018,PC_TTM
0,374,1,NaN,NaN,NaN,NaN,NaN,18.6,69.0,57.8,...,NaN,NaN,NaN,48.3,-153.8,24.3,25.8,26.3,21.5,16.7
1,374,2,NaN,NaN,NaN,NaN,NaN,18.2,69.0,58.8,...,NaN,NaN,NaN,50.5,-151.5,24.3,26.2,26.4,20.3,16.8
2,374,3,NaN,NaN,NaN,NaN,NaN,18.3,69.4,58.8,...,NaN,NaN,NaN,48.3,-153.8,24.4,26.2,26.7,20.6,16.8
3,482,4,NaN,22.2,17.4,16.6,27.0,29.7,26.6,31.7,...,16.2,11.1,12.9,19.6,23.1,19.9,26.8,52.9,21.8,20.1
4,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.8,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,10,NaN,NaN,NaN,NaN,1.1,NaN,NaN,NaN,...,-0.8,-0.1,0.0,11.2,-0.4,0.0,0.0,NaN,NaN,NaN
10,1,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-15.0,-15.9,-4.7,-2.0,-0.7,-0.2,NaN,NaN,NaN,NaN
11,1,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-33.3,-7.3,-0.9,-23.8,-9.6,-5.8,NaN,NaN,NaN,NaN
12,1,13,NaN,28.7,50.0,NaN,NaN,NaN,NaN,NaN,...,1.2,2.5,-37.0,-6.5,0.0,0.0,NaN,NaN,NaN,NaN
13,1,14,8.8,10.9,2.8,NaN,NaN,NaN,NaN,NaN,...,22.6,2.0,NaN,-0.3,0.0,0.0,NaN,NaN,NaN,NaN
14,1,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-11.0,-11.1,-6.2,-2.3,-0.1,-0.1,NaN,NaN,NaN,NaN
15,1,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7,0.7,1.3,1.4,NaN,-0.1,NaN,NaN,NaN,NaN
16,1,17,NaN,1.2,0.3,NaN,NaN,NaN,NaN,NaN,...,-2.7,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,-0.3,0.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,1,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.8,0.0,0.0,0.0,NaN,NaN
20,1,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.1,-1.4,-13.6,-70.4,-0.5,0.0,NaN,NaN,NaN,NaN
22,1,23,2.5,5.0,NaN,6.0,NaN,19.7,28.7,43.3,...,3.1,-11.4,12.5,9.7,-35.2,29.2,12.6,41.0,16.6,20.1
23,1,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,...,-1.0,-2.7,-1.6,33.3,-9.9,-6.2,-4.8,64.1,-28.1,NaN
25,1,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-58.8,-18.4,-4.6,-0.2,0.0,NaN,NaN,NaN,NaN,NaN
29,1,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79986,144,236714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79987,144,246148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79988,144,246181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79989,302,248426,34.0,17.1,7.2,21.9,26.2,22.6,13.7,17.5,...,17.4,11.4,11.3,13.9,14.9,10.1,9.1,7.2,10.1,10.1
79990,144,259000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.8
79991,144,261845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79992,144,265260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.4
79993,144,288628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79994,144,290586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79995,144,290612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.4
79996,144,292118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9
79997,144,295595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79998,144,511726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
79999,141,516206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80000,144,521755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80001,144,533077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
80002,144,555848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80003,575,560123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8,...,3.4,1.8,2.8,0.8,-5.0,19.2,-4.0,-1.1,-2.4,NaN
80004,144,560152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
80005,144,600060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.9
80006,433,611978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80007,144,616126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
80008,144,618684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80009,144,621190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.3
80010,17,31773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80011,144,45860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80012,142,46956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379.1
80013,142,65178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80014,144,71456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80015,141,80526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.4

##### DataFrame Length

In [138]:
print('DataFrame contains {:,.0f} records.'.format(len(df_vals)))

DataFrame contains 80,016 records.

##### DataFrame Columnns

In [139]:
df_vals.columns

Index(['exchange_id', 'ticker_id', 'PE_2009', 'PE_2010', 'PE_2011', 'PE_2012',
       'PE_2013', 'PE_2014', 'PE_2015', 'PE_2016', 'PE_2017', 'PE_2018',
       'PE_TTM', 'PS_2009', 'PS_2010', 'PS_2011', 'PS_2012', 'PS_2013',
       'PS_2014', 'PS_2015', 'PS_2016', 'PS_2017', 'PS_2018', 'PS_TTM',
       'PB_2009', 'PB_2010', 'PB_2011', 'PB_2012', 'PB_2013', 'PB_2014',
       'PB_2015', 'PB_2016', 'PB_2017', 'PB_2018', 'PB_TTM', 'PC_2009',
       'PC_2010', 'PC_2011', 'PC_2012', 'PC_2013', 'PC_2014', 'PC_2015',
       'PC_2016', 'PC_2017', 'PC_2018', 'PC_TTM'],
      dtype='object')

<a id='keyratios'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Key Ratios
##### DataFrame Instance

In [102]:
df_keyratios = (df_master.merge(df.keyratios(), on=['ticker_id', 'exchange_id']))

In [103]:
df_keyratios.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM

##### DataFrame Length

In [104]:
print('DataFrame contains {:,.0f} records.'.format(len(df_keyratios)))

DataFrame contains 68,314 records.

##### DataFrame Columnns

In [105]:
df_labels_kratios = (df_keyratios
                     .loc[0, [col for col in df_keyratios.columns if 'Y' not in col and col.startswith('i')]]
                     .replace(df.colheaders['header']))
df_labels_kratios

industry          REIT - Diversified
i0                           Revenue
i1                      Gross_Margin
i2                  Operating_Income
i3                  Operating_Margin
i4                        Net_Income
i5                Earnings_Per_Share
i6                         Dividends
i91                     Payout_Ratio
i7                            Shares
i8              Book_Value_Per_Share
i9               Operating_Cash_Flow
i10                     Cap_Spending
i11                   Free_Cash_Flow
i90         Free_Cash_Flow_Per_Share
i80                  Working_Capital
Name: 0, dtype: object

<a id='finhealth'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Financial Health
##### DataFrame Instance

In [52]:
df_finhealth = df.finhealth()

In [53]:
df_finhealth.head()

,ticker_id,exchange_id,fh_balsheet,i45,i45_fh_Y0,i45_fh_Y1,i45_fh_Y2,i45_fh_Y3,i45_fh_Y4,i45_fh_Y5,...,fh_Y1,fh_Y2,fh_Y3,fh_Y4,fh_Y5,fh_Y6,fh_Y7,fh_Y8,fh_Y9,fh_Y10
0,1,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
1,2,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
2,3,374,324,325,NaN,NaN,NaN,4.89,2.45,1.39,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
3,4,482,324,325,67.09,21.17,41.16,40.02,50.12,38.53,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
4,23,1,324,325,37.05,83.93,79.97,86.32,99.22,22.23,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr

In [54]:
print('DataFrame contains {:,.0f} records.'.format(len(df_finhealth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [55]:
(df_finhealth.loc[0, [col for col in df_finhealth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

fh_balsheet         Balance Sheet Items (in %)
i45              Cash & Short-Term Investments
i46                        Accounts Receivable
i47                                  Inventory
i48                       Other Current Assets
i49                       Total Current Assets
i50                                   Net PP&E
i51                                Intangibles
i52                     Other Long-Term Assets
i53                               Total Assets
i54                           Accounts Payable
i55                            Short-Term Debt
i56                              Taxes Payable
i57                        Accrued Liabilities
i58               Other Short-Term Liabilities
i59                  Total Current Liabilities
i60                             Long-Term Debt
i61                Other Long-Term Liabilities
i62                          Total Liabilities
i63                  Total Stockholders Equity
i64                 Total Liabilities & Equity
lfh_liquidity       Liquidity/Financial Health
i65                              Current Ratio
i66                                Quick Ratio
i67                         Financial Leverage
i68                                Debt/Equity
Name: 0, dtype: object

<a id='prof'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Profitability
##### DataFrame Instance

In [24]:
df_profitability = df.profitability()

In [25]:
df_profitability.head()

,ticker_id,exchange_id,pr_margins,i12,i12_pr_Y0,i12_pr_Y1,i12_pr_Y2,i12_pr_Y3,i12_pr_Y4,i12_pr_Y5,...,pr_Y1,pr_Y2,pr_Y3,pr_Y4,pr_Y5,pr_Y6,pr_Y7,pr_Y8,pr_Y9,pr_Y10
0,1,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,279,202,NaN,NaN,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,279,202,100.0,100.0,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,279,202,100.0,100.0,100.0,100.0,100.0,100.0,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [26]:
print('DataFrame contains {:,.0f} records.'.format(len(df_profitability)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [27]:
# Financial Health DataFrame Columns
(df_profitability.loc[0, [col for col in df_profitability.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

pr_margins              Margins % of Sales
i12                                Revenue
i13                                   COGS
i14                           Gross Margin
i15                                   SG&A
i16                                    R&D
i17                                  Other
i18                       Operating Margin
i19                    Net Int Inc & Other
i20                             EBT Margin
pr_profit                    Profitability
i21                             Tax Rate %
i22                           Net Margin %
i23               Asset Turnover (Average)
i24                     Return on Assets %
i25           Financial Leverage (Average)
i26                     Return on Equity %
i27           Return on Invested Capital %
i95                      Interest Coverage
Name: 0, dtype: object

<a id='growth'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Growth
##### DataFrame Instance

In [28]:
df_growth = df.growth()

In [29]:
df_growth.head()

,ticker_id,exchange_id,gr_revenue,i28,i28_gr_Y0,i28_gr_Y1,i28_gr_Y2,i28_gr_Y3,i28_gr_Y4,i28_gr_Y5,...,gr_Y1,gr_Y2,gr_Y3,gr_Y4,gr_Y5,gr_Y6,gr_Y7,gr_Y8,gr_Y9,gr_Y10
0,1,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
1,2,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
2,3,374,298,299,NaN,NaN,NaN,-11.70,19.81,103.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
3,4,482,298,299,2.23,2.59,16.25,0.83,11.65,7.90,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr
4,23,1,298,299,238.49,16.43,16.43,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,Latest Qtr

##### DataFrame Length

In [30]:
print('DataFrame contains {:,.0f} records.'.format(len(df_growth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [31]:
# Financial Health DataFrame Columns
(df_growth.loc[0, [col for col in df_growth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

gr_revenue               Revenue %
i28                 Year over Year
i29                 3-Year Average
i30                 5-Year Average
i31                10-Year Average
gr_operating    Operating Income %
i32                 Year over Year
i33                 3-Year Average
i34                 5-Year Average
i35                10-Year Average
gr_ni                 Net Income %
i81                 Year over Year
i82                 3-Year Average
i83                 5-Year Average
i84                10-Year Average
gr_eps                       EPS %
i36                 Year over Year
i37                 3-Year Average
i38                 5-Year Average
i39                10-Year Average
Name: 0, dtype: object

<a id='cfh'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Cash Flow Health
##### DataFrame Instance

In [32]:
df_cfhealth = df.cfhealth()

In [33]:
df_cfhealth

,ticker_id,exchange_id,cf_cashflow,i40,i40_cf_Y0,i40_cf_Y1,i40_cf_Y2,i40_cf_Y3,i40_cf_Y4,i40_cf_Y5,...,cf_Y1,cf_Y2,cf_Y3,cf_Y4,cf_Y5,cf_Y6,cf_Y7,cf_Y8,cf_Y9,cf_Y10
0,1,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,318,319,NaN,NaN,NaN,97.88,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,318,319,-31.63,19.64,50.56,-1.28,11.89,17.06,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,318,319,NaN,51.78,51.78,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
5,33,16,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
6,33,17,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
7,33,138,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
8,33,141,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
9,33,142,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
10,33,144,318,319,93.61,-15.19,-67.91,127.18,-35.68,10.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
11,135,1,318,319,-25.88,5.58,39.87,39.87,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
12,153,16,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
13,153,17,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
14,153,141,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
15,153,144,318,319,-24.12,59.73,16.21,-0.08,-6.81,42.37,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
16,161,1,318,319,71.83,71.83,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
17,171,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
18,209,667,318,319,11.53,10.35,-49.99,36.88,23.95,-13.61,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
19,260,1,318,319,-32.94,22.66,40.31,-18.90,24.96,-0.35,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
20,289,1,318,319,3.39,-35.76,-64.42,39.01,63.60,121.69,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
21,327,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
22,350,1,318,319,-96.19,NaN,42.07,NaN,NaN,353.73,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
23,371,1,318,319,NaN,NaN,NaN,24.91,-22.58,-32.95,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
24,486,1,318,319,30.42,26.16,-1.79,65.80,23.00,-20.84,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
25,506,1,318,319,NaN,101.60,-59.82,-13.05,265.47,-26.18,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
26,556,1,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
27,568,1,318,319,NaN,86.55,-17.24,NaN,NaN,NaN,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
28,615,1,318,319,29.05,-26.61,35.27,-5.75,-35.40,51.33,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
29,617,1,318,319,NaN,NaN,-69.82,270.98,-83.13,39.80,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77274,6707,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1990-09,1991-09,1992-09,1993-09,1994-09,1995-09,1996-09,1997-09,1998-09,TTM
77275,6803,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1994-05,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,2002-05,TTM
77276,6807,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,1999-03,TTM
77277,6817,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,2000-03,TTM
77278,7297,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1992-03,1993-03,1994-03,1995-03,1996-03,1997-03,1998-03,1999-03,2000-03,TTM
77279,6815,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,1996-12,TTM
77280,6846,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,1996-12,TTM
77281,7203,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,2004-05,2005-05,TTM
77282,6835,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1989-06,1990-06,1991-06,1992-06,1993-06,1994-06,1995-06,1996-06,1997-06,TTM
77283,6882,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1993-05,1994-05,1995-05,1996-05,1997-05,1998-05,1999-05,2000-05,2001-05,TTM
77284,6894,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1988-03,1989-03,1990-03,1991-03,1992-03,1993-03,1994-03,1995-03,1996-03,TTM
77285,6948,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-08,1992-08,1993-08,1994-08,1995-08,1996-08,1997-08,1998-08,1999-08,TTM
77286,6956,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-02,1992-02,1993-02,1994-02,1995-02,1996-02,1997-02,1998-02,1998-06,TTM
77287,7022,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-07,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,TTM
77288,7920,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-07,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,TTM
77289,7093,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-02,1997-02,1998-02,1999-02,2000-02,2001-02,2002-02,2003-02,2004-02,TTM
77290,7254,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-02,1997-02,1998-02,1999-02,2000-02,2001-02,2002-02,2003-02,2004-02,TTM
77291,7119,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1987-12,1988-12,1989-12,1990-12,1991-12,1992-12,1993-12,1994-12,1995-12,TTM
77292,7466,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1992-10,1993-10,1994-10,1995-10,1996-10,1997-10,1998-10,1999-10,2000-10,TTM
77293,7744,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1996-07,1997-07,1998-07,1999-07,2000-07,2001-07,2002-07,2003-07,2004-07,TTM
77294,7809,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1995-01,1996-01,1997-01,1998-01,1999-01,2000-01,2001-01,2002-01,2002-10,TTM
77295,7933,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1998-10,1999-10,2000-10,2001-10,2002-10,2003-10,2004-10,2005-10,2006-10,TTM
77296,8125,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1984-12,1985-12,1986-12,1987-12,1988-12,1989-12,1990-12,1991-12,1992-12,TTM
77297,8838,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,1989-10,1990-10,1991-10,1992-10,1993-10,1994-10,1995-10,1996-10,1997-10,TTM
77298,9670,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77299,11567,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77300,11745,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77301,12424,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77302,13343,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM
77303,535517,25,318,319,NaN,NaN,NaN,NaN,NaN,NaN,...,2004-04,2005-04,2006-04,2007-04,2008-04,2009-04,2010-04,2011-04,2012-04,TTM

##### DataFrame Length

In [34]:
print('DataFrame contains {:,.0f} records.'.format(len(df_cfhealth)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [35]:
# Financial Health DataFrame Columns
(df_cfhealth.loc[0, [col for col in df_cfhealth.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

cf_cashflow                    Cash Flow Ratios
i40            Operating Cash Flow Growth % YOY
i41                 Free Cash Flow Growth % YOY
i42                      Cap Ex as a % of Sales
i43                      Free Cash Flow/Sales %
i44                   Free Cash Flow/Net Income
Name: 0, dtype: object

<a id='eff'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Efficiency
##### DataFrame Instance

In [36]:
df_efficiency = df.efficiency()

In [37]:
df_efficiency.head()

,ticker_id,exchange_id,ef_efficiency,i69,i69_ef_Y0,i69_ef_Y1,i69_ef_Y2,i69_ef_Y3,i69_ef_Y4,i69_ef_Y5,...,ef_Y1,ef_Y2,ef_Y3,ef_Y4,ef_Y5,ef_Y6,ef_Y7,ef_Y8,ef_Y9,ef_Y10
0,1,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3,374,350,351,NaN,NaN,NaN,82.34,85.86,61.96,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,4,482,350,351,25.66,28.47,27.05,29.65,30.48,32.01,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,23,1,350,351,93.87,58.87,58.87,11.21,11.21,84.13,...,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [38]:
print('DataFrame contains {:,.0f} records.'.format(len(df_efficiency)))

DataFrame contains 77,304 records.

##### DataFrame Columns

In [39]:
# Financial Health DataFrame Columns
(df_efficiency.loc[0, [col for col in df_efficiency.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

ef_efficiency                Efficiency
i69              Days Sales Outstanding
i70                      Days Inventory
i71                     Payables Period
i72               Cash Conversion Cycle
i73                Receivables Turnover
i74                  Inventory Turnover
i75               Fixed Assets Turnover
i76                      Asset Turnover
Name: 0, dtype: object

<a id='isa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Income Statement
##### DataFrame Instance

In [56]:
df_annualIS0 = df.annualIS()

In [59]:
df_annualIS = (df_master 
 .merge(df_annualIS0, on=['ticker_id', 'exchange_id']))

In [60]:
df_annualIS.head()

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,label_tts4,label_tts5,currency_id,fye_month,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,NaN,NaN,104.0,12.0,2014-12,2015-12,2016-12,2017-12,2018-12,TTM

##### DataFrame Length

In [61]:
print('DataFrame contains {:,.0f} records.'.format(len(df_annualIS)))

DataFrame contains 68,322 records.

##### DataFrame Columns

In [62]:
labels = [col for col in df_annualIS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualIS[label].unique().tolist() if pd.notna(header)]

df_labels_aIS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aIS['value'] = df_labels_aIS['value'].replace(df.colheaders['header'])
df_labels_aIS[df_labels_aIS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

df_labels_aIS.sort_values(by='value')

                                value
header
label_i46   Advertising and market...
label_i36   Advertising and market...
label_i15   Advertising and promot...
label_i47   Amortization of intang...
label_i24            Asset impairment
label_i4    Asset mgmt and securit...
label_i85                       Basic
label_i83                       Basic
label_s2    Benefits, claims and e...
label_i14              Borrowed funds
label_i22        Commissions and fees
label_i32   Compensation and benef...
label_i13   Compensation and benef...
label_i42   Compensation and benef...
label_i6              Cost of revenue
label_g3           Costs and expenses
label_i27          Credit card income
label_i66   Cumulative effect of a...
label_i43   Cumulative effect of a...
label_i73   Cumulative effect of a...
label_i12                    Deposits
label_i3          Deposits with banks
label_i26   Depreciation and amort...
label_i25   Depreciation and amort...
label_i16   Depreciation and amort...
label_i18   Depreciation and amort...
label_i13   Depreciation and amort...
label_i12   Depreciation and amort...
label_i37   Depreciation and amort...
label_i84                     Diluted
...                               ...
label_i12   Sales, General and adm...
label_i3                   Securities
label_i5                   Securities
label_i26   Securities gains (loss...
label_i14   Selling, general and a...
label_i3    Service fees and commi...
label_i14        Short-term borrowing
label_i44   Tech, communication an...
label_i34   Tech, communication an...
label_i14   Technology and occupan...
label_tts2  Total benefits, claims...
label_ttg3  Total costs and expens...
label_ttg2             Total expenses
label_tts1  Total interest and div...
label_tts2     Total interest expense
label_ttg2     Total interest expense
label_ttg1      Total interest income
label_tts1      Total interest income
label_tts1          Total net revenue
label_tts3  Total noninterest expe...
label_tts5  Total noninterest expe...
label_ttg3  Total noninterest reve...
label_tts4  Total noninterest reve...
label_tts4  Total nonoperating inc...
label_ttg3  Total operating expens...
label_tts2  Total operating expens...
label_tts1             Total revenues
label_i6               Trading assets
label_i12   Underwriting and distr...
label_g10   Weighted average share...

[180 rows x 1 columns]

<a id='isq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Income Statements
##### DataFrame Instance

In [ ]:
df_quarterlyIS = df.quarterlyIS()

In [ ]:
df_quarterlyIS.head()

##### DataFrame Length

In [ ]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quarterlyIS)))

##### DataFrame Columns

In [ ]:
labels = [col for col in df_annualIS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualIS[label].unique().tolist() if pd.notna(header)]

df_labels_aIS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aIS['value'] = df_labels_aIS['value'].replace(df.colheaders['header'])
df_labels_aIS[df_labels_aIS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

df_labels_aIS.sort_values(by='value')

<a id='bsa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Balance Sheet
##### DataFrame Instance

In [ ]:
df_annualBS = df.annualBS()

In [ ]:
df_annualBS.head()

##### DataFrame Length

In [ ]:
print('DataFrame contains {:,.0f} records.'.format(len(df_annualBS)))

##### DataFrame Columns

In [ ]:
labels = [col for col in df_annualBS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_annualBS[label].unique().tolist() if pd.notna(header)]

df_labels_aBS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_aBS['value'] = df_labels_aBS['value'].replace(df.colheaders['header'])
df_labels_aBS[df_labels_aBS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_aBS.values.tolist(), df_labels_aBS.index)))

<a id='bsq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Balance Sheet
##### DataFrame Instance

In [ ]:
df_quarterlyBS = df.quarterlyBS()

In [ ]:
df_quarterlyBS.head()

##### DataFrame Length

In [ ]:
print('DataFrame contains {:,.0f} records.'.format(len(df_quarterlyBS)))

##### DataFrame Columns

In [ ]:
labels = [col for col in df_quarterlyBS if 'label' in col]
labels = [[label, header] for label in labels 
          for header in df_quarterlyBS[label].unique().tolist() if pd.notna(header)]

df_labels_qBS = (pd.DataFrame(labels, columns=['header', 'value'])
                 .set_index('header')
                 .astype('int')
                )

df_labels_qBS['value'] = df_labels_qBS['value'].replace(df.colheaders['header'])
df_labels_qBS[df_labels_qBS['value'].astype('str').str.contains('ncome')].sort_values(by='value')

sorted(list(zip(df_labels_qBS.values.tolist(), df_labels_qBS.index)))

<a id='cfa'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Annual Cash Flow Statement
##### DataFrame Instance

In [133]:
df_cfa0 = df.annualCF()

In [134]:
df_cfa0.head()

,ticker_id,exchange_id,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6,data_i1_Y_1,data_i1_Y_2,...,label_i98,label_i99,label_s1,label_s2,label_s3,label_tts1,label_tts2,label_tts3,currency_id,fye_month
0,1,374,11,12,13,1,5,21,NaN,NaN,...,143.0,144.0,88,109,121,108,120,133,104.0,12.0
1,2,374,11,12,13,1,5,21,NaN,NaN,...,143.0,144.0,88,109,121,108,120,133,104.0,12.0
2,3,374,11,12,13,1,5,21,NaN,NaN,...,143.0,144.0,88,109,121,108,120,133,104.0,12.0
3,4,482,11,12,13,1,5,21,NaN,NaN,...,143.0,144.0,88,109,121,108,120,133,104.0,12.0
4,5,1,668,669,670,671,664,21,-129926.0,-209185.0,...,NaN,NaN,88,109,121,108,120,133,104.0,6.0

##### DataFrame Length

In [135]:
print('DataFrame contains {:,.0f} records.'.format(len(df_cfa0)))

DataFrame contains 76,767 records.

##### DataFrame Columns

In [136]:
# Financial Health DataFrame Columns
(df_cfa0.loc[0, [col for col in df_cfa0.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

label_g7                 Free Cash Flow
label_g8      Supplemental schedule ...
label_i1                     Net income
label_i10     Stock based compensati...
label_i100          Operating cash flow
label_i11                           NaN
label_i12                           NaN
label_i13                           NaN
label_i15                           NaN
label_i16           Accounts receivable
label_i17                     Inventory
label_i18              Prepaid expenses
label_i19              Accounts payable
label_i2      Depreciation & amortiz...
label_i20           Accrued liabilities
label_i21              Interest payable
label_i22          Income taxes payable
label_i23         Other working capital
label_i24                           NaN
label_i25                           NaN
label_i26                           NaN
label_i27                           NaN
label_i28                           NaN
label_i29                           NaN
label_i3      Amortization of debt d...
label_i30          Other non-cash items
label_i31     Investments in propert...
label_i32     Property, plant, and e...
label_i33             Acquisitions, net
label_i34     Purchases of investmen...
                        ...
label_i64           Common stock issued
label_i65        Preferred stock issued
label_i66                Warrant issued
label_i67     Redemption of preferre...
label_i68     Repurchases of treasur...
label_i69           Cash dividends paid
label_i7      (Gain) Loss from disco...
label_i70              Dividend payable
label_i71                           NaN
label_i72                           NaN
label_i73                           NaN
label_i8            Extraordinary items
label_i9      Cumulative effect of a...
label_i90     Other financing activi...
label_i91     Effect of exchange rat...
label_i92                           NaN
label_i93            Net change in cash
label_i94     Cash at beginning of p...
label_i95         Cash at end of period
label_i96           Capital expenditure
label_i97                Free cash flow
label_i98     Cash paid for income t...
label_i99        Cash paid for interest
label_s1      Cash Flows From Operat...
label_s2      Cash Flows From Invest...
label_s3      Cash Flows From Financ...
label_tts1    Net cash provided by o...
label_tts2    Net cash used for inve...
label_tts3    Net cash provided by (...
fye_month                   Liabilities
Name: 0, Length: 80, dtype: object

<a id='cfq'></a>
[return to list of methods](#methods),
[return to the top](#top)
### Quarterly Cash Flow Statement
##### DataFrame Instance

In [57]:
df_cfq0 = df.quarterlyCF()

In [58]:
df_cfq0.head()

,ticker_id,exchange_id,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,Year_Y_6,data_i1_Y_1,data_i1_Y_2,...,label_i96,label_i97,label_i98,label_i99,label_s1,label_s2,label_s3,label_tts1,label_tts2,label_tts3
0,1,374,2017-12,2018-03,2018-06,2018-09,2018-12,TTM,NaN,NaN,...,Capital expenditure,Free cash flow,Cash paid for income t...,Cash paid for interest,Cash Flows From Operat...,Cash Flows From Invest...,Cash Flows From Financ...,Net cash provided by o...,Net cash used for inve...,Net cash provided by (...
1,2,374,2017-12,2018-03,2018-06,2018-09,2018-12,TTM,NaN,NaN,...,Capital expenditure,Free cash flow,Cash paid for income t...,Cash paid for interest,Cash Flows From Operat...,Cash Flows From Invest...,Cash Flows From Financ...,Net cash provided by o...,Net cash used for inve...,Net cash provided by (...
2,3,374,2017-12,2018-03,2018-06,2018-09,2018-12,TTM,NaN,NaN,...,Capital expenditure,Free cash flow,Cash paid for income t...,Cash paid for interest,Cash Flows From Operat...,Cash Flows From Invest...,Cash Flows From Financ...,Net cash provided by o...,Net cash used for inve...,Net cash provided by (...
3,4,482,2017-12,2018-03,2018-06,2018-09,2018-12,TTM,NaN,NaN,...,Capital expenditure,Free cash flow,Cash paid for income t...,Cash paid for interest,Cash Flows From Operat...,Cash Flows From Invest...,Cash Flows From Financ...,Net cash provided by o...,Net cash used for inve...,Net cash provided by (...
4,5,1,2007-03,2007-06,2007-09,2007-12,2008-03,TTM,-429976.0,-980707.0,...,Capital expenditure,Free cash flow,NaN,NaN,Cash Flows From Operat...,Cash Flows From Invest...,Cash Flows From Financ...,Net cash provided by o...,Net cash used for inve...,Net cash provided by (...

##### DataFrame Length

In [59]:
print('DataFrame contains {:,.0f} records.'.format(len(df_cfq0)))

DataFrame contains 76,331 records.

##### DataFrame Columns

In [60]:
# Financial Health DataFrame Columns
(df_cfq0.loc[0, [col for col in df_cfq0.columns if 'Y' not in col and '_id' not in col]]
 .replace(df.colheaders['header']))

label_g7                 Free Cash Flow
label_g8      Supplemental schedule ...
label_i1                     Net income
label_i10     Stock based compensati...
label_i100          Operating cash flow
label_i11                           NaN
label_i12                           NaN
label_i13                           NaN
label_i15                           NaN
label_i16           Accounts receivable
label_i17                     Inventory
label_i18              Prepaid expenses
label_i19              Accounts payable
label_i2      Depreciation & amortiz...
label_i20           Accrued liabilities
label_i21              Interest payable
label_i22          Income taxes payable
label_i23         Other working capital
label_i24                           NaN
label_i25                           NaN
label_i26                           NaN
label_i27                           NaN
label_i28                           NaN
label_i29                           NaN
label_i3      Amortization of debt d...
label_i30          Other non-cash items
label_i31     Investments in propert...
label_i32     Property, plant, and e...
label_i33             Acquisitions, net
label_i34     Purchases of investmen...
                        ...
label_i63     Excess tax benefit fro...
label_i64           Common stock issued
label_i65        Preferred stock issued
label_i66                Warrant issued
label_i67     Redemption of preferre...
label_i68     Repurchases of treasur...
label_i69           Cash dividends paid
label_i7      (Gain) Loss from disco...
label_i70              Dividend payable
label_i71                           NaN
label_i72                           NaN
label_i73                           NaN
label_i8            Extraordinary items
label_i9      Cumulative effect of a...
label_i90     Other financing activi...
label_i91     Effect of exchange rat...
label_i92                           NaN
label_i93            Net change in cash
label_i94     Cash at beginning of p...
label_i95         Cash at end of period
label_i96           Capital expenditure
label_i97                Free cash flow
label_i98     Cash paid for income t...
label_i99        Cash paid for interest
label_s1      Cash Flows From Operat...
label_s2      Cash Flows From Invest...
label_s3      Cash Flows From Financ...
label_tts1    Net cash provided by o...
label_tts2    Net cash used for inve...
label_tts3    Net cash provided by (...
Name: 0, Length: 79, dtype: object

<a id="stats"></a>
[return to list of methods](#methods),
[return to the top](#top)
## Below are a few statistics on database data

### Count of database records
**1.** Total number of records **before** merging reference tables *(length of `df.master`)*

In [25]:
print('DataFrame df.master contains {:,.0f} records.'.format(len(df.master)))

DataFrame df.master contains 118,184 records.

**2.** Total number of records **after** merging reference tables *(length of `df_master`)*

In [26]:
print('DataFrame df_master0 contains {:,.0f} records.'.format(len(df_master0)))

DataFrame df_master0 contains 112,126 records.

**3.** Total number of records **after** merging reference tables where the following filters apply:
- $openprice > 0$
- $lastprice > 0$

In [27]:
print('DataFrame df_master contains {:,.0f} records.'.format(len(df_master)))

DataFrame df_master contains 103,499 records.

[return to the top of this section](#methods), 
[return to the top](#top)
### Last updated dates
List of dates (as a pd.Series object) of when the database records were last updated. 
The values indicate the number of records updated on each date.

In [28]:
(df_master[['updated_date', 'ticker']].groupby(by='updated_date').count().sort_index(ascending=False)
 .rename(columns={'ticker':'ticker_count'}))

              ticker_count
updated_date
2019-04-08           96872
2019-04-07            4702
2019-04-04              13
2019-04-03               4
2019-04-02               3
2019-03-27            1781
2019-03-26             114
2019-03-25              10

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records by Type

In [29]:
(df_master[['security_type', 'ticker']].groupby(by='security_type').count()
 .rename(columns={'ticker':'ticker_count'}))

                      ticker_count
security_type
Closed-End Fund               1211
Exchange-Traded Fund          6186
Index                          503
Money Market Fund              198
Open-End Fund                25773
Stock                        69628

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records by Country, based on the location of exchanges *(see next table)*

In [30]:
(df_master[['country', 'country_c3', 'ticker']]
 .groupby(by=['country', 'country_c3']).count().rename(columns={'ticker':'ticker_count'})
)

                           ticker_count
country        country_c3
Australia      AUS                 2155
Belgium        BEL                  169
Canada         CAN                 4185
China          CHN                 3849
Finland        FIN                    2
France         FRA                 1196
Germany        DEU                36915
Guernsey       GGY                  200
Hong Kong      HKG                 2376
Italy          ITA                  634
Luxembourg     LUX                  298
Netherlands    NLD                   24
Norway         NOR                    1
Portugal       PRT                   57
Singapore      SGP                   18
Sweden         SWE                    8
United Kingdom GBR                 5604
United States  USA                45808

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of records per Exchange
Where $ticker\_count > 100$

In [97]:
cols = ['country', 'country_c3', 'exchange', 'exchange_sym', 'ticker']
df_exchanges = df_master[cols].groupby(by=cols[:-1]).count().rename(columns={'ticker':'ticker_count'})
df_exchanges[df_exchanges['ticker_count'] > 100]

                                                                             ticker_count
country        country_c3 exchange                             exchange_sym
Australia      AUS        ASX - ALL MARKETS                    XASX                  2155
Belgium        BEL        EURONEXT - EURONEXT BRUSSELS         XBRU                   169
Canada         CAN        CANADIAN NATIONAL STOCK EXCHANGE     XCNQ                   420
                          TORONTO STOCK EXCHANGE               XTSE                  2019
                          TSX VENTURE EXCHANGE                 XTSX                  1687
China          CHN        SHANGHAI STOCK EXCHANGE              XSHG                  1611
                          SHENZHEN STOCK EXCHANGE              XSHE                  2239
France         FRA        EURONEXT - EURONEXT PARIS            XPAR                  1196
Germany        DEU        BOERSE BERLIN                        XBER                  8168
                          BOERSE DUESSELDORF                   XDUS                  2171
                          BOERSE HAMBURG                       XHAM                  1279
                          BOERSE HANNOVER                      XHAN                   464
                          BOERSE MUENCHEN                      XMUN                  4722
                          BOERSE STUTTGART                     XSTU                  8156
                          DEUTSCHE BOERSE AG                   XFRA                 10495
                          XETRA                                XETR                  1463
Hong Kong      HKG        HONG KONG EXCHANGES AND CLEARING LTD XHKG                  2376
Luxembourg     LUX        BORSA ITALIANA S.P.A.                XMIL                   634
                          LONDON STOCK EXCHANGE                XLON                  3327
                          SIX SWISS EXCHANGE                   XSWX                   293
Netherlands    NLD        EURONEXT - EURONEXT AMSTERDAM        XAMS                   200
United Kingdom GBR        LSE International Trading Service    LTS                   2277
United States  USA        BATS Z-EXCHANGE                      BATS                   297
                          Dow Jones Indices                    DJI                    130
                          NASDAQ                               XNAS                 29235
                          NEW YORK STOCK EXCHANGE, INC.        XNYS                  2878
                          NYSE ARCA                            ARCX                  1584
                          NYSE MKT LLC                         XASE                   300
                          OTC GREY MARKET                      GREY                  3052
                          OTC MARKETS                          PINX                  8111
                          S&P Indices                          SPI                    170

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Country of Exchange

In [98]:
(df_master
 .where(df_master['security_type'] == 'Stock').dropna(axis=0, how='all')[['country', 'country_c3', 'ticker']]
 .groupby(by=['country', 'country_c3']).count().rename(columns={'ticker':'ticker_count'})
 .sort_values(by='ticker_count', ascending=False))

                           ticker_count
country        country_c3
Germany        DEU                36268
United States  USA                16612
China          CHN                 3649
Canada         CAN                 3375
Hong Kong      HKG                 2281
United Kingdom GBR                 2278
Luxembourg     LUX                 2177
Australia      AUS                 1843
France         FRA                  834
Belgium        BEL                  168
Netherlands    NLD                  120
Portugal       PRT                   53

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Sector

In [24]:
(df_master
 .where((df_master['security_type'] == 'Stock') & (df_master['sector'] != 'â€”')).dropna(axis=0, how='all')
 .groupby(by='sector').count()
 .rename(columns={'ticker':'stock_count'}))['stock_count'].sort_values(ascending=False)

sector
Basic Materials           11499
Industrials                9833
Technology                 9532
Consumer Cyclical          8805
Financial Services         7895
Healthcare                 7552
Energy                     3828
Consumer Defensive         3714
Real Estate                3594
Utilities                  1935
Communication Services     1463
Name: stock_count, dtype: int64

[return to the top of this section](#methods), 
[return to the top](#top)
### Number of Stocks by Industry

In [100]:
(df_master[['sector', 'industry', 'ticker']]
 .where((df_master['security_type'] == 'Stock') & (df_master['industry'] != 'â€”')).dropna(axis=0, how='all')
 .groupby(by=['sector', 'industry']).count().rename(columns={'ticker':'stock_count'}))

                                                                stock_count
sector                 industry
Basic Materials        Agricultural Inputs                              287
                       Aluminum                                         139
                       Building Materials                               812
                       Chemicals                                        717
                       Coal                                             371
                       Copper                                           295
                       Gold                                            1855
                       Industrial Metals & Minerals                    5185
                       Lumber & Wood Production                         141
                       Paper & Paper Products                           292
                       Silver                                           177
                       Specialty Chemicals                              694
                       Steel                                            534
Communication Services Pay TV                                            93
                       Telecom Services                                1372
Consumer Cyclical      Advertising Agencies                             205
                       Apparel Manufacturing                            426
                       Apparel Stores                                   295
                       Auto & Truck Dealerships                         162
                       Auto Manufacturers                               445
                       Auto Parts                                       739
                       Broadcasting - Radio                              38
                       Broadcasting - TV                                267
                       Department Stores                                336
                       Footwear & Accessories                           215
                       Gambling                                         226
                       Home Furnishings & Fixtures                      344
                       Home Improvement Stores                           71
                       Leisure                                          681
                       Lodging                                          254
...                                                                     ...
Real Estate            REIT - Industrial                                158
                       REIT - Office                                    192
                       REIT - Residential                               165
                       REIT - Retail                                    292
                       Real Estate - General                           1017
                       Real Estate Services                            1144
Technology             Communication Equipment                          854
                       Computer Distribution                             33
                       Computer Systems                                 314
                       Consumer Electronics                             474
                       Contract Manufacturers                           121
                       Data Storage                                      60
                       Electronic Components                           1032
                       Electronic Gaming & Multimedia                   394
                       Electronics Distribution                         130
                       Health Information Services                      282
                       Information Technology Services                  898
                       Internet Content & Information                   757
                       Scientific & Technical Instruments               385
                       Semiconductor Equipment & Materials              374
                       Semiconductor Memory                              56
                       Semiconductors                                   505
                       Software - Application                          1964
                       Software - Infrastructure                        685
                       Solar                                            217
Utilities              Utilities - Diversified                          421
                       Utilities - Independent Power Producers          449
                       Utilities - Regulated Electric                   661
                       Utilities - Regulated Gas                        237
                       Utilities - Regulated Water                      167

[148 rows x 1 columns]

[return to the top of this section](#methods), 
[return to the top](#top)
### Mean Price Ratios (P/E, P/S, P/B, P/CF) of Common Stocks by Sectors

Merge *Master* and *Valuation* DataFrames

In [106]:
df_valuation = (df_master
                .where((df_master['security_type'] == 'Stock') & (df_master['sector'] != 'â€”'))
                .dropna(axis=0, how='all')
                .merge(df_vals, on=['ticker_id', 'exchange_id'])
                .drop(['ticker_id', 'exchange_id'], axis=1))

#### Mean Price Ratios for all stocks:

In [107]:
df_valuation_mean = (df_valuation[['sector', 'company']].groupby('sector').count()
                     .rename(columns={'company':'count'})
                     .merge(df_valuation.groupby('sector').mean().round(1), on='sector')
                     .drop(['aprvol', 'avevol'], axis=1))

In [108]:
df_valuation_mean.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [109]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation)))
df_pratios_TTM = df_valuation_mean[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM

For a total of 69,623 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials         11490        17.7    29.0   494.6   346.5    26.1
Communication Services   1463        31.1    41.8     3.7     5.2    46.6
Consumer Cyclical        8802        25.0    38.5     5.5    31.5    28.0
Consumer Defensive       3714        21.6    35.9     6.0    24.3    47.4
Energy                   3828        48.7    33.5     5.0   194.2    12.7
Financial Services       7894        14.1    30.2    41.7   411.0   280.3
Healthcare               7546        42.9    68.5    95.1   911.5    83.1
Industrials              9827        22.2    41.6    12.2  7551.7    35.3
Real Estate              3594        24.9    36.2     6.8    36.7   140.6
Technology               9529        43.3    62.3     8.8   179.0   150.8
Utilities                1936        19.3    37.0     3.3    11.5   140.5

#### Mean Price Ratios for USA stocks:

In [110]:
df_valuation_usa = df_valuation[df_valuation['country_c3'] == 'USA']

In [111]:
df_valuation_mean_usa = (df_valuation_usa[['sector', 'company']].groupby('sector').count()
                         .rename(columns={'company':'count'})
                         .merge(df_valuation_usa.groupby('sector').mean().round(1), on='sector')
                         .drop(['aprvol', 'avevol'], axis=1))

In [112]:
df_valuation_mean_usa.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [113]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation_usa)))
df_pratios_TTM_USA = df_valuation_mean_usa[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM_USA

For a total of 16,587 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials          2315        17.8    23.9  2692.2   378.3    33.8
Communication Services    322        35.6    39.2     6.4    11.5    27.8
Consumer Cyclical        1851        23.9    36.2     8.6   124.7    22.2
Consumer Defensive        890        22.0    37.2    13.7    84.5    41.9
Energy                    987        26.4    43.0     5.4   171.9    20.8
Financial Services       2504        15.2    29.4     4.9   266.0    35.2
Healthcare               1977        50.7    68.2   364.2  1944.3    36.1
Industrials              2265        26.1    45.6    35.7    54.6    37.5
Real Estate               940        27.0    43.9     2.0    13.4    37.5
Technology               2056        43.2    68.0    15.8   657.8    88.3
Utilities                 480        19.9    39.7     6.2    13.1   556.6

#### Mean Price Ratios for DEU (Germany) stocks:

In [114]:
df_valuation_deu = df_valuation[df_valuation['country_c3'] == 'DEU']

In [115]:
df_valuation_mean_deu = (df_valuation_deu[['sector', 'company']].groupby('sector').count()
                         .rename(columns={'company':'count'})
                         .merge(df_valuation_deu.groupby('sector').mean().round(1), on='sector')
                         .drop(['aprvol', 'avevol'], axis=1))

In [116]:
df_valuation_mean_deu.columns

Index(['count', 'openprice', 'lastprice', 'day_hi', 'day_lo', '_52wk_hi',
       '_52wk_lo', 'yield', 'Forward_PE', 'pb', 'ps', 'pc', 'PE_2009',
       'PE_2010', 'PE_2011', 'PE_2012', 'PE_2013', 'PE_2014', 'PE_2015',
       'PE_2016', 'PE_2017', 'PE_2018', 'PE_TTM', 'PS_2009', 'PS_2010',
       'PS_2011', 'PS_2012', 'PS_2013', 'PS_2014', 'PS_2015', 'PS_2016',
       'PS_2017', 'PS_2018', 'PS_TTM', 'PB_2009', 'PB_2010', 'PB_2011',
       'PB_2012', 'PB_2013', 'PB_2014', 'PB_2015', 'PB_2016', 'PB_2017',
       'PB_2018', 'PB_TTM', 'PC_2009', 'PC_2010', 'PC_2011', 'PC_2012',
       'PC_2013', 'PC_2014', 'PC_2015', 'PC_2016', 'PC_2017', 'PC_2018',
       'PC_TTM'],
      dtype='object')

In [48]:
print('For a total of {:,.0f} stock records:'.format(len(df_valuation_deu)))
df_pratios_TTM_DEU = df_valuation_mean_deu[['count', 'Forward_PE', 'PE_TTM', 'PB_TTM', 'PS_TTM', 'PC_TTM']]
df_pratios_TTM_DEU

For a total of 36,262 stock records:

                        count  Forward_PE  PE_TTM  PB_TTM  PS_TTM  PC_TTM
sector
Basic Materials          5873        17.7    22.3     4.6   138.8    18.1
Communication Services    908        29.0    39.0     3.0     3.8    58.0
Consumer Cyclical        4623        27.4    37.0     4.4    11.7    20.2
Consumer Defensive       1958        21.5    28.7     3.7     7.7    36.8
Energy                   2053        51.1    25.8     5.2   166.6     9.3
Financial Services       3683        13.4    28.7     2.2     8.8    52.3
Healthcare               4244        42.0    74.4     8.0   650.3    39.9
Industrials              5025        20.7    36.5     6.6   159.0    24.2
Real Estate              1730        26.3    33.2     1.6    46.6   195.6
Technology               5145        45.8    53.9     6.6    58.1   173.9
Utilities                1020        18.9    28.9     2.1     7.5    22.8

#### Plots of TTM P/E by Sectors
*All Stocks*

In [117]:
pe = df_valuation_mean['PE_TTM']

In [118]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

*USA*

In [119]:
pe = df_valuation_mean_usa['PE_TTM']

In [120]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all US Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

*DEU*

In [121]:
pe = df_valuation_mean_deu['PE_TTM']

In [122]:
fig_pe, ax_pe = plt.subplots(1)
x = [x*3 for x in range(len(pe))]
y = pe.sort_values(ascending=True)
bars = ax_pe.bar(x, y, width=2)
plt.xticks(ticks=x, labels=y.index.tolist(), fontsize=9)
for tick in ax_pe.xaxis.get_ticklabels():
    tick.set_rotation(90)
plt.subplots_adjust(bottom=0.4)
plt.title('Average TTM P/E by Sector for all German Stocks', fontsize=10, fontweight='bold')
plt.yticks([])
for bar in bars:
    ax_pe.text(bar.get_x()+1, bar.get_height()+1, '{:.1f}'.format(bar.get_height()), 
               color='black', ha='center', fontsize=9)
plt.axis([-3, len(x)*3, 0, 80])
ax_pe.get_children()[22].set_color(None)
ax_pe.get_children()[23].set_color(None)
ax_pe.get_children()[25].set_color(None)

### Stocks in the Cannabis Industry
Using stocks listed on [marijuanaindex.com](http://marijuanaindex.com/stock-quotes/north-american-marijuana-index/) under North America

In [123]:
import json

with open('input/pot_stocks.json') as file:
    pot_symbols = json.loads(file.read())
    
pot_stocks = (pd.DataFrame(pot_symbols, columns=['ticker', 'country_c3'])
               .merge(df_master, how='left', on=['ticker', 'country_c3']).drop('country', axis=1)
               .rename(columns={'country_c3':'country', 'exchange_sym':'exch'}))

pot_stocks = (pot_stocks.where(((pot_stocks['country'] == 'USA') | 
                                (pot_stocks['country'] == 'CAN')) &
                               (pot_stocks['sector'] != 'â€”'))
              .dropna(axis=0, how='all').sort_values(by='company'))

In [124]:
msg = 'Below are the {} stocks listed on marijuanaindex.com for North America.'
print(msg.format(len(pot_stocks['company'].unique())))

pot_stocks[['country', 'ticker', 'exch', 'company', 'sector', 'industry']]

Below are the 46 stocks listed on marijuanaindex.com for North America.

,country,ticker,exch,company,sector,industry
29,CAN,TGIF,XCNQ,1933 Industries Inc,Healthcare,Drug Manufacturers - Specialty & Generic
1,USA,ACRGF,PINX,Acreage Holdings Inc Ordinary Shares (Sub Voting),Healthcare,Drug Manufacturers - Specialty & Generic
2,CAN,ACRG.U,XCNQ,Acreage Holdings Inc Ordinary Shares (Sub Voting),Healthcare,Drug Manufacturers - Specialty & Generic
37,USA,APHA,XNYS,Aphria Inc,Healthcare,Drug Manufacturers - Specialty & Generic
0,CAN,ACB,XTSE,Aurora Cannabis Inc,Healthcare,Drug Manufacturers - Specialty & Generic
36,CAN,XLY,XTSX,Auxly Cannabis Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
40,USA,CVSI,PINX,CV Sciences Inc,Healthcare,Drug Manufacturers - Specialty & Generic
32,CAN,TRST,XTSE,CannTrust Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
4,CAN,CNNX,XCNQ,Cannex Capital Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
38,USA,CGC,XNYS,Canopy Growth Corp,Healthcare,Drug Manufacturers - Specialty & Generic
26,CAN,RIV,XTSX,Canopy Rivers Inc,Healthcare,Drug Manufacturers - Specialty & Generic
6,CAN,CWEB,XCNQ,Charlottes Web Holdings Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
3,CAN,CL,XCNQ,Cresco Labs Inc,Healthcare,Drug Manufacturers - Specialty & Generic
39,USA,CRON,XNAS,Cronos Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
5,CAN,CURA,XCNQ,Curaleaf Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
7,CAN,EMH,XTSX,Emerald Health Therapeutics Inc,Healthcare,Biotechnology
42,USA,GWPH,XNAS,GW Pharmaceuticals PLC ADR,Healthcare,Drug Manufacturers - Major
10,CAN,GLH,XCNQ,Golden Leaf Holdings Ltd,Healthcare,Drug Manufacturers - Specialty & Generic
9,CAN,GGB,XCNQ,Green Growth Brands Inc,Healthcare,Drug Manufacturers - Specialty & Generic
11,CAN,GTII,XCNQ,Green Thumb Industries Inc,Healthcare,Drug Manufacturers - Specialty & Generic
41,USA,GRWG,PINX,GrowGeneration Corp,Industrials,Industrial Distribution
13,CAN,HEXO,XTSE,HEXO Corp,Healthcare,Drug Manufacturers - Specialty & Generic
12,CAN,HARV,XCNQ,Harvest Health & Recreation Inc,Healthcare,Drug Manufacturers - Specialty & Generic
43,USA,IIPR,XNYS,Innovative Industrial Properties Inc Registere...,Real Estate,REIT - Industrial
16,CAN,ISOL,XCNQ,Isodiol International Inc,Healthcare,Drug Manufacturers - Specialty & Generic
44,USA,KSHB,PINX,KushCo Holdings Inc,Consumer Cyclical,Packaging & Containers
17,CAN,LHS,XCNQ,Liberty Health Sciences Inc,Healthcare,Drug Manufacturers - Specialty & Generic
18,CAN,MJAR,XCNQ,MJardin Group Inc,Healthcare,Drug Manufacturers - Specialty & Generic
21,USA,MPXOF,PINX,MPX International Corp,Healthcare,Drug Manufacturers - Specialty & Generic
20,CAN,MPXI,XCNQ,MPX International Corp,Healthcare,Drug Manufacturers - Specialty & Generic
45,USA,MRMD,PINX,MariMed Inc,Healthcare,Biotechnology
19,CAN,MMEN,XCNQ,MedMen Enterprises Inc,Healthcare,Drug Manufacturers - Specialty & Generic
22,CAN,N,XTSX,Namaste Technologies Inc,Consumer Cyclical,Specialty Retail
14,CAN,HIP,XTSX,Newstrike Brands Ltd,Healthcare,Drug Manufacturers - Specialty & Generic
23,CAN,OGI,XTSX,OrganiGram Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
24,CAN,OH,XCNQ,Origin House,Healthcare,Drug Manufacturers - Specialty & Generic
25,CAN,PLTH,XCNQ,Planet 13 Holdings Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
27,CAN,SNN,XCNQ,Sunniva Inc Ordinary Shares,Healthcare,Drug Manufacturers - Specialty & Generic
31,CAN,TILT,XCNQ,TILT Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic
28,CAN,TER,XCNQ,TerrAscend Corp,Healthcare,Drug Manufacturers - Specialty & Generic
47,USA,TRTC,PINX,Terra Tech Corp,Industrials,Farm & Construction Equipment
30,CAN,TGOD,XTSE,The Green Organic Dutchman Holdings Ltd Ordina...,Healthcare,Drug Manufacturers - Specialty & Generic
8,CAN,FIRE,XTSE,The Supreme Cannabis Co Inc,Healthcare,Drug Manufacturers - Specialty & Generic
46,USA,TLRY,XNAS,Tilray Inc,Healthcare,Drug Manufacturers - Specialty & Generic
33,CAN,TRUL,XCNQ,Trulieve Cannabis Corp Ordinary Shares (Sub Vo...,Healthcare,Drug Manufacturers - Specialty & Generic
34,CAN,VIVO,XTSX,VIVO Cannabis Inc,Healthcare,Drug Manufacturers - Specialty & Generic
35,CAN,WAYL,XCNQ,Wayland Group Corp,Healthcare,Drug Manufacturers - Specialty & Generic
15,CAN,IAN,XCNQ,iAnthus Capital Holdings Inc,Healthcare,Drug Manufacturers - Specialty & Generic

<a id="value"></a>
[return to the top](#top)

## Applying various criteria to filter common stocks

- **[Rule 1](#rule1): No earnings deficit (loss) for past 5 years**
- **[Rule 2](#rule2): Uniterrupted and increasing Dividends for past 5 yrs**
- **[Rule 3](#rule3): P/E Ratio of 25 or less for the past 7 yrs and less then 20 for TTM**
- **[Rule 4](#rule4): P/B Ratio of 1 or less for TTM**
- *[Rule 5](#rule5): Filter for "bargain issues"*
- *[Rule 6](#rule6): Operating Cash Flow growth for the past 7 yr*
- *[Rule 7](#rule7): Owner earnings growth rate > 6% over past 7 years*
- *[Rule 8](#rule8): Long-term debt < 50% of total capital*
- *[Rule 9](#rule9): NAV per share > Stock Price*
- *[Rule 10](#rule10): Growth Stocks as described by Benjamin Graham in _The Intelligent Investor_*
- *[Rule 11](#rule11): Positive ratio of earnings to fixed charge*
- *[Rule 12](#rule12):*
- *[Rule 13](#rule13):*
- *[Rule 14](#rule14):*
- *[Rule 15](#rule15):*
- *[Merge DataFrames](#mergerules):*
<a id="rule1"></a>

### Rule 1. No earnings deficit (loss) for past 5 or 7 years

#### 5 Years:
*a. Identify Net Income column labels in* `df_annualIS`

In [117]:
data = 'Net income'
df_labels = df_labels_aIS[df_labels_aIS['value'] == data].sort_values(by='value')
df_labels

                value
header
label_i50  Net income
label_i70  Net income
label_i80  Net income

*b. Get column headers for 'Net income' values for the past 5 yrs*

In [118]:
i_ids = [(label[-3:] + '_') for label in df_labels.index]

def get_icols(col):
    for i_id in i_ids:
        if i_id in col:
            return True
    return False

main_cols1 = ['ticker_id', 'exchange_id', 
             'country', 'exchange_sym', 'ticker', 'company', 
             'sector', 'industry', 'stock_type', 'style', 
             'Year_Y_6', 'Year_Y_5', 'Year_Y_4', 'Year_Y_3', 'Year_Y_2', 'Year_Y_1']
data_cols = sorted(list(filter(get_icols, df_annualIS.columns)), key=lambda r: (r[-1], r[5:8]), reverse=True)
print('The following columns contain \'{}\' values:\n{}'.format(data, data_cols))

The following columns contain 'Net income' values:
['data_i80_Y_6', 'data_i70_Y_6', 'data_i50_Y_6', 'data_i80_Y_5', 'data_i70_Y_5', 'data_i50_Y_5', 'data_i80_Y_4', 'data_i70_Y_4', 'data_i50_Y_4', 'data_i80_Y_3', 'data_i70_Y_3', 'data_i50_Y_3', 'data_i80_Y_2', 'data_i70_Y_2', 'data_i50_Y_2', 'data_i80_Y_1', 'data_i70_Y_1', 'data_i50_Y_1']

*c. Create 'Net Income' DataFrame*

In [119]:
df_annualIS['Year_Y_5'] = pd.to_datetime(df_annualIS['Year_Y_5'])

In [120]:
df_netinc5 = (df_annualIS
              .where((df_annualIS['security_type'] == 'Stock') & 
                     (df_annualIS['Year_Y_5'] >= pd.to_datetime('2018-01')))
              .dropna(axis=0, how='all')
              .drop(['country'], axis=1)
              .rename(columns={'country_c3':'country'})
             )[main_cols1 + data_cols]

np_netinc = df_netinc5[data_cols].values
netinc_cols = [('Net_Income_Y' + data_cols[i * 3][-1], (i * 3, i * 3 + 1, i * 3 + 2))
               for i in range(int(len(data_cols)/3))]

vals = []
for row in np_netinc:
    row_vals = []
    for i in range(len(netinc_cols)):
        val = None
        for col in netinc_cols[i][1]:
            if not np.isnan(row[col]):
                val = row[col]
                break
        row_vals.append(val)
    vals.append(row_vals)
    
df_vals = pd.DataFrame(vals, columns=list(zip(*netinc_cols))[0])
df_netinc5 = df_netinc5[main_cols1].join(df_vals)

In [121]:
df_rule1 = df_netinc5.where((df_netinc5['Net_Income_Y6'] > 0) & 
                            ((df_netinc5['Net_Income_Y5'] > 0) | (df_netinc5['Net_Income_Y5'].isna())) & 
                            ((df_netinc5['Net_Income_Y4'] > 0) | (df_netinc5['Net_Income_Y4'].isna())) & 
                            ((df_netinc5['Net_Income_Y3'] > 0) | (df_netinc5['Net_Income_Y3'].isna())) & 
                            ((df_netinc5['Net_Income_Y2'] > 0) | (df_netinc5['Net_Income_Y2'].isna())) & 
                            ((df_netinc5['Net_Income_Y1'] > 0) | (df_netinc5['Net_Income_Y1'].isna()))
                           ).dropna(axis=0, how='all')

In [122]:
df_rule1

,ticker_id,exchange_id,country,exchange_sym,ticker,company,sector,industry,stock_type,style,...,Year_Y_4,Year_Y_3,Year_Y_2,Year_Y_1,Net_Income_Y6,Net_Income_Y5,Net_Income_Y4,Net_Income_Y3,Net_Income_Y2,Net_Income_Y1
0,1.0,374.0,USA,ARCX,OGCP,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
1,2.0,374.0,USA,ARCX,FISK,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
2,3.0,374.0,USA,ARCX,ESBA,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.164020e+08,1.164020e+08,1.182530e+08,1.072500e+08,7.992800e+07,7.021000e+07
3,19437.0,302.0,USA,XNYS,PSB,PS Business Parks Inc,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.267020e+08,2.267020e+08,1.550370e+08,1.280290e+08,1.304750e+08,1.739710e+08
4,20371.0,302.0,USA,XNYS,STOR,STORE Capital Corp,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.169700e+08,2.169700e+08,1.620380e+08,1.233250e+08,8.377000e+07,4.813900e+07
5,16558.0,44.0,USA,XNAS,LAMR,Lamar Advertising Co Class A,Real Estate,REIT - Diversified,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,3.052320e+08,3.052320e+08,3.176760e+08,2.988090e+08,2.625700e+08,2.535180e+08
7,19148.0,302.0,USA,XNYS,EQC,Equity Commonwealth,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.728130e+08,2.728130e+08,2.965600e+07,2.328940e+08,9.985700e+07,2.401200e+07
8,19275.0,302.0,USA,XNYS,LPT,Liberty Property Trust,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,4.796070e+08,4.796070e+08,2.823400e+08,3.568170e+08,2.380390e+08,2.179100e+08
9,19727.0,302.0,USA,XNYS,VNO,Vornado Realty Trust,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2011-12,4.499540e+08,4.499540e+08,2.274160e+08,9.069170e+08,7.604340e+08,6.623020e+08
11,19849.0,302.0,USA,XNYS,DEI,Douglas Emmett Inc,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.160860e+08,1.160860e+08,9.444300e+07,8.539700e+07,5.838400e+07,4.462100e+07
12,19240.0,302.0,USA,XNYS,KRC,Kilroy Realty Corp,Real Estate,REIT - Office,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.584150e+08,2.584150e+08,1.646120e+08,2.937880e+08,2.340810e+08,1.802190e+08
13,19108.0,302.0,USA,XNYS,RHP,Ryman Hospitality Properties Inc,Real Estate,REIT - Hotel & Motel,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.646700e+08,2.646700e+08,1.761000e+08,1.593660e+08,1.115110e+08,1.264520e+08
14,19993.0,302.0,USA,XNYS,PEB,Pebblebrook Hotel Trust,Real Estate,REIT - Hotel & Motel,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.339300e+07,1.339300e+07,9.988800e+07,7.370400e+07,9.466800e+07,7.286600e+07
15,18925.0,302.0,USA,XNYS,NNN,National Retail Properties Inc,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.924470e+08,2.924470e+08,2.649730e+08,2.395000e+08,1.978360e+08,1.906010e+08
16,19047.0,302.0,USA,XNYS,EPR,EPR Properties,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.669830e+08,2.669830e+08,2.629680e+08,2.249820e+08,1.945320e+08,1.796330e+08
17,19071.0,302.0,USA,XNYS,FRT,Federal Realty Investment Trust,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.419070e+08,2.419070e+08,2.899140e+08,2.499100e+08,2.102190e+08,1.645350e+08
18,16870.0,44.0,USA,XNAS,REG,Regency Centers Corp,Real Estate,REIT - Retail,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.491270e+08,2.491270e+08,1.760770e+08,1.649220e+08,1.500560e+08,1.873900e+08
19,18700.0,302.0,USA,XNYS,ACC,American Campus Communities Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.170950e+08,1.170950e+08,6.903800e+07,1.001670e+08,1.174490e+08,6.375200e+07
20,18726.0,302.0,USA,XNYS,AIV,Apartment Investment & Management Co,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,6.739660e+08,6.739660e+08,3.235380e+08,4.376490e+08,2.556530e+08,3.157460e+08
21,18851.0,302.0,USA,XNYS,CPT,Camden Property Trust,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.561280e+08,1.561280e+08,1.964220e+08,8.198230e+08,2.493150e+08,2.920890e+08
22,19052.0,302.0,USA,XNYS,ELS,Equity Lifestyle Properties Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.126120e+08,2.126120e+08,1.975890e+08,1.732630e+08,1.393710e+08,1.280050e+08
23,19335.0,302.0,USA,XNYS,MAA,Mid-America Apartment Communities Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.228990e+08,2.228990e+08,3.283790e+08,2.122220e+08,3.322870e+08,1.479800e+08
24,19694.0,302.0,USA,XNYS,UDR,UDR Inc,Real Estate,REIT - Residential,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.031060e+08,2.031060e+08,1.215580e+08,2.927180e+08,3.403830e+08,1.543340e+08
27,19021.0,302.0,USA,XNYS,EGP,EastGroup Properties Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,8.850600e+07,8.850600e+07,8.318300e+07,9.550900e+07,4.786600e+07,4.794100e+07
28,19060.0,302.0,USA,XNYS,EXR,Extra Space Storage Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,4.152890e+08,4.152890e+08,4.790130e+08,3.661270e+08,1.894740e+08,1.783550e+08
29,19082.0,302.0,USA,XNYS,FR,First Industrial Realty Trust Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.632390e+08,1.632390e+08,2.014560e+08,1.212320e+08,7.380200e+07,4.911000e+07
30,19575.0,302.0,USA,XNYS,LSI,Life Storage Inc,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,2.065900e+08,2.065900e+08,9.636500e+07,8.522500e+07,1.125240e+08,8.853100e+07
31,19677.0,302.0,USA,XNYS,CUBE,CubeSmart,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.638890e+08,1.638890e+08,1.342880e+08,8.790500e+07,7.771200e+07,2.637900e+07
32,19013.0,302.0,USA,XNYS,DRE,Duke Realty Corp,Real Estate,REIT - Industrial,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,3.837290e+08,3.837290e+08,1.634431e+09,3.121430e+08,6.153100e+08,2.435880e+08
35,19322.0,302.0,USA,XNYS,MPW,Medical Properties Trust Inc,Real Estate,REIT - Healthcare Facilities,Hard Asset,Mid Core,...,2017-12,2016-12,2015-12,2014-12,1.016685e+09,1.016685e+09,2.897930e+08,2.250480e+08,1.395980e+08,5.052200e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48580,261703.0,144.0,DEU,XSTU,TLY,Tate & Lyle PLC,Consumer Defensive,Packaged Foods,â€”,Mid Core,...,2017-03,2016-03,2015-03,2014-03,5.494066e+07,5.494066e+07,4.544475e+07,3.889098e+07,3.341188e+07,1.097575e+07
48581,215369.0,144.0,DEU,XSTU,NI3,Nichirei Corp,Consumer Defensive,Packaged Foods,â€”,Mid Core,...,2017-03,2016-03,2015-03,2014-03,3.486414e+07,3.486414e+07,3.276322e+07,2.484532e+07,1.583063e+07,2.225062e+07
48597,273206.0,16.0,DEU,XFRA,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48598,273206.0,17.0,DEU,XBER,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48599,273206.0,144.0,DEU,XSTU,E5M,Eagle Materials Inc,Basic Materials,Building Materials,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48600,93411.0,16.0,DEU,XFRA,AUK,Amerco Inc,Industrials,Rental & Leasing Services,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48601,290732.0,16.0,DEU,XFRA,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.260000e+08,8.260000e+08,7.260000e+08,4.626490e+08,4.615590e+08,3.533510e+08
48602,290732.0,17.0,DEU,XBER,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,6.440000e+08,6.440000e+08,9.830000e+08,1.158000e+09,1.253000e+09,1.042000e+09
48604,290732.0,144.0,DEU,XSTU,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,2.586163e+08,2.586163e+08,2.529614e+08,2.218658e+08,1.658058e+08,1.247141e+08
48605,290732.0,142.0,DEU,XDUS,PRL,Ralph Lauren Corp Class A,Consumer Cyclical,Apparel Manufacturing,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,8.573510e+08,8.573510e+08,8.084500e+08,7.779260e+08,8.144990e+08,8.179240e+08
48606,38241.0,16.0,DEU,XFRA,2QO,Qorvo Inc,Technology,Semiconductors,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,3.832241e+07,3.832241e+07,4.073661e+07,3.267393e+07,2.470948e+07,2.826400e+07
48608,38241.0,141.0,DEU,XMUN,2QO,Qorvo Inc,Technology,Semiconductors,Cyclical,Mid Core,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48609,1055503.0,144.0,DEU,XSTU,E8U,Enxnet Inc,Energy,Oil & Gas E&P,Hard Asset,â€”,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48610,235147.0,16.0,DEU,XFRA,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,2.900200e+07,2.727700e+07,2.052500e+07,2.193300e+07,4.109400e+07,1.903600e+07
48611,235147.0,17.0,DEU,XBER,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.804000e+06,8.211000e+06,9.822000e+06,1.054200e+07,7.795000e+06,7.384000e+06
48614,235147.0,142.0,DEU,XDUS,HBF,HIVE Blockchain Technologies Ltd,Financial Services,Capital Markets,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.246200e+07,1.591700e+07,1.739000e+07,1.679000e+07,1.039900e+07,1.289700e+07
48618,45746.0,144.0,DEU,XSTU,8HX,Hexindai Inc ADR,Financial Services,Credit Services,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,6.198668e+07,6.198668e+07,3.633455e+07,6.491740e+07,5.944147e+07,5.759077e+07
48626,285506.0,16.0,DEU,XFRA,25CN,Canadian Energy Materials Corp,Basic Materials,Industrial Metals & Minerals,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,1.691616e+07,1.611874e+07,1.511689e+07,1.347868e+07,1.468825e+07,1.348224e+07
48687,44714.0,16.0,DEU,XFRA,7R8,Replimune Group Inc,Healthcare,Biotechnology,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,8.546650e+05,7.625120e+05,4.631080e+05,1.167537e+06,1.003640e+06,6.246620e+05
48698,521755.0,144.0,DEU,XSTU,1OA,Blueberries Medical Corp,Healthcare,Drug Manufacturers - Specialty & Generic,â€”,â€”,...,2017-03,2016-03,2015-03,2014-03,3.360000e+08,3.360000e+08,3.520000e+08,3.380000e+08,3.180000e+08,2.605000e+08
48743,520908.0,142.0,DEU,XDUS,LSU2,Land Securities Group PLC,Real Estate,REIT - Diversified,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.270000e+05,4.270000e+05,1.721000e+06,5.914000e+06,2.990000e+05,1.199000e+06
48744,548083.0,16.0,DEU,XFRA,N9U,Nomura Real Estate Holdings Inc,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.600000e+06,4.600000e+06,4.100000e+06,4.800000e+06,4.400000e+06,3.500000e+06
48747,548083.0,17.0,DEU,XBER,N9U,Nomura Real Estate Holdings Inc,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,3.970280e+05,3.970280e+05,3.363470e+05,NaN,NaN,NaN
48748,201305.0,17.0,DEU,XBER,CS4,China South City Holdings Ltd,Real Estate,Real Estate Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,3.970280e+05,3.970280e+05,3.363470e+05,NaN,NaN,NaN
48752,20134.0,144.0,DEU,XSTU,FET,Far East Consortium International Ltd,Real Estate,Real Estate - General,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,4.244400e+07,4.244400e+07,2.006800e+07,1.785300e+07,9.605000e+06,5.403000e+06
48766,222131.0,17.0,DEU,XBER,YC3,Concordia Financial Group Ltd,Financial Services,Banks - Regional - Asia,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,2.706440e+11,1.950610e+11,1.309460e+11,1.454190e+11,2.142930e+11,2.427530e+11
48770,222131.0,141.0,DEU,XMUN,YC3,Concordia Financial Group Ltd,Financial Services,Banks - Regional - Asia,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,2.689040e+08,2.909150e+08,1.099650e+08,1.107630e+08,1.350640e+08,1.294420e+08
48779,618566.0,142.0,DEU,XDUS,QC9,Credit Saison Co Ltd,Financial Services,Credit Services,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,7.700000e+06,7.800000e+06,5.500000e+06,4.800000e+06,6.200000e+06,5.300000e+06
48783,296503.0,141.0,DEU,XMUN,IVKA,Investec PLC,Financial Services,Asset Management,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,1.137400e+08,1.137400e+08,9.202700e+07,1.810000e+07,9.218100e+07,3.272110e+08
48795,737820.0,141.0,DEU,XMUN,TIJ,Teijin Ltd,Basic Materials,Specialty Chemicals,â€”,Mid Value,...,2017-03,2016-03,2015-03,2014-03,1.660000e+07,1.660000e+07,8.740000e+07,1.604000e+08,1.088000e+08,8.450000e+07

In [123]:
cols = ['country_c3', 'exchange_sym', 'ticker', 'company', 'sector', 'industry'] + \
        [col for col in df_keyratios.columns if col.startswith('i4_') or col.startswith('Y')]

df_keyratios[cols]

,country_c3,exchange_sym,ticker,company,sector,industry,i4_Y0,i4_Y1,i4_Y2,i4_Y3,...,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10
0,USA,ARCX,OGCP,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
1,USA,ARCX,FISK,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
2,USA,ARCX,ESBA,Empire State Realty OP LP Operating Partnershi...,Real Estate,REIT - Diversified,NaN,NaN,57.0,49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
3,USA,XNYS,PSB,PS Business Parks Inc,Real Estate,REIT - Diversified,77.0,85.0,94.0,89.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
4,USA,XNYS,STOR,STORE Capital Corp,Real Estate,REIT - Diversified,NaN,NaN,NaN,8.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
5,USA,XNAS,LAMR,Lamar Advertising Co Class A,Real Estate,REIT - Diversified,-58.0,-40.0,9.0,10.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
6,USA,XNYS,ARE,Alexandria Real Estate Equities Inc,Real Estate,REIT - Office,135.0,135.0,131.0,102.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
7,USA,XNYS,EQC,Equity Commonwealth,Real Estate,REIT - Office,165.0,135.0,110.0,-95.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
8,USA,XNYS,LPT,Liberty Property Trust,Real Estate,REIT - Office,56.0,128.0,184.0,137.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
9,USA,XNYS,VNO,Vornado Realty Trust,Real Estate,REIT - Office,721.0,636.0,395.0,106.0,...,2007-12-01,2008-12-01,2009-12-01,2010-12-01,2011-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
10,USA,XNYS,HPP,Hudson Pacific Properties Inc,Real Estate,REIT - Office,NaN,-3.0,-10.0,-5.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
11,USA,XNYS,DEI,Douglas Emmett Inc,Real Estate,REIT - Office,-27.0,-26.0,1.0,23.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
12,USA,XNYS,KRC,Kilroy Realty Corp,Real Estate,REIT - Office,37.0,20.0,66.0,271.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
13,USA,XNYS,RHP,Ryman Hospitality Properties Inc,Real Estate,REIT - Hotel & Motel,NaN,-89.0,10.0,-27.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
14,USA,XNYS,PEB,Pebblebrook Hotel Trust,Real Estate,REIT - Hotel & Motel,NaN,-7.0,15.0,26.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
15,USA,XNYS,NNN,National Retail Properties Inc,Real Estate,REIT - Retail,55.0,73.0,92.0,142.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
16,USA,XNYS,EPR,EPR Properties,Real Estate,REIT - Retail,8.0,115.0,115.0,122.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
17,USA,XNYS,FRT,Federal Realty Investment Trust,Real Estate,REIT - Retail,98.0,123.0,144.0,152.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
18,USA,XNAS,REG,Regency Centers Corp,Real Estate,REIT - Retail,-37.0,12.0,51.0,26.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
19,USA,XNYS,ACC,American Campus Communities Inc,Real Estate,REIT - Residential,-13.0,16.0,57.0,57.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
20,USA,XNYS,AIV,Apartment Investment & Management Co,Real Estate,REIT - Residential,-64.0,-72.0,-57.0,139.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
21,USA,XNYS,CPT,Camden Property Trust,Real Estate,REIT - Residential,-43.0,30.0,56.0,286.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
22,USA,XNYS,ELS,Equity Lifestyle Properties Inc,Real Estate,REIT - Residential,34.0,38.0,37.0,69.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
23,USA,XNYS,MAA,Mid-America Apartment Communities Inc,Real Estate,REIT - Residential,37.0,30.0,49.0,105.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
24,USA,XNYS,UDR,UDR Inc,Real Estate,REIT - Residential,-88.0,-103.0,20.0,212.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
25,USA,XNYS,AMH,American Homes 4 Rent Class A,Real Estate,REIT - Residential,NaN,NaN,NaN,-10.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
26,USA,XNYS,INVH,Invitation Homes Inc,Real Estate,REIT - Residential,NaN,NaN,NaN,NaN,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
27,USA,XNYS,EGP,EastGroup Properties Inc,Real Estate,REIT - Industrial,27.0,18.0,22.0,32.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
28,USA,XNYS,EXR,Extra Space Storage Inc,Real Estate,REIT - Industrial,32.0,26.0,50.0,117.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
29,USA,XNYS,FR,First Industrial Realty Trust Inc,Real Estate,REIT - Industrial,6.0,-203.0,-7.0,-1.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68284,GBR,XLON,NWF,NWF Group PLC,Energy,Oil & Gas Refining & Marketing,-2.0,5.0,5.0,3.0,...,2010-05-01,2011-05-01,2012-05-01,2013-05-01,2014-05-01,2015-05-01,2016-05-01,2017-05-01,2018-05-01,TTM
68285,USA,XNYS,DSW,Designer Brands Inc,Consumer Cyclical,Apparel Stores,27.0,55.0,108.0,175.0,...,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,TTM
68286,CAN,XTSX,GTP,Colt Resources Inc,Basic Materials,Industrial Metals & Minerals,NaN,NaN,-1.0,-1.0,...,2007-03-01,2008-03-01,2009-03-01,2010-03-01,2011-03-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,TTM
68287,DEU,XSTU,WR4D,DropCar Inc,Technology,Software - Application,4.0,2.0,1.0,-37.0,...,2009-04-01,2010-04-01,2011-04-01,2012-04-01,2013-04-01,2014-04-01,2015-04-01,2016-04-01,2017-04-01,TTM
68288,DEU,XBER,TI3,Tintri Inc,Technology,Software - Application,NaN,NaN,NaN,NaN,...,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,TTM
68289,USA,XNAS,IDTI,Integrated Device Technology Inc,Technology,Semiconductors,NaN,40.0,73.0,58.0,...,2010-03-01,2011-03-01,2012-03-01,2013-03-01,2014-03-01,2015-03-01,2016-03-01,2017-03-01,2018-03-01,TTM
68290,USA,XNAS,ARRS,ARRIS International PLC,Technology,Communication Equipment,91.0,64.0,-18.0,53.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68291,USA,XNAS,PGLC,Pershing Gold Corp,Basic Materials,Gold,NaN,-2.0,-25.0,-49.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68292,DEU,XFRA,HQ1N,ARCA biopharma Inc,Healthcare,Biotechnology,-9.0,-8.0,-5.0,-4.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68293,USA,PINX,EXDID,Exactus Inc,Healthcare,Diagnostics & Research,NaN,NaN,NaN,NaN,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68294,DEU,XFRA,RT6,Roadrunner Transportation Systems Inc,Industrials,Trucking,-4.0,4.0,26.0,38.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68295,CAN,XTSX,CH,Urban Select Capital Corp,Financial Services,Asset Management,NaN,NaN,-2.0,-1.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68296,USA,GREY,CIOIY,Carillion PLC ADR,Industrials,Engineering & Construction,76.0,108.0,120.0,147.0,...,2008-12-01,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,TTM
68297,USA,PINX,ANWWQ,Aegean Marine Petroleum Network Inc,Energy,Oil & Gas Integrated,40.0,49.0,19.0,10.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68298,USA,PINX,SHRV,Sharing Services Global Corp,Industrials,Conglomerates,NaN,NaN,NaN,NaN,...,2010-04-01,2011-04-01,2012-04-01,2013-04-01,2014-04-01,2015-04-01,2016-04-01,2017-04-01,2018-04-01,TTM
68299,USA,PINX,MMJJF,MMJ Group Holdings Ltd,Healthcare,Drug Manufacturers - Specialty & Generic,NaN,NaN,NaN,NaN,...,2009-09-01,2010-09-01,2011-09-01,2012-09-01,2013-09-01,2014-09-01,2016-06-01,2017-06-01,2018-06-01,TTM
68300,DEU,XSTU,US23334L1026,Designer Brands Inc,Consumer Cyclical,Apparel Stores,27.0,55.0,108.0,175.0,...,2010-01-01,2011-01-01,2012-01-01,2013-01-01,2014-01-01,2015-01-01,2016-01-01,2017-01-01,2018-01-01,TTM
68301,USA,PINX,REZIF,Radisson Hospitality AB,Consumer Cyclical,Lodging,26.0,-28.0,-3.0,-12.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68302,DEU,XETR,3P7,Pandora A/S,Consumer Cyclical,Luxury Goods,344.0,914.0,NaN,NaN,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68303,DEU,XFRA,37HA,Global Ship Lease Inc,Industrials,Shipping & Ports,-37.0,42.0,-4.0,9.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68304,DEU,XSTU,RHSP,Seanergy Maritime Holdings Corp,Industrials,Shipping & Ports,-32.0,30.0,NaN,-198.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68305,DEU,XFRA,19K,Cormedix Inc,Healthcare,Biotechnology,NaN,-8.0,-11.0,-7.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM
68306,DEU,XBER,19K,Cormedix Inc,Healthcare,Biotechnology,-8.0,-11.0,-7.0,-3.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68307,USA,XNAS,ACET,Aceto Corp,Healthcare,Drug Manufacturers - Specialty & Generic,9.0,7.0,9.0,17.0,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68308,USA,XNAS,THST,Truett-Hurst Inc Class A,Consumer Defensive,Beverages - Wineries & Distilleries,NaN,NaN,-1.0,NaN,...,2010-06-01,2011-06-01,2012-06-01,2013-06-01,2014-06-01,2015-06-01,2016-06-01,2017-06-01,2018-06-01,TTM
68309,CAN,XTSX,ALI,Altitude Resources Inc,Basic Materials,Coal,NaN,NaN,NaN,NaN,...,2010-07-01,2011-07-01,2012-07-01,2013-07-01,2014-07-01,2015-07-01,2016-07-01,2017-07-01,2018-07-01,TTM
68310,USA,PINX,ACARQ,ActiveCare Inc,Healthcare,Medical Devices,NaN,-2.0,-2.0,-12.0,...,2008-09-01,2009-09-01,2010-09-01,2011-09-01,2012-09-01,2013-09-01,2014-09-01,2015-09-01,2016-09-01,TTM
68311,DEU,XBER,TY2,Citycon Oyj,Real Estate,Real Estate Services,-36.0,90.0,21.0,77.0,...,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,TTM
68312,USA,PINX,PTVYF,3 Sixty Risk Solutions Ltd,Industrials,Conglomerates,-3.0,-2.0,-17.0,-6.0,...,2010-09-01,2011-09-01,2012-09-01,2013-09-01,2014-09-01,2015-09-01,2016-09-01,2017-09-01,2018-09-01,TTM
68313,USA,PINX,PCFO,Pacific Office Properties Trust Inc,Real Estate,REIT - Office,-8.0,43.0,-17.0,-4.0,...,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,TTM

[return to top of this section](#value),
[return to the top](#top)
<a id="rule2"></a>
### Rule 2. Uniterrupted and increasing *Dividends* for past 7 yrs

**a. Identify *Dividends* column label in** `df_keyratios`

In [124]:
icol = df_labels_kratios[df_labels_kratios == 'Dividends'].index[0]
icol

'i6'

**b. Get column headers for *Dividends* for the past 5 yrs**

In [125]:
main_cols2 = ['ticker_id', 'exchange_id', 
             #'country_c3', 'exchange_sym', 'ticker', 'company', 
             #'sector', 'industry', 'stock_type', 'style', 
             'Y10', 'Y9', 'Y8', 'Y7', 'Y6', 'Y5']
icols = sorted([col for col in df_keyratios.columns if icol + '_' in col], 
               key=lambda col: int(col[4:]), reverse=True)[:8]
icols

['i6_Y10', 'i6_Y9', 'i6_Y8', 'i6_Y7', 'i6_Y6', 'i6_Y5', 'i6_Y4', 'i6_Y3']

**c. Create 'Net Income' DataFrame**

In [126]:
df_rule2 = (df_keyratios
            .where((df_keyratios['security_type'] == 'Stock') & 
                   (df_keyratios['Y9'] >= pd.to_datetime('2018-01')) & 
                   (df_keyratios['i6_Y10'].notna()) & (df_keyratios['i6_Y9'].notna()) &
                   (df_keyratios['i6_Y8'].notna()) & (df_keyratios['i6_Y7'].notna()) &
                   (df_keyratios['i6_Y6'].notna()) & (df_keyratios['i6_Y5'].notna()) & 
                   (df_keyratios['i6_Y4'].notna()) & (df_keyratios['i6_Y3'].notna()) & 
                   (df_keyratios['i6_Y10'] >= df_keyratios['i6_Y9']) & 
                   (df_keyratios['i6_Y9'] >= df_keyratios['i6_Y8']) & 
                   (df_keyratios['i6_Y8'] >= df_keyratios['i6_Y7']) & 
                   (df_keyratios['i6_Y7'] >= df_keyratios['i6_Y6']) & 
                   (df_keyratios['i6_Y6'] >= df_keyratios['i6_Y5']) & 
                   (df_keyratios['i6_Y5'] >= df_keyratios['i6_Y4']) & 
                   (df_keyratios['i6_Y4'] >= df_keyratios['i6_Y3']))
            .dropna(axis=0, how='all').sort_values(by='Y9', ascending=False))[main_cols2 + icols]

df_rule2.columns = main_cols2 + [col.replace('i6', 'Dividend') for col in icols]

In [127]:
df_rule2

,ticker_id,exchange_id,Y10,Y9,Y8,Y7,Y6,Y5,Dividend_Y10,Dividend_Y9,Dividend_Y8,Dividend_Y7,Dividend_Y6,Dividend_Y5,Dividend_Y4,Dividend_Y3
59397,19619.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.52,2.52,2.44,2.32,2.16,1.90,1.58,1.32
59362,18997.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.40,0.40,0.34,0.28,0.26,0.24,0.22,0.20
59357,19073.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.51,1.51,1.51,1.49,1.39,1.19,0.95,0.80
59356,19091.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.38,1.38,1.24,1.10,1.00,0.88,0.80,0.72
59355,19276.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.40,2.40,2.40,2.40,2.00,1.36,1.20,1.00
63356,19285.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.85,1.85,1.58,1.33,1.07,0.87,0.70,0.62
59354,19106.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.97,0.97,0.92,0.92,0.92,0.88,0.70,0.50
59353,18994.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.68,0.60,0.55,0.50,0.50,0.50
59352,19393.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.48,1.48,1.48,1.48,1.48,1.32,1.20,1.08
59351,19249.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2.44,2.44,2.20,2.00,1.80,1.56,1.40,1.28
63675,18820.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.28,0.28,0.28,0.28,0.28,0.28,0.28,0.28
59349,19556.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.48,1.48,1.24,1.04,0.88,0.72,0.60,0.48
63700,16668.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.61,0.61,0.57,0.48,0.39,0.34,0.31,0.07
63706,1016947.0,138.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.61,0.61,0.57,0.48,0.40,0.34,0.31,0.07
59348,18701.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.55,0.55,0.50,0.50,0.50,0.50,0.38,0.33
59128,279831.0,138.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,4.12,4.12,3.56,2.76,2.36,1.88,1.56,1.16
59111,19178.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,4.12,4.12,3.56,2.76,2.36,1.88,1.56,1.16
59359,19104.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.52,1.52,1.52,1.48,1.44,1.32,1.10,0.80
59367,248426.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.00,1.00,0.80,0.80,0.80,0.75,0.38,0.34
59372,18825.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.00,1.00,1.00,1.00,0.94,0.89,0.82,0.80
59463,284577.0,145.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.06
59376,16616.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.18
59380,16890.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.64,0.54,0.47,0.40,0.34,0.28
59385,18662.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.80,0.80,0.80,0.80,0.80,0.80,0.80,0.70
59386,19143.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.90,0.90,0.90,0.90,0.90,0.90,0.80,0.80
59388,19428.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.36,1.36,1.08,1.08,1.00,0.84,0.72,0.60
59389,18891.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.34,0.34,0.33,0.32,0.31,0.30,0.24,0.21
59395,18794.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,1.80,1.80,1.36,1.12,0.92,0.72,0.68,0.62
59396,19253.0,302.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.53,0.53,0.49,0.45,0.40,0.34,0.31,0.25
59369,16940.0,44.0,TTM,2019-01-01,2018-01-01,2017-01-01,2016-01-01,2015-01-01,0.32,0.32,0.29,0.28,0.26,0.24,0.24,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55081,141566.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.60,0.55,0.49,0.42,0.35,0.28,0.24,0.21
62734,300054.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
55073,531363.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.31
55072,531363.0,144.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.89
62740,232250.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.11,0.10,0.10,0.10,0.10,0.09,0.09,0.08
62742,732943.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.05,0.95,0.80,0.69,0.57,0.48,0.42,0.37
62747,757740.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.04,0.04,0.03,0.02,0.02,0.02,0.01,0.01
62755,20675.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2013-07-01,2012-07-01,0.06,0.06,0.04,0.03,0.02,0.02,0.02,0.02
62793,26270.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62795,35953.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.28,1.28,1.24,1.20,1.16,1.12,1.04,0.96
62810,18093.0,649.0,TTM,2018-01-01,2016-12-01,2015-12-01,2014-12-01,2013-12-01,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.24
62733,300054.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
62684,612704.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
62664,700189.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.12
62663,700189.0,138.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.28
62659,700189.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.54,0.50,0.46,0.40,0.38,0.38,0.32,0.28
62622,65166.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62621,65166.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
62556,16028.0,44.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.28,0.28,0.28,0.28,0.28,0.28,0.28,0.28
62533,15749.0,547.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
63310,527706.0,18.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
62497,7467.0,25.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.21,0.20,0.20,0.20,0.18,0.18,0.18,0.15
63768,35797.0,649.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.16,0.15,0.13,0.12,0.11,0.09,0.07,0.04
62737,300054.0,142.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,79.00,77.00,64.00,54.00,50.00,36.00,28.00,20.00
65167,1497673.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.90,0.90,0.90,0.90,0.90,0.80,0.80,0.80
65168,1497673.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.90,0.90,0.90,0.90,0.90,0.80,0.80,0.80
55066,10994.0,25.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.31
55070,531363.0,16.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,0.94,0.89
55071,531363.0,17.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,1.58,1.58,1.58,1.53,1.43,1.22,1.04,0.89
68285,18975.0,302.0,TTM,2018-01-01,2017-01-01,2016-01-01,2015-01-01,2014-01-01,0.95,0.80,0.80,0.80,0.75,0.38,0.34,0.15

[return to top of this section](#value),
[return to the top](#top)
<a id="rule3"></a>
### Rule 3. P/E Ratio of 25 or less for the past 7 yrs and less then 20 for TTM

In [134]:
pe_cols = [col for col in df_valuation.columns if 'PE_' in col]
pe_cols = ['ticker_id', 'exchange_id'] + [pe_cols[len(pe_cols)-i-1] for i in range(len(pe_cols))][:8]
pe_cols

['ticker_id',
 'exchange_id',
 'PE_TTM',
 'PE_2018',
 'PE_2017',
 'PE_2016',
 'PE_2015',
 'PE_2014',
 'PE_2013',
 'PE_2012']

In [140]:
df_rule3 = (df_vals[pe_cols]
            .where((df_vals['PE_TTM'] <= 20) & (df_vals['PE_2018'] <= 25) &
                   (df_vals['PE_2017'] <= 25) & (df_vals['PE_2016'] <= 25) &
                   (df_vals['PE_2015'] <= 25) & (df_vals['PE_2014'] <= 25) &
                   (df_vals['PE_2013'] <= 25) & (df_vals['PE_2012'] <= 25)).dropna(axis=0, how='all'))

In [141]:
df_rule3

,ticker_id,exchange_id,PE_TTM,PE_2018,PE_2017,PE_2016,PE_2015,PE_2014,PE_2013,PE_2012
643,644.0,1.0,14.3,15.0,15.2,15.1,13.6,17.7,11.8,10.4
700,704.0,1.0,6.4,5.4,9.0,15.5,14.5,14.7,17.1,16.2
878,885.0,1.0,15.9,16.2,20.4,21.4,18.3,15.2,14.1,14.5
888,895.0,1.0,7.5,7.3,8.2,7.2,11.7,14.9,24.3,17.8
946,954.0,1.0,5.9,4.4,14.3,9.1,3.5,6.4,4.5,5.2
1054,1063.0,17.0,5.7,4.3,9.4,11.0,6.6,6.4,6.0,12.4
1055,1063.0,141.0,5.5,4.2,8.8,10.6,6.3,6.9,6.7,13.6
1080,1087.0,1.0,4.3,4.1,7.4,5.8,4.7,5.0,6.4,6.0
1144,1152.0,1.0,11.1,12.2,12.9,13.3,18.9,8.5,4.4,4.7
1149,1158.0,1.0,15.1,10.9,16.5,15.9,16.1,15.3,13.6,8.0
1170,1180.0,1.0,13.0,10.0,14.6,5.8,14.9,14.1,20.7,18.0
1185,1195.0,1.0,12.2,12.5,16.0,5.5,8.1,8.7,6.3,7.9
2039,2064.0,1.0,13.2,12.2,12.9,14.3,13.8,10.8,13.3,8.7
2104,2130.0,1.0,14.9,13.0,15.2,14.5,16.6,20.6,15.6,10.8
2164,2191.0,1.0,13.7,12.2,10.6,12.7,14.0,13.2,13.6,7.4
2280,2308.0,1.0,14.9,15.2,11.2,22.1,9.7,21.7,10.8,7.0
5649,5737.0,25.0,11.9,11.3,11.7,11.9,11.4,10.0,11.6,9.2
5695,5782.0,25.0,11.1,10.3,13.6,15.9,10.8,12.4,14.4,12.3
5708,5795.0,25.0,16.2,9.3,16.2,21.7,12.6,12.7,15.1,13.5
5710,5797.0,25.0,16.1,10.4,19.6,17.7,11.4,14.1,19.2,13.2
5759,5839.0,25.0,11.6,12.2,12.5,13.3,11.5,10.7,10.1,10.2
5798,5873.0,25.0,12.9,13.2,12.7,13.9,12.9,13.9,11.7,11.2
5802,5877.0,25.0,12.0,12.1,16.2,14.6,11.8,12.3,12.0,8.8
5819,5894.0,25.0,11.0,11.0,15.4,15.2,14.2,13.8,13.7,12.4
5831,5906.0,25.0,9.2,10.7,19.4,18.8,16.4,16.0,14.7,11.4
5846,5921.0,25.0,9.9,9.7,11.6,11.9,9.8,13.7,11.8,10.5
5855,5930.0,25.0,8.1,5.4,8.0,9.2,10.6,9.7,9.2,7.3
5864,5939.0,25.0,18.5,14.9,18.0,15.8,15.8,14.7,10.9,5.4
5879,5954.0,25.0,10.3,9.2,8.4,8.1,7.4,6.9,6.7,5.5
5924,5997.0,25.0,12.2,13.6,12.4,10.5,10.9,10.5,9.7,7.8
...,...,...,...,...,...,...,...,...,...,...
79499,3880745.0,16.0,8.1,7.4,6.5,15.9,6.2,5.1,5.7,5.2
79500,3880745.0,17.0,9.1,8.3,7.3,17.5,7.0,5.9,5.7,5.2
79501,3880745.0,144.0,8.1,7.5,6.6,15.9,6.2,5.2,5.9,5.2
79513,3881256.0,26.0,9.4,8.5,7.5,17.7,7.0,5.9,6.7,7.9
79540,3884141.0,552.0,7.5,7.0,7.3,7.1,8.6,11.7,8.0,8.7
79573,3893045.0,141.0,11.3,10.2,11.9,13.7,19.8,18.2,14.1,10.9
79586,3896591.0,26.0,10.2,9.6,5.1,6.2,6.4,5.5,8.1,8.5
79596,3899016.0,552.0,16.1,12.8,24.4,19.1,19.0,15.2,15.7,9.3
79597,3899018.0,552.0,12.7,13.4,13.4,16.7,11.8,12.1,19.3,6.9
79622,3901116.0,141.0,7.9,6.7,8.9,6.8,11.1,11.5,10.8,11.2
79625,3903028.0,18.0,9.0,7.5,5.5,8.4,15.1,11.5,15.2,10.8
79626,3903029.0,16.0,8.9,7.3,5.5,8.4,14.9,11.3,15.4,10.7
79627,3903029.0,17.0,8.7,7.1,5.4,8.2,14.6,11.1,15.1,10.4
79628,3903029.0,141.0,9.2,7.5,5.5,8.5,14.9,11.5,15.5,11.0
79632,3903098.0,552.0,14.8,13.5,19.3,16.8,19.3,20.0,15.0,12.1
79672,3916198.0,141.0,15.2,15.1,14.8,13.0,12.8,14.5,12.8,10.6
79818,3948107.0,17.0,9.3,8.4,9.2,10.8,17.1,21.1,11.5,7.8
79820,3948107.0,141.0,9.6,8.6,9.2,10.8,16.9,21.0,11.5,7.9
79821,3948107.0,143.0,9.3,8.6,9.2,10.9,17.1,20.8,11.3,7.8
79823,3948107.0,145.0,9.3,8.6,9.2,10.9,16.9,20.8,11.4,7.8
79830,3949048.0,17.0,18.1,17.7,24.8,22.6,22.1,19.0,16.2,11.3
79834,3950177.0,16.0,15.5,15.3,18.1,16.1,17.1,13.8,12.6,11.8
79835,3950177.0,17.0,15.5,15.2,18.4,15.9,17.0,13.8,12.9,11.8
79836,3950177.0,138.0,15.6,14.7,18.2,16.1,16.8,13.9,12.5,11.8
79837,3950177.0,142.0,15.0,14.5,18.6,15.8,16.8,13.7,12.4,11.8
79838,3950177.0,144.0,15.5,14.5,18.3,15.8,16.8,13.7,12.6,11.8
79852,3954135.0,26.0,1.6,1.3,3.7,3.8,1.4,6.0,12.0,12.2
79883,3960575.0,26.0,11.4,7.9,24.9,9.1,8.4,11.7,11.6,12.0
79889,3962595.0,26.0,8.5,12.5,11.8,11.7,7.8,5.2,11.4,2.7
79910,3964921.0,26.0,4.2,3.3,6.1,9.7,5.3,9.6,6.8,6.6

[return to top of this section](#value),
[return to the top](#top)
<a id="rule4"></a>
### Rule 4. P/B Ratio of 1 or less for TTM

In [142]:
pb_cols = [col for col in df_vals.columns if 'PB_' in col]
pb_cols = [pb_cols[len(pb_cols)-i-1] for i in range(len(pb_cols))][:6]
pb_cols

['PB_TTM', 'PB_2018', 'PB_2017', 'PB_2016', 'PB_2015', 'PB_2014']

In [143]:
df_rule4 = (df_vals[['ticker_id', 'exchange_id'] + pb_cols]
            .where(df_vals['PB_TTM'] <= 1).dropna(axis=0))

In [144]:
df_rule4

,ticker_id,exchange_id,PB_TTM,PB_2018,PB_2017,PB_2016,PB_2015,PB_2014
144,139.0,1.0,0.7,0.6,0.7,0.2,0.6,0.8
148,143.0,1.0,0.1,0.1,0.3,0.6,0.2,0.5
308,302.0,1.0,0.9,1.0,3.6,-14.1,0.9,0.1
340,335.0,1.0,0.8,0.6,1.8,0.3,0.2,0.8
366,361.0,1.0,0.5,0.5,1.2,0.9,2.1,8.5
400,396.0,1.0,0.6,0.6,1.4,2.8,5.1,4.5
513,511.0,1.0,1.0,0.9,1.9,2.1,1.0,1.0
601,602.0,1.0,0.3,0.4,0.9,2.4,0.2,0.2
672,675.0,1.0,0.8,0.6,1.5,2.1,1.7,3.1
686,689.0,1.0,0.2,0.1,0.8,0.9,0.7,1.0
688,691.0,1.0,0.3,0.3,0.7,0.9,1.4,1.1
700,704.0,1.0,0.7,0.6,0.9,0.7,0.9,1.0
707,711.0,1.0,0.8,0.9,1.0,1.2,1.7,1.0
738,742.0,1.0,0.0,0.0,0.0,0.2,0.4,1.7
754,758.0,1.0,0.3,0.2,0.2,0.4,0.2,0.4
761,765.0,1.0,0.9,0.6,1.2,1.9,0.1,0.5
766,770.0,1.0,0.4,0.3,0.5,0.6,0.1,0.0
771,775.0,1.0,1.0,0.8,1.6,0.7,0.4,0.7
782,786.0,1.0,0.9,0.7,0.9,0.7,0.9,0.8
786,790.0,1.0,0.3,0.4,6.2,-113.6,6.5,0.4
818,824.0,1.0,0.1,0.0,0.0,0.5,0.3,0.0
829,835.0,1.0,0.3,0.3,0.3,0.3,0.3,0.5
861,868.0,1.0,0.6,0.4,0.7,0.5,0.2,0.6
865,872.0,1.0,0.4,0.5,0.6,1.2,0.6,0.6
885,892.0,1.0,0.0,0.0,0.0,0.0,0.1,0.1
887,894.0,1.0,0.9,0.8,2.9,1.7,2.0,2.2
888,895.0,1.0,0.8,0.8,0.9,0.7,1.0,1.4
903,910.0,1.0,0.3,0.3,0.4,0.4,0.3,0.4
908,915.0,1.0,0.1,0.1,1.0,120.5,0.0,0.0
938,945.0,1.0,0.9,0.6,0.6,0.8,0.5,0.5
...,...,...,...,...,...,...,...,...
79826,3948788.0,141.0,1.0,1.0,1.0,0.8,0.8,0.8
79827,3948788.0,142.0,1.0,1.0,1.0,0.8,0.8,0.8
79829,3948788.0,145.0,1.0,1.0,1.0,0.8,0.8,0.8
79842,3951548.0,17.0,0.5,0.7,0.8,1.2,0.1,0.4
79852,3954135.0,26.0,0.4,0.3,0.5,0.5,0.5,0.7
79871,3958915.0,433.0,0.9,0.9,1.2,6.6,6.6,0.8
79872,3958932.0,16.0,0.7,0.7,0.5,6.0,5.2,0.3
79875,3959022.0,16.0,0.4,0.2,0.1,0.1,0.1,0.1
79876,3959022.0,17.0,0.3,0.3,0.1,0.1,0.1,0.1
79877,3959022.0,144.0,0.3,0.2,0.1,0.1,0.1,0.1
79881,3960001.0,26.0,0.8,1.1,1.1,1.1,1.2,1.9
79883,3960575.0,26.0,0.9,0.6,2.3,2.9,1.5,1.2
79884,3961147.0,17.0,0.2,0.2,0.2,0.2,0.2,0.4
79886,3961660.0,26.0,0.6,0.6,0.7,3.7,4.5,1.5
79888,3962593.0,26.0,0.6,0.5,0.7,0.5,0.4,0.4
79891,3962602.0,16.0,0.1,0.1,0.1,0.2,0.3,0.4
79892,3962602.0,17.0,0.1,0.1,0.1,0.2,0.4,0.5
79893,3962604.0,26.0,0.2,0.2,0.2,0.3,0.5,0.6
79895,3962609.0,26.0,0.8,1.0,5.5,2.7,2.4,1.3
79898,3963372.0,17.0,0.8,0.9,1.4,1.3,1.2,2.0
79899,3963464.0,17.0,0.0,0.0,0.5,0.6,0.6,0.5
79908,3964915.0,26.0,0.7,0.6,1.3,0.6,0.5,0.5
79910,3964921.0,26.0,0.7,0.6,1.1,0.6,0.5,0.5
79911,3964925.0,26.0,0.9,0.4,1.0,1.1,2.7,10.8
79914,3964932.0,26.0,0.5,1.5,2.2,2.6,6.1,10.5
79928,3966803.0,26.0,0.5,0.4,1.1,2.3,4.2,2.6
79934,7938.0,25.0,0.0,0.3,1.2,0.7,1.2,3.5
79938,7250.0,25.0,0.8,0.5,0.8,1.0,0.5,0.8
79946,17740.0,25.0,0.6,0.8,0.9,0.7,0.7,1.5
80003,560123.0,575.0,0.9,0.9,0.8,0.8,20.7,2.2

[return to top of this section](#value),
[return to the top](#top)
<a id="rule5"></a>
### Rule 5. Filtering for *bargain issues* as described by Benjamin Graham in *The Intelligent Investor*:

In his book, Graham defines bargain issues as common stocks where:

- $stock\ price\ < \frac{2}{3}\ net\ current\ asset\ value\ per\ share\ (NCAVPS)\$

- $net\ current\ asset\ value\ (NCAV)\ = current\ assets\ - total\ liabilities\ - preferred\ stocks\$

In [85]:
# Current Assets = g1

cols = ['ticker_id', 'exchange_id'] + [col for col in df_quarterlyBS.columns 
                                       if 'data_g1_Y' in col or 'Year_Y' in col]

In [87]:
df_master.merge(df_quarterlyBS[cols], on=['ticker_id', 'exchange_id'])

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,Year_Y_1,Year_Y_2,Year_Y_3,Year_Y_4,Year_Y_5,data_g1_Y_1,data_g1_Y_2,data_g1_Y_3,data_g1_Y_4,data_g1_Y_5
0,1.0,374.0,OGCP,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
1,2.0,374.0,FISK,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
2,3.0,374.0,ESBA,Empire State Realty OP LP Operating Partnershi...,NYSE ARCA,ARCX,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
3,19437.0,302.0,PSB,PS Business Parks Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
5,16558.0,44.0,LAMR,Lamar Advertising Co Class A,NASDAQ,XNAS,REIT - Diversified,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
6,18686.0,302.0,ARE,Alexandria Real Estate Equities Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
7,19148.0,302.0,EQC,Equity Commonwealth,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
8,19275.0,302.0,LPT,Liberty Property Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
9,19727.0,302.0,VNO,Vornado Realty Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
10,20018.0,302.0,HPP,Hudson Pacific Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
11,19849.0,302.0,DEI,Douglas Emmett Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
12,19240.0,302.0,KRC,Kilroy Realty Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Office,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
13,19108.0,302.0,RHP,Ryman Hospitality Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Hotel & Motel,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
14,19993.0,302.0,PEB,Pebblebrook Hotel Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Hotel & Motel,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
15,18925.0,302.0,NNN,National Retail Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Retail,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
16,19047.0,302.0,EPR,EPR Properties,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Retail,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
17,19071.0,302.0,FRT,Federal Realty Investment Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Retail,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
18,16870.0,44.0,REG,Regency Centers Corp,NASDAQ,XNAS,REIT - Retail,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
19,18700.0,302.0,ACC,American Campus Communities Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
20,18726.0,302.0,AIV,Apartment Investment & Management Co,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
21,18851.0,302.0,CPT,Camden Property Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
22,19052.0,302.0,ELS,Equity Lifestyle Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
23,19335.0,302.0,MAA,Mid-America Apartment Communities Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
24,19694.0,302.0,UDR,UDR Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
25,20221.0,302.0,AMH,American Homes 4 Rent Class A,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
26,20509.0,302.0,INVH,Invitation Homes Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
27,19021.0,302.0,EGP,EastGroup Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
28,19060.0,302.0,EXR,Extra Space Storage Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
29,19082.0,302.0,FR,First Industrial Realty Trust Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68184,787617.0,18.0,NWF,NWF Group PLC,LONDON STOCK EXCHANGE,XLON,Oil & Gas Refining & Marketing,Energy,United Kingdom,GB,...,39965,39966,39967,39968,39969,7.400000e+07,NaN,7.050000e+07,NaN,8.650000e+07
68185,18975.0,302.0,DSW,Designer Brands Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Apparel Stores,Consumer Cyclical,United States,US,...,28672,28673,28674,28675,61086,8.630090e+08,8.789560e+08,9.770930e+08,9.832600e+08,9.552190e+08
68186,278708.0,669.0,GTP,Colt Resources Inc,TSX VENTURE EXCHANGE,XTSX,Industrial Metals & Minerals,Basic Materials,Canada,CA,...,2722,12,3406,6845,6846,4.811237e+06,3.623523e+06,2.834813e+06,2.773843e+06,5.553772e+06
68187,215463.0,144.0,WR4D,DropCar Inc,BOERSE STUTTGART,XSTU,Software - Application,Technology,Germany,DE,...,41993,28671,2,3,4,6.768752e+06,6.974285e+06,1.086322e+07,8.731801e+06,6.915447e+06
68188,737888.0,17.0,TI3,Tintri Inc,BOERSE BERLIN,XBER,Software - Application,Technology,Germany,DE,...,41978,28679,41993,28671,28672,9.150800e+07,8.409800e+07,1.107010e+08,8.771000e+07,6.113000e+07
68189,16494.0,44.0,IDTI,Integrated Device Technology Inc,NASDAQ,XNAS,Semiconductors,Technology,United States,US,...,1,2,3,4,5,5.850490e+08,5.491140e+08,5.476060e+08,5.955180e+08,6.452790e+08
68190,16018.0,44.0,ARRS,ARRIS International PLC,NASDAQ,XNAS,Communication Equipment,Technology,United States,US,...,1,2,3,4,5,2.913540e+09,2.832112e+09,2.973463e+09,2.843385e+09,3.112639e+09
68191,17505.0,44.0,PGLC,Pershing Gold Corp,NASDAQ,XNAS,Gold,Basic Materials,United States,US,...,1,2,3,4,5,1.389354e+07,1.062716e+07,6.272445e+06,2.635551e+06,1.672868e+06
68192,114161.0,16.0,HQ1N,ARCA biopharma Inc,DEUTSCHE BOERSE AG,XFRA,Biotechnology,Healthcare,Germany,DE,...,1,2,3,4,5,1.229900e+07,1.272700e+07,1.001000e+07,8.392000e+06,6.777000e+06
68193,1581491.0,25.0,EXDID,Exactus Inc,OTC MARKETS,PINX,Diagnostics & Research,Healthcare,United States,US,...,937,1,2,3,4,1.053151e+06,1.726730e+05,8.543900e+04,8.145100e+04,1.308300e+04
68194,546054.0,16.0,RT6,Roadrunner Transportation Systems Inc,DEUTSCHE BOERSE AG,XFRA,Trucking,Industrials,Germany,DE,...,1,2,3,4,5,3.983860e+08,4.096270e+08,3.703330e+08,3.572650e+08,3.510380e+08
68195,610850.0,669.0,CH,Urban Select Capital Corp,TSX VENTURE EXCHANGE,XTSX,Asset Management,Financial Services,Canada,CA,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
68196,2836.0,1.0,CIOIY,Carillion PLC ADR,OTC GREY MARKET,GREY,Engineering & Construction,Industrials,United States,US,...,6845,6846,13,935,936,1.926700e+09,NaN,2.269800e+09,NaN,1.682200e+09
68197,8071.0,25.0,ANWWQ,Aegean Marine Petroleum Network Inc,OTC MARKETS,PINX,Oil & Gas Integrated,Energy,United States,US,...,6846,13,935,936,937,7.814100e+08,9.092520e+08,9.632820e+08,9.607180e+08,1.003490e+09
68198,14719.0,25.0,SHRV,Sharing Services Global Corp,OTC MARKETS,PINX,Conglomerates,Industrials,United States,US,...,28672,28673,28674,28675,61086,9.308330e+05,2.981711e+06,4.055695e+06,6.872435e+06,1.124145e+07
68199,14489.0,25.0,MMJJF,MMJ Group Holdings Ltd,OTC MARKETS,PINX,Drug Manufacturers - Specialty & Generic,Healthcare,United States,US,...,936,937,1,2,3,NaN,NaN,NaN,NaN,NaN
68200,620954.0,144.0,US23334L1026,Designer Brands Inc,BOERSE STUTTGART,XSTU,Apparel Stores,Consumer Cyclical,Germany,DE,...,28672,28673,28674,28675,61086,8.630090e+08,8.789560e+08,9.770930e+08,9.832600e+08,9.552190e+08
68201,11181.0,25.0,REZIF,Radisson Hospitality AB,OTC MARKETS,PINX,Lodging,Consumer Cyclical,United States,US,...,937,1,2,3,4,1.732000e+08,1.623010e+08,1.701000e+08,1.773000e+08,4.041000e+08
68202,39841.0,138.0,3P7,Pandora A/S,XETRA,XETR,Luxury Goods,Consumer Cyclical,Germany,DE,...,937,1,2,3,4,7.348000e+09,6.744000e+09,6.688000e+09,6.434000e+09,7.734000e+09
68203,232385.0,16.0,37HA,Global Ship Lease Inc,DEUTSCHE BOERSE AG,XFRA,Shipping & Ports,Industrials,Germany,DE,...,937,1,2,3,4,7.022700e+07,7.738800e+07,9.710500e+07,7.651500e+07,1.055780e+08
68204,827527.0,144.0,RHSP,Seanergy Maritime Holdings Corp,BOERSE STUTTGART,XSTU,Shipping & Ports,Industrials,Germany,DE,...,937,1,2,3,4,1.726000e+07,1.949800e+07,8.240000e+06,2.225100e+07,4.210400e+07
68205,812744.0,16.0,19K,Cormedix Inc,DEUTSCHE BOERSE AG,XFRA,Biotechnology,Healthcare,Germany,DE,...,937,1,2,3,4,1.385267e+07,1.326765e+07,9.403666e+06,5.740747e+06,7.870214e+06
68206,812744.0,17.0,19K,Cormedix Inc,BOERSE BERLIN,XBER,Biotechnology,Healthcare,Germany,DE,...,1,2,3,4,5,1.326765e+07,9.403666e+06,5.740747e+06,7.870214e+06,1.866505e+07
68207,15942.0,44.0,ACET,Aceto Corp,NASDAQ,XNAS,Drug Manufacturers - Specialty & Generic,Healthcare,United States,US,...,1,2,3,4,5,4.773840e+08,4.876410e+08,5.026270e+08,5.166000e+08,5.046870e+08
68208,17740.0,44.0,THST,Truett-Hurst Inc Class A,NASDAQ,XNAS,Beverages - Wineries & Distilleries,Consumer Defensive,United States,US,...,1,2,3,4,5,2.580700e+07,2.492200e+07,2.475100e+07,1.356400e+07,1.184800e+07
68209,26237.0,669.0,ALI,Altitude Resources Inc,TSX VENTURE EXCHANGE,XTSX,Coal,Basic Materials,Canada,CA,...,28671,28672,28673,28674,28675,8.399100e+04,5.426900e+04,7.217330e+05,7.538170e+05,3.670100e+05
68210,11936.0,25.0,ACARQ,ActiveCare Inc,OTC MARKETS,PINX,Medical Devices,Healthcare,United States,US,...,6845,6846,13,935,936,1.783889e+06,1.504331e+06,2.387897e+06,2.715392e+06,1.816621e+06
68211,201266.0,17.0,TY2,Citycon Oyj,BOERSE BERLIN,XBER,Real Estate Services,Real Estate,Germany,DE,...,1,2,3,4,5,NaN,NaN,NaN,NaN,NaN
68212,1626.0,25.0,PTVYF,3 Sixty Risk Solutions Ltd,OTC MARKETS,PINX,Conglomerates,Industrials,United States,US,...,1,2,3,4,5,7.348900e+04,1.298750e+05,5.936600e+04,3.792200e+04,3.291500e+07
68213,5772.0,25.0,PCFO,Pacific Office Properties Trust Inc,OTC MARKETS,PINX,REIT - Office,Real Estate,United States,US,...,937,1,2,3,4,NaN,NaN,NaN,NaN,NaN

[return to top of this section](#value),
[return to the top](#top)
<a id="rule6"></a>
### Rule 6. Operating Cash Flow growth for the past 7 yrs

[return to top of this section](#value),
[return to the top](#top)
<a id="rule7"></a>
### Rule 7. *Owner earnings* growth rate > 6% over past 7 years

$owner\ earning's = net\ income + amortization\ and\ depreciation\ - normal\ capital\ expenditures$

Benjamin Graham mentions in *Intelligent Investor* that, because it adjusts for entries like amortization and depreciation that do not affect the company's cash balances, *owner earnings* is a better measure to reported net income.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule8"></a>
### Rule 8. Long-term debt < 50% of total capital

[return to top of this section](#value),
[return to the top](#top)
<a id="rule9"></a>
### Rule 9. NAV per share > Stock Price

The definition of NAV as described by Graham in the Intelligent Investor

$net\ asset\ value\ (NAV)\ = total\ assets\ - intangible\ assets\ (patents,\ goodwill)\ - total\ liabilities\$

[return to top of this section](#value),
[return to the top](#top)
<a id="rule10"></a>
### Rule 10. Growth Stocks as defined in *The Intelligent Investor*

*'The term â€œgrowth stockâ€ is applied to one which has increased its per-share earnings in the past at well above the rate for common stocks generally and is expected to continue to do so in the future. (Some authorities would say that a true growth stock should be expected at least to double its per-share earnings in ten yearsâ€”i.e., to increase them at a __compounded annual rate of over 7.1%__.)'* - Benjamin Graham, *The Intelligent Investor*

$$Compounded\ Annual\ Growth\ Rate\ (CAGR)\ = \left(\frac{EV}{BV}\right)^{\frac{1}{n}}-1 > 7.1\%$$

$$EV = Ending\ value\$$

$$BV = Beginning\ value\$$

$$n = Number\ of\ periods\ (months,\ years,\ etc.)\$$

[return to top of this section](#value),
[return to the top](#top)
<a id="rule11"></a>
### Rule 11. Positive ratio of earnings to fixed charges

[return to top of this section](#value),
[return to the top](#top)
<a id="rule12"></a>
### Rule 12.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule13"></a>
### Rule 13.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule14"></a>
### Rule 14.

[return to top of this section](#value),
[return to the top](#top)
<a id="rule15"></a>
### Rule 15.

[return to top of this section](#value),
[return to the top](#top)
<a id="mergerules"></a>
### Merging DataFrames

In [145]:
df_rules = (df_rule1
            .merge(df_rule2, on=['ticker_id', 'exchange_id'])
            .merge(df_rule3, on=['ticker_id', 'exchange_id'])
            .merge(df_rule4, on=['ticker_id', 'exchange_id'])
           )

In [146]:
df_rules.columns.values

array(['ticker_id', 'exchange_id', 'country', 'exchange_sym', 'ticker',
       'company', 'sector', 'industry', 'stock_type', 'style', 'Year_Y_6',
       'Year_Y_5', 'Year_Y_4', 'Year_Y_3', 'Year_Y_2', 'Year_Y_1',
       'Net_Income_Y6', 'Net_Income_Y5', 'Net_Income_Y4', 'Net_Income_Y3',
       'Net_Income_Y2', 'Net_Income_Y1', 'Y10', 'Y9', 'Y8', 'Y7', 'Y6',
       'Y5', 'Dividend_Y10', 'Dividend_Y9', 'Dividend_Y8', 'Dividend_Y7',
       'Dividend_Y6', 'Dividend_Y5', 'Dividend_Y4', 'Dividend_Y3',
       'PE_TTM', 'PE_2018', 'PE_2017', 'PE_2016', 'PE_2015', 'PE_2014',
       'PE_2013', 'PE_2012', 'PB_TTM', 'PB_2018', 'PB_2017', 'PB_2016',
       'PB_2015', 'PB_2014'], dtype=object)

In [160]:
dfr = (df_rules
       .where(df_rules['country'] == 'USA')
       .groupby(['country', 'exchange_sym', 'ticker', 'company', 'sector', 'industry'])
       .mean()
       .sort_values(by='exchange_sym', ascending=True)
      )

In [161]:
dfr

                                                                                                                              ticker_id  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers            11637.0
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction     9413.0
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General          7082.0
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction    11682.0
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General          8462.0
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US          6100.0
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe      9351.0
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers             6268.0
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US          9752.0
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution             15692.0
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US         17076.0
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US         16548.0
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US         16671.0
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US         16337.0
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management              16012.0
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management              16436.0
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management              18718.0
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty         18744.0
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US         18793.0
                     COF    Capital One Financial Corp                         Financial Services Credit Services               18860.0
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers            19092.0
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US         19062.0
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets               19127.0
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services               19376.0

                                                                                                                              exchange_id  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers                 25.0
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction         25.0
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General              25.0
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction         25.0
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General              25.0
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US              25.0
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe          25.0
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers                 25.0
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US              25.0
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution                 547.0
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US              44.0
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US              44.0
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US              44.0
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US              44.0
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management                   44.0
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management                   44.0
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management                  302.0
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty             302.0
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US             302.0
                     COF    Capital One Financial Corp                         Financial Services Credit Services                   302.0
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers                302.0
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US             302.0
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets                   302.0
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services                   302.0

                                                                                                                              Net_Income_Y6  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           4.165809e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.881063e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        4.302000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.897300e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        5.211093e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        3.190058e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.845912e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           2.194720e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        1.217400e+07
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            6.999300e+07
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.617000e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.850800e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        1.243100e+07
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        2.492000e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             8.150000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.909580e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             8.240000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        5.596000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.211000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              7.911000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           1.160860e+08
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        1.591390e+08
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.827000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              3.248660e+08

                                                                                                                              Net_Income_Y5  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           4.165809e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.881063e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        4.302000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.897300e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        5.211093e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        3.190058e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.845912e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           2.022700e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        1.217400e+07
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            6.999300e+07
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.617000e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.850800e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        1.243100e+07
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        2.492000e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             8.150000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.909580e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             8.240000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        5.596000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.211000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              7.911000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           1.160860e+08
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        1.591390e+08
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.827000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              3.248660e+08

                                                                                                                              Net_Income_Y4  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           3.845990e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.520646e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        3.807000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.984600e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        8.618423e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        1.937088e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    3.433825e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           1.793280e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        8.984000e+06
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            3.012780e+08
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        8.040200e+07
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.307000e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        9.455000e+06
                     FBIZ   First Business Financial Services Inc              Financial Services Banks - Regional - US        1.845700e+07
                     ARCC   Ares Capital Corp                                  Financial Services Asset Management             5.230000e+08
                     HNNA   Hennessy Advisors Inc                              Financial Services Asset Management             1.474550e+08
        XNYS         IVZ    Invesco Ltd                                        Financial Services Asset Management             6.710000e+08
                     AGO    Assured Guaranty Ltd                               Financial Services Insurance - Specialty        3.682000e+08
                     BHLB   Berkshire Hills Bancorp Inc                        Financial Services Banks - Regional - US        4.277000e+06
                     COF    Capital One Financial Corp                         Financial Services Credit Services              6.035000e+09
                     F      Ford Motor Co                                      Consumer Cyclical  Auto Manufacturers           9.444300e+07
                     FNB    F N B Corp                                         Financial Services Banks - Regional - US        9.607000e+07
                     GS     Goldman Sachs Group Inc                            Financial Services Capital Markets              1.128000e+09
                     NNI    Nelnet Inc Class A                                 Financial Services Credit Services              6.142730e+08

                                                                                                                              Net_Income_Y3  \
country exchange_sym ticker company                                            sector             industry
USA     PINX         BMWYY  Bayerische Motoren Werke AG ADR                    Consumer Cyclical  Auto Manufacturers           3.548578e+09
                     CCOHF  China State Construction International Holdings... Industrials        Engineering & Construction   3.196395e+09
                     CLLDY  CapitaLand Ltd ADR                                 Real Estate        Real Estate - General        2.063000e+09
                     CWYCY  China Railway Construction Corp Ltd ADR            Industrials        Engineering & Construction   2.802500e+09
                     HNGKY  Hongkong Land Holdings Ltd ADR                     Real Estate        Real Estate - General        8.043335e+09
                     ISBA   Isabella Bank Corp                                 Financial Services Banks - Regional - US        1.851480e+06
                     NBNKF  Nordea Bank Abp                                    Financial Services Banks - Regional - Europe    4.017410e+10
                     NSANY  Nissan Motor Co Ltd ADR                            Consumer Cyclical  Auto Manufacturers           1.456100e+08
                     QNTO   Quaint Oak Bancorp Inc                             Financial Services Banks - Regional - US        8.301000e+06
        XASE         DIT    Amcon Distributing Co                              Consumer Defensive Food Distribution            1.702160e+08
        XNAS         UMPQ   Umpqua Holdings Corp                               Financial Services Banks - Regional - US        1.173770e+08
                     LCNB   LCNB Corp                                          Financial Services Banks - Regional - US        2.301600e+07
                     HOPE   Hope Bancorp Inc                                   Financial Services Banks - Regional - US        6.416000e+06

In [154]:
dfr.columns

Index(['ticker_id', 'exchange_id', 'Net_Income_Y6', 'Net_Income_Y5',
       'Net_Income_Y4', 'Net_Income_Y3', 'Net_Income_Y2', 'Net_Income_Y1',
       'Dividend_Y10', 'Dividend_Y9', 'Dividend_Y8', 'Dividend_Y7',
       'Dividend_Y6', 'Dividend_Y5', 'Dividend_Y4', 'Dividend_Y3', 'PE_TTM',
       'PE_2018', 'PE_2017', 'PE_2016', 'PE_2015', 'PE_2014', 'PE_2013',
       'PE_2012', 'PB_TTM', 'PB_2018', 'PB_2017', 'PB_2016', 'PB_2015',
       'PB_2014'],
      dtype='object')

<a id="additional"></a>
[return to the top](#top)

## Additional sample / test code

In [164]:
(df_master
 .where(df_master['avevol'] > 1000000).dropna(axis=0, how='all')
)

,ticker_id,exchange_id,ticker,company,exchange,exchange_sym,industry,sector,country,country_c2,...,aprvol,avevol,Forward_PE,pb,ps,pc,currency,currency_code,fy_end,updated_date
4,20371.0,302.0,STOR,STORE Capital Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Diversified,Real Estate,United States,US,...,1.500000e+07,1.700000e+07,NaN,1.9,12.7,17.5,United States Dollar,USD,2019-12-31,2019-04-08
14,19993.0,302.0,PEB,Pebblebrook Hotel Trust,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Hotel & Motel,Real Estate,United States,US,...,1.100000e+07,1.200000e+07,36.8,1.1,2.9,17.5,United States Dollar,USD,2019-12-31,2019-04-08
15,18925.0,302.0,NNN,National Retail Properties Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Retail,Real Estate,United States,US,...,6.255050e+05,1.100000e+07,NaN,2.5,13.5,17.8,United States Dollar,USD,2019-12-31,2019-04-08
20,18726.0,302.0,AIV,Apartment Investment & Management Co,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,6.082250e+05,1.300000e+07,181.8,4.8,7.9,19.4,United States Dollar,USD,2019-12-31,2019-04-08
24,19694.0,302.0,UDR,UDR Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,1.100000e+07,1.500000e+07,NaN,4.5,11.7,21.9,United States Dollar,USD,2019-12-31,2019-04-08
25,20221.0,302.0,AMH,American Homes 4 Rent Class A,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,9.166240e+05,2.000000e+07,20.6,1.3,6.3,16.5,United States Dollar,USD,2019-12-31,2019-04-08
26,20509.0,302.0,INVH,Invitation Homes Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Residential,Real Estate,United States,US,...,2.700000e+07,3.400000e+07,19.8,1.6,7.4,22.7,United States Dollar,USD,2019-12-31,2019-04-08
31,19677.0,302.0,CUBE,CubeSmart,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,8.983220e+05,1.400000e+07,NaN,3.5,10.0,19.6,United States Dollar,USD,2019-12-31,2019-04-08
32,19013.0,302.0,DRE,Duke Realty Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Industrial,Real Estate,United States,US,...,1.700000e+07,2.100000e+07,57.1,2.4,11.7,22.9,United States Dollar,USD,2019-12-31,2019-04-08
34,19162.0,302.0,HCP,HCP Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,2.600000e+07,3.200000e+07,69.4,2.5,8.3,17.5,United States Dollar,USD,2019-12-31,2019-04-08
35,19322.0,302.0,MPW,Medical Properties Trust Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,1.600000e+07,3.600000e+07,NaN,1.6,8.8,15.3,United States Dollar,USD,2019-12-31,2019-04-08
36,20144.0,302.0,HTA,Healthcare Trust of America Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,REIT - Healthcare Facilities,Real Estate,United States,US,...,9.589930e+05,1.400000e+07,NaN,1.8,8.6,17.8,United States Dollar,USD,2019-12-31,2019-04-08
38,19367.0,302.0,NOV,National Oilwell Varco Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Equipment & Services,Energy,United States,US,...,2.900000e+07,3.700000e+07,112.4,0.8,1.3,20.5,United States Dollar,USD,2019-12-31,2019-04-08
39,18725.0,302.0,APA,Apache Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,5.500000e+07,4.400000e+07,50.8,1.9,1.9,3.6,United States Dollar,USD,2019-12-31,2019-04-08
40,18989.0,302.0,DVN,Devon Energy Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,7.200000e+07,8.100000e+07,22.8,1.5,1.5,6.0,United States Dollar,USD,2019-12-31,2019-04-08
41,19051.0,302.0,EQT,EQT Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,2.600000e+07,4.400000e+07,13.7,0.5,1.2,1.9,United States Dollar,USD,2019-12-31,2019-04-08
42,19305.0,302.0,MRO,Marathon Oil Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,9.200000e+07,1.200000e+08,47.8,1.2,2.5,4.6,United States Dollar,USD,2019-12-31,2019-04-08
43,19389.0,302.0,NBL,Noble Energy Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas E&P,Energy,United States,US,...,5.500000e+07,6.000000e+07,285.7,1.3,2.5,5.3,United States Dollar,USD,2019-12-31,2019-04-08
44,18962.0,302.0,ENLC,EnLink Midstream LLC,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,2.000000e+07,3.100000e+07,38.3,4.0,0.3,2.7,United States Dollar,USD,2019-12-31,2019-04-08
48,20705.0,302.0,ETRN,Equitrans Midstream Corp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,2.900000e+07,2.000000e+07,3.7,12.0,3.7,7.6,United States Dollar,USD,2019-12-31,2019-04-08
49,20245.0,302.0,PAGP,Plains GP Holdings LP Class A,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Oil & Gas Midstream,Energy,United States,US,...,1.300000e+07,1.400000e+07,20.5,2.2,0.2,2.7,United States Dollar,USD,2019-12-31,2019-04-08
59,4025.0,1.0,PTPKF,Pakuwon Jati Tbk,OTC GREY MARKET,GREY,Real Estate Services,Real Estate,United States,US,...,1.028000e+09,1.500000e+07,NaN,4.8,6.9,13.9,United States Dollar,USD,2019-12-31,2019-04-08
91,16010.0,44.0,ACGL,Arch Capital Group Ltd,NASDAQ,XNAS,Insurance - Diversified,Financial Services,United States,US,...,8.424270e+05,1.100000e+07,13.1,1.5,2.5,8.6,United States Dollar,USD,2019-12-31,2019-04-08
121,19079.0,302.0,FBP,First BanCorp,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Banks - Regional - US,Financial Services,United States,US,...,1.500000e+07,1.500000e+07,NaN,1.3,4.4,8.7,United States Dollar,USD,2019-12-31,2019-04-08
130,20368.0,302.0,AXTA,Axalta Coating Systems Ltd,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Specialty Chemicals,Basic Materials,United States,US,...,2.400000e+07,1.900000e+07,19.3,5.2,1.4,13.1,United States Dollar,USD,2019-12-31,2019-04-08
137,18677.0,302.0,AEM,Agnico Eagle Mines Ltd,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,9.789010e+05,1.200000e+07,97.1,2.2,4.6,16.7,United States Dollar,USD,2019-12-31,2019-04-08
138,18720.0,302.0,AU,Anglogold Ashanti Ltd ADR,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,2.300000e+07,3.900000e+07,19.6,2.1,1.4,6.5,United States Dollar,USD,2019-12-31,2019-04-08
139,19779.0,302.0,AUY,Yamana Gold Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,1.140000e+08,1.280000e+08,32.4,0.6,1.4,6.1,United States Dollar,USD,2019-12-31,2019-04-08
140,19125.0,302.0,GFI,Gold Fields Ltd ADR,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Gold,Basic Materials,United States,US,...,1.800000e+07,5.000000e+07,14.8,1.2,1.2,5.7,United States Dollar,USD,2019-12-31,2019-04-08
141,15837.0,547.0,BTG,B2Gold Corp,NYSE MKT LLC,XASE,Gold,Basic Materials,United States,US,...,2.900000e+07,4.800000e+07,17.0,1.7,2.4,6.5,United States Dollar,USD,2019-12-31,2019-04-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111703,1294365.0,563.0,399107,Shenzhen SE A Share PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.770000e+08,3.590000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111705,1294367.0,563.0,399002,Shenzhen SE Component A Share PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.620000e+08,1.630000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111706,1294368.0,563.0,399001,Shenzhen SE Component PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.620000e+08,1.630000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111707,1294369.0,563.0,399106,Shenzhen SE Composite PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.770000e+08,3.590000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111708,1294370.0,563.0,399100,Shenzhen SE New PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,3.680000e+08,3.530000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111709,1294371.0,563.0,399101,Shenzhen SE SME Composite PR CNY,SHENZHEN STOCK EXCHANGE,XSHE,â€”,â€”,China,CN,...,1.640000e+08,1.540000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111710,153390.0,569.0,000001,SSE Composite PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.691000e+09,3.161000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111711,298292.0,569.0,000017,SSE New Composite PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.683000e+09,3.145000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111712,298331.0,569.0,000002,SSE A Share PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,4.683000e+09,3.156000e+09,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111713,612154.0,569.0,000016,SSE 50 A Share PR CNY,SHANGHAI STOCK EXCHANGE,XSHG,â€”,â€”,China,CN,...,7.300000e+08,4.380000e+08,NaN,NaN,NaN,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111715,1303744.0,569.0,601595,Shanghai Film Co Ltd A,SHANGHAI STOCK EXCHANGE,XSHG,Media - Diversified,Consumer Cyclical,China,CN,...,1.600000e+07,2.500000e+07,NaN,2.6,4.9,46.1,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111716,1315017.0,563.0,002725,Zhejiang Yueling Co Ltd Class A,SHENZHEN STOCK EXCHANGE,XSHE,Auto Parts,Consumer Cyclical,China,CN,...,5.300000e+07,1.230000e+08,NaN,2.8,3.0,141.7,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111717,164599.0,569.0,603009,Shanghai Beite Technology Co Ltd,SHANGHAI STOCK EXCHANGE,XSHG,Auto Parts,Consumer Cyclical,China,CN,...,2.650000e+08,7.000000e+07,NaN,1.9,3.6,58.0,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111718,1166517.0,569.0,603003,Shanghai Lonyer Fuels Co Ltd Class A,SHANGHAI STOCK EXCHANGE,XSHG,Oil & Gas Integrated,Energy,China,CN,...,4.400000e+07,5.500000e+07,NaN,0.9,0.2,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111719,216688.0,569.0,603189,Shanghai Wondertek Software Corp Ltd A,SHANGHAI STOCK EXCHANGE,XSHG,Software - Application,Technology,China,CN,...,1.390000e+08,4.500000e+07,NaN,4.3,19.1,94.6,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111721,1085718.0,563.0,002825,Shanghai Nar Industrial Co Ltd A,SHENZHEN STOCK EXCHANGE,XSHE,Publishing,Consumer Cyclical,China,CN,...,1.500000e+07,2.200000e+07,NaN,3.7,2.9,27.7,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111722,1304101.0,569.0,603733,Xianhe Co Ltd,SHANGHAI STOCK EXCHANGE,XSHG,Paper & Paper Products,Basic Materials,China,CN,...,2.610000e+08,6.600000e+07,NaN,3.7,2.8,NaN,China Yuan Renminbi,RMB,2012-07-31,2019-04-07
111730,7271.0,25.0,INKW,Greene Concepts Inc,OTC MARKETS,PINX,Computer Systems,Technology,United States,US,...,1.700000e+07,1.200000e+07,NaN,NaN,NaN,NaN,United States Dollar,USD,2015-07-31,2019-04-07
111844,143738.0,433.0,MAY,Melbana Energy Ltd,ASX - ALL MARKETS,XASX,Oil & Gas E&P,Energy,Australia,AU,...,2.300000e+07,2.100000e+07,NaN,3.1,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111848,282012.0,433.0,INP,IncentiaPay Ltd,ASX - ALL MARKETS,XASX,Software - Infrastructure,Technology,Australia,AU,...,2.200000e+07,2.800000e+07,NaN,0.5,0.2,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111850,789366.0,433.0,SHH,Shree Minerals Ltd,ASX - ALL MARKETS,XASX,Industrial Metals & Minerals,Basic Materials,Australia,AU,...,5.999000e+04,1.200000e+07,NaN,1.8,1.0,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111854,281530.0,433.0,IMU,Imugene Ltd,ASX - ALL MARKETS,XASX,Biotechnology,Healthcare,Australia,AU,...,3.400000e+07,3.900000e+07,NaN,2.1,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111855,215024.0,433.0,IVX,Invion Ltd,ASX - ALL MARKETS,XASX,Drug Manufacturers - Specialty & Generic,Healthcare,Australia,AU,...,1.300000e+07,1.500000e+07,NaN,13.4,123.0,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111856,561749.0,433.0,XTD,XTD Ltd,ASX - ALL MARKETS,XASX,Marketing Services,Consumer Cyclical,Australia,AU,...,2.500000e+04,1.000000e+07,NaN,0.9,1.1,119.1,Australia Dollar,AUD,2018-06-30,2019-04-07
111858,648642.0,433.0,PCK,Painchek Ltd,ASX - ALL MARKETS,XASX,Health Information Services,Technology,Australia,AU,...,2.000000e+05,1.000000e+07,NaN,13.0,423.1,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
111862,675692.0,433.0,SYA,Sayona Mining Ltd,ASX - ALL MARKETS,XASX,Industrial Metals & Minerals,Basic Materials,Australia,AU,...,1.000000e+07,2.000000e+07,NaN,1.2,NaN,NaN,Australia Dollar,AUD,2018-06-30,2019-04-07
112019,18975.0,302.0,DSW,Designer Brands Inc,"NEW YORK STOCK EXCHANGE, INC.",XNYS,Apparel Stores,Consumer Cyclical,United States,US,...,9.062420e+05,1.700000e+07,12.2,2.1,0.6,10.1,United States Dollar,USD,2020-02-02,2019-03-26
112091,16494.0,44.0,IDTI,Integrated Device Technology Inc,NASDAQ,XNAS,Semiconductors,Technology,United States,US,...,3.100000e+07,2.500000e+07,22.7,10.4,7.1,21.3,United States Dollar,USD,2019-04-01,2019-03-26
112092,16018.0,44.0,ARRS,ARRIS International PLC,NASDAQ,XNAS,Communication Equipment,Technology,United States,US,...,5.100000e+07,2.100000e+07,NaN,1.9,0.9,8.9,United States Dollar,USD,2019-12-31,2019-04-04
112116,15942.0,44.0,ACET,Aceto Corp,NASDAQ,XNAS,Drug Manufacturers - Specialty & Generic,Healthcare,United States,US,...,1.200000e+07,3.300000e+07,NaN,0.1,0.0,14.5,United States Dollar,USD,2019-06-30,2019-03-25

In [16]:
df = None # Set df variable to none to close db connection

Database connection for file db/mstables2.sqlite closed.